@font-face {
  font-family: "ZHSCNMT--GBK1-0";
  src: url("../../fonts/zhscnm.ttf");
}
@font-face {
  font-family: "copperplateGothic";
  src: url("../../fonts/copperplateGothic.ttf");
}
.input {
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #2a8ed0;
  padding-left: 40px;
  color: #fff;
}
.input::-webkit-input-placeholder {
  color: #5e8ec1;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", "STHeiti", "MingLiu";
  overflow: auto;
  min-width: 1600px;
  min-height: 900px;
  position: absolute;
}
.container {
  width: 100%;
  height: 100%;
  background: url(../img/login/bg.png) no-repeat center center / 100% 100%;
}
.container > * {
  position: absolute;
}
.container > header {
  width: 450px;
  height: 60px;
  line-height: 60px;
  top: 0;
  right: 0;
}
.container > header > div {
  float: left;
  margin-left: 25px;
  cursor: pointer;
}
.container > header > div > img {
  position: relative;
  top: 3px;
}
.container > header > div > span {
  margin-left: 5px;
}
.container > main {
  width: 700px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -350px;
}
.container > main > div:first-child {
  height: 100px;
  background: url(../img/login/logo.png) no-repeat center center;
}
.container > main > div:nth-child(2) {
  height: 37px;
  line-height: 36px;
  font-family: "ZHSCNMT--GBK1-0";
  font-size: 44px;
  text-align: center;
  margin-top: 30px;
}
.container > main > div:nth-child(3) {
  width: 394px;
  height: 330px;
  margin: 100px auto 0 auto;
}
.container > main > div:nth-child(3) > div:first-child {
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #e6e6e6;
}
.container > main > div:nth-child(3) > div:first-child > span {
  font-size: 24px;
}
.container > main > div:nth-child(3) > div:first-child > strong {
  font-family: "copperplateGothic";
  font-size: 14px;
  font-weight: normal;
  color: #cccdd1;
}
.container > main > div:nth-child(3) > div:nth-child(2) {
  margin-top: 30px;
  height: 40px;
}
.container > main > div:nth-child(3) > div:nth-child(2) > input {
  background: transparent url(../img/login/user.png) no-repeat 3% center;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #2a8ed0;
  padding-left: 40px;
  color: #fff;
}
.container > main > div:nth-child(3) > div:nth-child(2) > input::-webkit-input-placeholder {
  color: #5e8ec1;
}
.container > main > div:nth-child(3) > div:nth-child(3) {
  margin-top: 40px;
  height: 40px;
}
.container > main > div:nth-child(3) > div:nth-child(3) > input {
  background: transparent url(../img/login/password.png) no-repeat 3% center;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #2a8ed0;
  padding-left: 40px;
  color: #fff;
}
.container > main > div:nth-child(3) > div:nth-child(3) > input::-webkit-input-placeholder {
  color: #5e8ec1;
}
.container > main > div:nth-child(3) > div:nth-child(4) {
  color: #1fa2f8;
  font-size: 14px;
  text-align: right;
  margin-top: 20px;
}
.container > main > div:nth-child(3) > div:nth-child(4) > span {
  cursor: pointer;
}
.container > main > div:nth-child(3) > div:nth-child(5) {
  height: 37px;
  line-height: 37px;
}
.container > main > div:nth-child(3) > div:nth-child(5) > button {
  width: 244px;
  height: 37px;
  display: block;
  color: #fff;
  margin: 30px auto;
  background-color: #2c7cd6;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.33);
  border-radius: 19px;
  opacity: 0.9;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}
.container > main > div:nth-child(3) > div:last-child {
  margin-top: 30px;
  text-align: center;
  color: #1fa2f8;
  font-size: 16px;
}
.container > main > div:nth-child(3) > div:last-child > span {
  cursor: pointer;
}
.container > main > div:last-child {
  width: 394px;
  height: 330px;
  margin: 100px auto 0 auto;
  display: none;
}
.container > main > div:last-child > div:first-child {
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #e6e6e6;
}
.container > main > div:last-child > div:first-child > span {
  font-size: 24px;
}
.container > main > div:last-child > div:first-child > strong {
  font-family: "copperplateGothic";
  font-size: 14px;
  font-weight: normal;
  color: #cccdd1;
}
.container > main > div:last-child > div:nth-child(2) {
  margin-top: 30px;
  height: 40px;
}
.container > main > div:last-child > div:nth-child(2) > img {
  position: relative;
  left: 40%;
}
.container > main > div:last-child > div:nth-child(3) {
  margin-top: 40px;
  height: 40px;
}
.container > main > div:last-child > div:nth-child(3) > input {
  background: transparent url(../img/login/password.png) no-repeat 3% center;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #2a8ed0;
  padding-left: 40px;
  color: #fff;
}
.container > main > div:last-child > div:nth-child(3) > input::-webkit-input-placeholder {
  color: #5e8ec1;
}
.container > main > div:last-child > div:nth-child(4) {
  color: #1fa2f8;
  font-size: 14px;
  text-align: right;
  margin-top: 20px;
}
.container > main > div:last-child > div:nth-child(4) > span {
  cursor: pointer;
}
.container > main > div:last-child > div:nth-child(5) {
  height: 37px;
  line-height: 37px;
}
.container > main > div:last-child > div:nth-child(5) > button {
  width: 244px;
  height: 37px;
  display: block;
  color: #fff;
  margin: 30px auto;
  background-color: #2c7cd6;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.33);
  border-radius: 19px;
  opacity: 0.9;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}
.container > main > div:last-child > div:last-child {
  margin-top: 30px;
  text-align: center;
  color: #1fa2f8;
  font-size: 16px;
}
.container > main > div:last-child > div:last-child > span {
  cursor: pointer;
}
.container > footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  bottom: 0;
}
/* 提示框组件start */
.pop-message {
  min-width: 300px;
  height: 50px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  font-size: 18px;
  line-height: 50px;
  z-index: 10000;
  padding-left: 20px;
}
.pop-message-error {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c;
}
.pop-message-warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c;
}
.pop-message-success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a;
}
.pop-message-default {
  background-color: #edf2fc;
  border-color: #dcdfe6;
  color: #999da3;
}
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10000;
  top: 0;
  left: 0;
}
.loading > div {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background: url("../img/znbg/loading.gif") no-repeat;
}
