<link rel="stylesheet" href="../../css/slhy/pjda.css" />

<div class="main-container">
  <header>
    <header>执法服务评价档案</header>
    <div class="output-btn">
      <img src="../../img/slhy/pjda/img7.png" />
      <span>档案输出</span>
    </div>
    <i class="glyphicon glyphicon-remove close-btn"></i>
    <aside class="left-aside">
      <div>
        <img src="../../img/zxyp/jcj/1.png" />
        <article>
          <div>
            <div>姓名：陈思其</div>
            <div>岗位：办案民警</div>
          </div>
          <div>
            <div>警号：013921</div>
            <div>单位：玄武分局红山派出所</div>
          </div>
          <div>
            <div>职位：一级警长</div>
            <div>学历：本科</div>
          </div>
        </article>
      </div>
      <div>
        <p>
          <img src="../../img/slhy/pjda/img1.png" />
          <span class="span-line"></span>
          <span> <strong>15</strong>年就职于<strong>3</strong>个单位 </span>
        </p>
        <p>
          <img src="../../img/slhy/pjda/img2.png" />
          <span class="span-line"></span>
          <span>获得三等功以上表彰<strong>12</strong>项目 </span>
        </p>
        <p>
          <img src="../../img/slhy/pjda/img3.png" />
          <span class="span-line"></span>
          <span> 连续<strong>3</strong>年年度考核优秀 </span>
        </p>
      </div>
    </aside>
    <aside class="right-aside">
      <div>
        <div>
          <img src="../../img/slhy/pjda/img4.png" />
          <span>综合满意度</span>
          <img src="../../img/slhy/pjda/img4.png" />
        </div>
        <div id="chart1"></div>
      </div>
      <div>
        <div>
          <header>
            <img src="../../img/slhy/pjda/img4.png" />
            <span>单位排名</span>
            <img src="../../img/slhy/pjda/img4.png" />
          </header>
          <section>
            <div>第 <strong class="good-rank">3</strong> 名</div>
            <div>
              <img src="../../img/slhy/pjda/img5.png" />
            </div>
          </section>
        </div>
        <div>
          <header>
            <img src="../../img/slhy/pjda/img4.png" />
            <span>全局同岗位排名</span>
            <img src="../../img/slhy/pjda/img4.png" />
          </header>
          <section>
            <div>第 <strong class="bad-rank">36</strong> 名</div>
            <div>
              <img src="../../img/slhy/pjda/img6.png" />
            </div>
          </section>
        </div>
      </div>
    </aside>
  </header>
  <banner>
    <div>
      <header>
        <img src="../../img/slhy/pjda/img8.png" />
        <span>满意度分析</span>
      </header>
      <section>
        <aside id="chart2"></aside>
        <aside id="chart3"></aside>
      </section>
    </div>
    <div id="chart4"></div>
  </banner>
  <section>
    <header>
      <img src="../../img/slhy/pjda/img9.png" />
      <span>效能分析</span>
    </header>
    <aside class="left-aside">
      <ul class="time-line-container">
        <li>
          <span></span>
          <span>2019.01-2019.07</span>
        </li>
        <li>
          <span></span>
          <span>2019.01-2019.07</span>
        </li>
        <li>
          <span></span>
          <span>2019.01-2019.07</span>
        </li>
        <li>
          <span></span>
          <span>2019.01-2019.07</span>
        </li>
      </ul>
    </aside>
    <aside class="right-aside">
      <section>
        <header>
          <img src="../../img/slhy/pjda/img10.png" />
          <span>2019.01—至今</span>
          <span>玄武分局红山派出所</span>
          <span>岗位：接处警</span>
          <span>业务量：<strong>81</strong>件</span>
          <span>被投诉：<strong>3</strong>次</span>
          <span>满意度：<strong>94.11%</strong></span>
        </header>
        <section>
          <aside>
            <section>
              <aside>
                <header>
                  <img src="../../img/slhy/pjda/img11.png" />
                  <span>业务分析</span>
                </header>
                <section id="chart5"></section>
              </aside>
              <aside id="chart5"></aside>
            </section>
            <section>
              <aside>
                <header>
                  <img src="../../img/slhy/pjda/img11.png" />
                  <span>民意点赞</span>
                </header>
                <section>
                  <row>
                    <p>J32010017690711044</p>
                    <p>
                      2019-07-11 20：49：41
                      处理机动车与机动车警情，后期群众回复满意。
                    </p>
                  </row>
                </section>
              </aside>
              <aside>
                <header>
                  <img src="../../img/slhy/pjda/img11.png" />
                  <span>民意诉求</span>
                </header>
                <section></section>
              </aside>
            </section>
          </aside>
          <aside>
            <header>
              <img src="../../img/slhy/pjda/img11.png" />
              <span>群众诉求及评价</span>
            </header>
            <section>
              <aside>
                <header>
                  <img src="../../img/slhy/pjda/img12.png" />
                  <span>群众评价热词</span>
                </header>
              </aside>
              <aside>
                <header>
                  <img src="../../img/slhy/pjda/img12.png" />
                  <span>群众诉求热词</span>
                </header>
                <row>
                  <cell class="span-top1"></cell>
                  <cell>非常满意</cell>
                </row>
              </aside>
            </section>
          </aside>
        </section>
      </section>
    </aside>
    <div class="clear-div"></div>
  </section>
</div>
