<div class="main-container">
  <link rel="stylesheet" href="../../css/slhy/pjda_popup.css" />
  <script src="../../js/slhy/pjda_popup.js"></script>
  <header>
    <header>执法服务评价档案</header>
    <i class="glyphicon glyphicon-remove close-btn"></i>
    <aside class="left-aside">
      <div>
        <img src="../../img/slhy/zhzs/photo.png" />
        <article>
          <div>
            <div>姓名：<span class="top-val"></span></div>
            <div>岗位：<span class="top-val"></span></div>
          </div>
          <div>
            <div>警号：<span class="top-val"></span></div>
            <div>单位：<span class="top-val"></span></div>
          </div>
          <div>
            <div>职位：<span class="top-val"></span></div>
            <div>学历：<span class="top-val"></span></div>
          </div>
        </article>
      </div>
      <div>
        <p>
          <img src="../../img/slhy/pjda/img1.png" />
          <span class="span-line"></span>
          <span class="top-val"></span>
        </p>
        <p>
          <img src="../../img/slhy/pjda/img2.png" />
          <span class="span-line"></span>
          <span class="top-val"></span>
        </p>
        <p>
          <img src="../../img/slhy/pjda/img3.png" />
          <span class="span-line"></span>
          <span class="top-val"></span>
        </p>
      </div>
    </aside>
    <aside class="right-aside">
      <div>
        <div>
          <img src="../../img/slhy/pjda/img4.png" />
          <span>综合满意度</span>
          <img src="../../img/slhy/pjda/img4.png" />
        </div>
        <div id="chart1"></div>
      </div>
      <div>
        <div>
          <header>
            <img src="../../img/slhy/pjda/img4.png" />
            <span>本单位同岗位单位排名</span>
            <img src="../../img/slhy/pjda/img4.png" />
          </header>
          <section>
            <div>第 <strong class="good-rank"></strong> 名</div>
            <div>
              <img src="../../img/slhy/pjda/img5.png" />
            </div>
          </section>
        </div>
        <div>
          <header>
            <img src="../../img/slhy/pjda/img4.png" />
            <span>分局同岗位排名</span>
            <img src="../../img/slhy/pjda/img4.png" />
          </header>
          <section>
            <div>第 <strong class="bad-rank"></strong> 名</div>
            <div>
              <img src="../../img/slhy/pjda/img6.png" />
            </div>
          </section>
        </div>
      </div>
    </aside>
  </header>
  <banner>
    <div>
      <header>
        <img src="../../img/slhy/pjda/img8.png" />
        <span>满意度分析</span>
      </header>
      <section>
        <aside id="chart2"></aside>
        <aside id="chart3"></aside>
      </section>
    </div>
    <div id="chart4"></div>
  </banner>
  <section>
    <header>
      <img src="../../img/slhy/pjda/img9.png" />
      <span>效能分析</span>
    </header>
    <aside class="left-aside">
      <ul class="time-line-container"></ul>
    </aside>
    <aside class="right-aside"></aside>
    <div class="clear-div"></div>
  </section>
</div>
