<link rel="stylesheet" href="../../css/slhy/pjda.css" />

<div class="main-container">
  <header>
    <header>执法服务评价档案</header>
    <div class="output-btn">
      <img src="../../img/slhy/pjda/img7.png" />
      <span>档案输出</span>
    </div>
    <i class="glyphicon glyphicon-remove close-btn"></i>
    <aside class="left-aside">
      <div>
        <img src="../../img/slhy/pjda/1.jpg" />
        <article>
          <div>
            <div>姓名：郑岩基</div>
            <div>岗位：办案民警</div>
          </div>
          <div>
            <div>警号：018117</div>
            <div>单位：横溪派出所</div>
          </div>
          <div>
            <div>职位：一级警员</div>
            <div>学历：本科</div>
          </div>
        </article>
      </div>
      <div>
        <p>
          <img src="../../img/slhy/pjda/img1.png" />
          <span class="span-line"></span>
          <span> <strong>11</strong>年就职于<strong>2</strong>个单位 </span>
        </p>
        <p>
          <img src="../../img/slhy/pjda/img2.png" />
          <span class="span-line"></span>
          <span>获得三等功以上表彰<strong>1</strong>项目 </span>
        </p>
        <p>
          <img src="../../img/slhy/pjda/img3.png" />
          <span class="span-line"></span>
          <span> 连续<strong>2</strong>年年度考核优秀 </span>
        </p>
      </div>
    </aside>
    <aside class="right-aside">
      <div>
        <div>
          <img src="../../img/slhy/pjda/img4.png" />
          <span>综合满意度</span>
          <img src="../../img/slhy/pjda/img4.png" />
        </div>
        <div id="chart1"></div>
      </div>
      <div>
        <div>
          <header>
            <img src="../../img/slhy/pjda/img4.png" />
            <span>本单位同岗位单位排名</span>
            <img src="../../img/slhy/pjda/img4.png" />
          </header>
          <section>
            <div>第 <strong class="good-rank"></strong> 名</div>
            <div>
              <img src="../../img/slhy/pjda/img5.png" />
            </div>
          </section>
        </div>
        <div>
          <header>
            <img src="../../img/slhy/pjda/img4.png" />
            <span>分局同岗位排名</span>
            <img src="../../img/slhy/pjda/img4.png" />
          </header>
          <section>
            <div>第 <strong class="bad-rank"></strong> 名</div>
            <div>
              <img src="../../img/slhy/pjda/img6.png" />
            </div>
          </section>
        </div>
      </div>
    </aside>
  </header>
  <banner>
    <div>
      <header>
        <img src="../../img/slhy/pjda/img8.png" />
        <span>满意度分析</span>
      </header>
      <section>
        <aside id="chart2"></aside>
        <aside id="chart3"></aside>
      </section>
    </div>
    <div id="chart4"></div>
  </banner>
  <section>
    <header>
      <img src="../../img/slhy/pjda/img9.png" />
      <span>效能分析</span>
    </header>
    <aside class="left-aside">
      <ul class="time-line-container"></ul>
    </aside>
    <aside class="right-aside"></aside>
    <div class="clear-div"></div>
  </section>
</div>
