<link rel="stylesheet" href="../../css/slhy/pjda.css" />

<main>
  <header>
    <div>
      <input class="form-control" id="date1" placeholder="时间" readonly />
      <span>至</span>
      <input class="form-control" id="date2" placeholder="时间" readonly />
      <input class="form-control" id="keyword" placeholder="民警姓名/警号" />
      <button id="search-btn">查询</button>
    </div>
    <div class="switch-btn">
      <div class="selected">曝光台</div>
      <div>好评榜</div>
    </div>
  </header>
  <section class="main-section bad-section">
    <fieldset id="jcj">
      <header>
        <img src="../../img/slhy/pjda/mybd/t1.png" >
        <span>110接处警</span>
      </header>
      <section></section>
    </fieldset>
    <fieldset id="ckfw">
      <header>
        <img src="../../img/slhy/pjda/mybd/t2.png" >
        <select>
          <option value="0">窗口服务</option>
          <option value="3">户政服务</option>
          <option value="6">身份证业务</option>
          <option value="4">出入境业务</option>
          <option value="2">车管车辆</option>
          <option value="1">车管驾证</option>
          <option value="5">监管业务</option>
        </select>
      </header>
      <section></section>
    </fieldset>
    <fieldset id="aj">
      <header>
        <img src="../../img/slhy/pjda/mybd/t3.png" >
        <span>案件办理</span>
      </header>
      <section></section>
    </fieldset>
    <fieldset id="sxl">
      <header>
        <img src="../../img/slhy/pjda/mybd/t4.png" >
        <span>社区民警熟悉率</span>
      </header>
      <section></section>
    </fieldset>
  </section>
</section>
