<main class="main-container">
  <link rel="stylesheet" href="../../css/slhy/zhzs_popup.css" />
  <script src="../../js/slhy/zhzs_popup.js"></script>
  <header>
    <header class="main-title"></header>
    <div class="output-btn">
      <img src="../../img/slhy/pjda/img7.png" />
      <span>档案输出</span>
    </div>
    <i class="glyphicon glyphicon-remove close-btn"></i>
    <banner>
      <div>
        <span>派出所档案入口：</span>
        <input readonly class="form-control" id="dept-name" />
        <input type="hidden" id="dept-id" />
        <div id="dept-tree"></div>
      </div>
      <div>
        <button class="btn-search">查询</button>
        <input readonly class="form-control" id="date2" />
        <span>—</span>
        <input readonly class="form-control" id="date1" />
      </div>
    </banner>
    <aside class="left-aside1">
      <aside>
        <div><img src="../../img/slhy/zhzs/people.png" /></div>
        <div>
          <div class="top-left-val"></div>
          <div>警力数</div>
        </div>
      </aside>
      <aside>
        <div>
          <div>
            <span class="icon24x24-1"></span>
            <span>男女比例 <span class="top-left-val"></span></span>
          </div>
          <div>
            <span class="icon24x24-2"></span>
            <span>辅警数 <span class="top-left-val"></span></span>
          </div>
        </div>
        <div>
          <span class="icon24x24-3"></span>
          <span>本科及以上学历占比 <span class="top-left-val"></span></span>
        </div>
      </aside>
    </aside>
    <aside class="left-aside2">
      <div>
        <div>
          <span class="icon24x24-16"></span>
          <span>辖区总人口</span>
        </div>
        <div class="top-left-val"></div>
      </div>
      <div>
        <div>
          <span class="icon24x24-17"></span>
          <span>辖区面积</span>
        </div>
        <div class="top-left-val"></div>
      </div>
      <div>
        <div>
          <span class="icon24x24-18"></span>
          <span>重点企业数</span>
        </div>
        <div class="top-left-val"></div>
      </div>
      <div>
        <div>
          <span class="icon24x24-19"></span>
          <span>重点人员数</span>
        </div>
        <div class="top-left-val"></div>
      </div>
      <section class="top-left-popup">
        <span></span>
        <div></div>
      </section>
    </aside>
    <aside class="right-aside1">
      <header>业务数据</header>
      <main class="top-right-top"></main>
    </aside>
    <aside class="right-aside2">
      <header>民意数据</header>
      <main class="top-right-bottom"></main>
    </aside>
  </header>
  <banner class="main-banner">
    <header>
      <span class="icon32x32-1"></span>
      <span>长短板分析</span>
    </header>
    <banner>
      <aside class="mid-top-left"></aside>
      <aside class="mid-top-right">
        <div class="icon268x48-1">
          <div>社会治安满意度</div>
          <div class="up-color">
            0.45%<i class="glyphicon glyphicon-arrow-up"></i>
          </div>
        </div>
        <div class="icon268x48-2"></div>
        <div class="icon268x48-3"></div>
        <div class="icon268x48-4"></div>
        <div class="icon268x48-5"></div>
        <div class="icon268x48-6"></div>
      </aside>
    </banner>
    <main class="main-banner-main">
      <aside>
        <header>
          <div class="color-block"></div>
          <div>110接处警问题满意度——</div>
          <div class="label-block">问题分布</div>
        </header>
        <main id="chart"></main>
      </aside>
      <aside>
        <header>
          <div class="color-block"></div>
          <div>110接处警问题满意度——</div>
          <div class="label-block">问题分布</div>
        </header>
        <main>
          <section class="mid-bottom-right-title"></section>
          <aside class="mid-bottom-right"></aside>
        </main>
      </aside>
    </main>
  </banner>
  <footer>
    <section class="bottom-left">
      <header>
        <span class="icon32x32-2"></span>
        <span>效能战法</span>
      </header>
      <main>
        <div>
          <span class="bottom-left-span"></span>
        </div>
        <div></div>
      </main>
    </section>
    <section class="bottom-mid">
      <header>
        <span class="icon32x32-3"></span>
        <span>季度之星</span>
      </header>
      <main></main>
    </section>
    <section class="bottom-right">
      <header>
        <span>
          <span class="icon32x32-4"></span>
          <span>民警执法评价满意度排行榜</span>
        </span>
        <select class="bottom-right-select"> </select>
      </header>
      <main></main>
    </section>
  </footer>
</main>
