<link rel="stylesheet" href="../../css/system/notification.css" />

<main>
  <header>
    <div>首页/通知管理</div>
    <div>通知管理列表</div>
  </header>
  <section class="main-section">
    <header>
      <span>标题：</span>
      <input id="title" />
      <span>发送日期：</span>
      <input id="date1" readonly class="form-control" />
      <span>——</span>
      <input id="date2" readonly class="form-control" />
      <button id="search-btn" class="btn btn-primary">查询</button>
      <button id="search-reset" class="btn btn-default">重置</button>
    </header>
    <banner>
      <button id="add-btn" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>新增
      </button>
      <button id="delete-btn" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>删除
      </button>
      <button id="send-btn" class="btn btn-default">
        <i class="glyphicon glyphicon-send"></i>发送
      </button>
    </banner>
    <tab id="tab-container"></tab>
    <footer>
      <div class="nav-container"></div>
    </footer>
  </section>
</main>
<!-- 新增修改 -->
<div class="modal fade" tabindex="-1" role="dialog" id="pop-panel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <img src="../../img/system/user/location.png" />
          <span id="pop-name"></span>
        </h4>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">
              <span style="color:red;">*</span>
              标题：
            </label>
            <div class="col-sm-9">
              <input class="form-control" id="pop-title" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              <span style="color:red;">*</span>
              内容：
            </label>
            <div class="col-sm-9">
              <textarea id="pop-content" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">附件选择：</label>
            <div class="col-sm-7">
              <input readonly id="pop-file-name" class="form-control" />
            </div>
            <div class="col-sm-2">
              <button class="btn-preview btn btn-primary">浏览</button>
            </div>
            <input
              type="file"
              id="pop-file-input"
              accept="
                application/vnd.ms-excel,
                application/msword,
                application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            />
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              <span style="color:red;">*</span>
              发送对象：
            </label>
            <div class="col-sm-5">
              <input id="dept-name" readonly class="form-control" />
              <div id="dept-tree"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">创建人：</label>
            <div class="col-sm-4">
              <p id="pop-creator" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">创建日期：</label>
            <div class="col-sm-6">
              <p id="pop-create-time" class="form-control-static"></p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button id="pop-confirm" class="btn btn-primary">确定</button>
          <button class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 发送删除确认 -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-panel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <img src="../../img/system/user/location.png" />
          <span id="confirm-name"></span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="tip-panel">
          <i class="glyphicon glyphicon-info-sign"></i>
          <span id="tip-span">您确定要删除所选数据吗？</span>
        </div>
      </div>
      <div class="modal-footer">
        <button id="confirm-delete-send" class="btn btn-primary">确定</button>
        <button class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- 详情 -->
<div class="modal fade" tabindex="-1" role="dialog" id="detail-panel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <img src="../../img/system/user/location.png" />
          <span>通知公告详情</span>
        </h4>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">标题：</label>
            <div class="col-sm-9">
              <p id="detail-title" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">内容：</label>
            <div class="col-sm-9">
              <p id="detail-content" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">附件：</label>
            <div class="col-sm-9">
              <p id="detail-file-name" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">发送对象：</label>
            <div class="col-sm-9">
              <p id="detail-sendObj" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">创建人：</label>
            <div class="col-sm-9">
              <p id="detail-creator" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-9">
              <p id="detail-create-time" class="form-control-static"></p>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
