@font-face {
  font-family: "ZHSCNMT--GBK1-0";
  src: url("../../fonts/zhscnm.ttf");
}
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../../fonts/GOTHICB.TTF");
}
.banner {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #485053;
}
.banner2 {
  height: 25px;
  line-height: 25px;
  background: url(../../img/znbg/preview/title2.png) no-repeat 5%;
  color: #fff;
}
.banner2 span {
  margin-left: 20px;
}
#pop-container {
  position: absolute;
  width: 1280px;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
}
#pop-container > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header.png") no-repeat;
}
#pop-container > header span:first-child {
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 331px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
}
#pop-container > header span:nth-child(2) {
  color: #ebecfa;
  margin-left: 2px;
  font-size: 24px;
  font-family: ZHSCNMT--GBK1-0;
  position: relative;
  top: -18px;
}
#pop-container > header span:nth-child(3) {
  float: right;
  color: #ebecfa;
  right: 18px;
  font-size: 18px;
  font-family: ZHSCNMT--GBK1-0;
  position: relative;
  top: 35px;
}
#pop-container > header i {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
#pop-container > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container > section fieldset {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
#pop-container > section fieldset > section {
  width: 100%;
  height: 50%;
  padding: 10px;
}
#pop-container > section fieldset > section header {
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container > section fieldset > section header span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container > section fieldset:nth-child(4) {
  border-right: 0;
}
#pop-container > section .fieldset1 > section > section {
  width: 100%;
  height: calc(100% - 30px);
}
#pop-container > section .fieldset1 > section > section > div {
  width: 100%;
  height: 43px;
  line-height: 43px;
  padding: 0 5px;
}
#pop-container > section .fieldset1 > section > section > div > * {
  float: left;
}
#pop-container > section .fieldset1 > section > section > div > div:nth-child(2) {
  width: calc(100% - 46px);
  height: 100%;
  margin-left: 10px;
}
#pop-container > section .fieldset1 > section > section > div > div:first-child {
  width: 36px;
  height: 35px;
}
#pop-container > section .fieldset1 > section > section > div > div > div {
  width: 100%;
  height: 43px;
}
#pop-container > section .fieldset1 > section > section > div > div span {
  float: left;
  color: #485053;
}
#pop-container > section .fieldset1 > section > section > div > div strong {
  float: right;
  color: #ff6000;
  font-size: 20px;
}
#pop-container > section .fieldset1 > section > section > div:nth-child(2) {
  height: calc(100% - 43px * 3);
  padding: 0;
}
#pop-container > section .fieldset1 > section > section > div:nth-child(2) > div:nth-child(2) {
  border: dashed 1px #bec5d4;
}
#pop-container > section .fieldset1 > section > section > div:nth-child(2) > div > div {
  padding: 0 5px;
}
#pop-container > section .fieldset1 > section > section > div:nth-child(2) > div > div:first-child {
  margin-top: 0;
  background-color: #f4f6fc;
  border-bottom: 1px solid #dbdbdb;
}
#pop-container > section .fieldset1 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container > section .fieldset1 #chart1 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container > section .fieldset1 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 28px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container > section .fieldset2 > section .tab-container {
  width: calc(100% - 20px);
  height: calc(100% - 40px - 70px);
  margin: 0 10px 10px 10px;
  border: 1px solid #dbdbdb;
}
#pop-container > section .fieldset2 > section .tab-container > div {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #dbdbdb;
}
#pop-container > section .fieldset2 > section .tab-container > div > div {
  text-align: center;
  float: left;
  width: 60px;
  height: 100%;
  border-left: 1px solid #dbdbdb;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#pop-container > section .fieldset2 > section .tab-container > div > div:nth-child(4n + 1) {
  width: calc(100% - 180px);
  border-left: 0;
}
#pop-container > section .fieldset2 > section .tab-container > div:first-child {
  border-top: 0;
  background-color: #F0F3FA;
}
#pop-container > section .fieldset2 > section #chart2 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container > section .fieldset2 > section .footer1 {
  width: 100%;
  height: 60px;
  line-height: 20px;
  text-indent: 28px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container > section .fieldset2 > section .footer2 {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  text-indent: 28px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container > section .fieldset3 #chart3 {
  width: 100%;
  height: calc(100% - 35px);
}
#pop-container > section .fieldset3 footer {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  text-indent: 28px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container > section .fieldset3 footer > div {
  width: 100%;
  height: 24px;
  line-height: 24px;
}
#pop-container > section .fieldset3 footer > div > div {
  float: left;
  width: 50px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#pop-container > section .fieldset3 footer > div > div:first-child {
  width: calc(100% - 110px);
}
#pop-container > section .fieldset3 footer > div > div:nth-child(3) {
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#pop-container > section .fieldset3 #chart4 {
  width: 100%;
  height: calc(100% - 40px);
}
#pop-container > section .fieldset4 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container > section .fieldset4 footer {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  text-indent: 28px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container > section .fieldset4 #chart5 {
  width: 100%;
  height: calc(100% - 90px);
}
#pop-container > section .fieldset4 .zjfx-content {
  width: 100%;
  height: calc(100% - 30px);
  line-height: 30px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
  text-align: justify;
}
/*词云*/
div.jqcloud {
  font-family: "微软雅黑", "宋体", sans-serif;
  font-size: 10px;
  line-height: normal;
}
div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}
div.jqcloud span.w10 {
  font-size: 200%;
  color: #7a833c;
}
div.jqcloud span.w9 {
  font-size: 190%;
  color: #53609b;
}
div.jqcloud span.w8 {
  font-size: 180%;
  color: #bc78de;
}
div.jqcloud span.w7 {
  font-size: 170%;
  color: #cf3876;
}
div.jqcloud span.w6 {
  font-size: 160%;
  color: #1d84c6;
}
div.jqcloud span.w5 {
  font-size: 150%;
  color: #7a833c;
}
div.jqcloud span.w4 {
  font-size: 140%;
  color: #1d84c6;
}
div.jqcloud span.w3 {
  font-size: 130%;
  color: #e8a31c;
}
div.jqcloud span.w2 {
  font-size: 120%;
  color: #bc78de;
}
div.jqcloud span.w1 {
  font-size: 110%;
  color: #ed8166;
}
/* colors */
div.jqcloud {
  color: #09f;
}
div.jqcloud a {
  color: inherit;
}
div.jqcloud span {
  cursor: pointer;
}
div.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}
div.jqcloud {
  overflow: hidden;
  position: relative;
}
div.jqcloud span {
  padding: 0;
}
/*# sourceMappingURL=preview.css.map */