@font-face {
  font-family: "ZHSCNMT--GBK1-0";
  src: url("../../fonts/zhscnm.ttf");
}

@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../../fonts/GOTHICB.TTF");
}

.header {
  & > header {
    width: 180px;
    height: 30px;
    line-height: 24px;
    font-size: 16px;
    background: url("../../img/znbg/preview/title.png") no-repeat;

    & > span {
      margin-left: 15px;
      color: #ebecfa;
    }
  }
}

.bg { // 背景色
  background-color: rgba(255, 255, 255, .7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}


.single-text-ellipse() { // 单行省略
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipse(@line) { // 多行省略
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
  overflow: hidden;
  text-align: justify;
}

.scroll-style { // 滚动条样式
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #FFF;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #FFF;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #C1C1C1;
  }
}

.row-width { // 表格宽度设置
  &:nth-child(1) {
    width: 40px;
  }

  &:nth-child(2) {
    width: calc(~"100% - 320px");

    * {
      float: left;
    }

    img {
      margin-top: 8px;
    }

    span {
      text-align: left;
      display: inline-block;
      width: calc(~"100% - 28px");
      height: 100%;
      margin-left: 8px;
      .single-text-ellipse();
    }
  }

  &:nth-child(3) {
    width: 140px;
  }

  &:nth-child(4) {
    width: 140px;

    img {
      margin-left: 8px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

// 弹出页统一样式
.pop-container {
  position: absolute;
  width: 1280px;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;

  & > header {
    width: 100%;
    height: @header-height;
    background: url("../../img/znbg/preview/header.png") no-repeat;

    i {
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    .first-span {
      line-height: 58px;
      font-size: 48px;
      letter-spacing: 5px;
      margin-left: 331px;
      font-family: CenturyGothic-Bold;
      color: #a9aac2;
    }

    .second-span {
      color: #ebecfa;
      margin-left: 2px;
      font-size: 24px;
      font-family: ZHSCNMT--GBK1-0;
      position: relative;
      top: -18px;
    }

    .third-span {
      float: right;
      color: #ebecfa;
      right: 18px;
      font-size: 18px;
      font-family: ZHSCNMT--GBK1-0;
      position: relative;
      top: 35px;
    }

    i {
      float: right;
      margin-top: 10px;
      margin-right: 10px;
      cursor: pointer;
      font-size: 18px;
      color: #fff;
    }
  }

  & > section {
    @border: 1px solid #dbdbdb;
    width: 100%;
    height: calc(~"100% - @{header-height}");

    fieldset {
      float: left;
      width: 25%;
      height: 100%;
      border-right: @border;

      & > section {
        width: 100%;
        height: 50%;
        padding: 10px;

        .header();
      }

      &:nth-child(4) {
        border-right: 0;
      }
    }
  }
}

.left-section {
  float: left;
  width: 60%;
  padding: 20px 0 20px 20px;
  height: 100%;

  & > header {
    width: 100%;
    height: 50px;
    background-color: #ADC3DB;
    padding: 10px;

    input {
      @height: 30px;
      width: calc(~"(100% - 40px) / 3");
      height: @height;
      background-color: #fff;
      margin-left: 10px;
      border-radius: 3px;
      color: #808080;
      text-indent: 15px;
      line-height: @height;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  section {
    width: 100%;
    height: calc(~"100% - 60px");
    margin-top: 10px;
    .bg();

    fieldset {
      @header-height: 40px;
      width: 100%;
      height: calc(~"20% - 10px");
      padding: 0 10px;

      & > header {
        width: 100%;
        height: @header-height;
        line-height: @header-height;
        font-size: 16px;
        color: #1a1a1a;

        * {
          margin-left: 10px;
        }

        span {
          background: url("../../img/znbg/checkbox.png") no-repeat;
          display: inline-block;
          width: 18px;
          height: 18px;
        }
      }

      article {
        width: calc(~"100% - 50px");
        height: calc(~"100% - @{header-height} - 10px");
        border: 1px dashed #bcc9d8;
        margin: 0 auto;
        padding: 5px;
        color: #999;
        background-color: #F6FAFF;
        overflow-y: auto;
        overflow-x: hidden;
        .scroll-style();

        & > div {
          width: 100%;
          border-bottom: 1px dashed #bcc9d8;
          line-height: 30px;

          & > span {
            cursor: pointer;
            margin-left: 10px;
            white-space: nowrap;

            & > span {
              margin-left: 3px;
            }
          }
        }

        &:nth-child(5) {
          overflow: hidden;
        }

        textarea {
          width: 100%;
          height: calc(~"100% - 5px");
          resize: none;
          background-color: #F6FAFF;
          border: 0;
          outline: none;
          .scroll-style();
        }
      }

      & > footer {
        width: 100%;
        height: 1px;
        background-color: #bcc9d8;
        margin-top: 9px;
      }
    }

    & > footer {
      width: 100%;
      height: 50px;

      button {
        display: block;
        width: 90px;
        height: 30px;
        background-color: #ffffff;
        border: solid 1px #409cf1;
        color: #027ecb;
        margin: 10px auto;
      }

    }
  }
}

.right-section {
  @header-height: 40px;
  float: left;
  width: calc(~"40% - 40px");
  height: calc(~"100% - 40px");
  margin: 20px;
  .bg();

  header {
    width: 100%;
    height: @header-height;
    line-height: @header-height;
    font-size: 18px;
    color: #000;

    span, img {
      margin-left: 10px;
    }
  }

  section {
    width: 100%;
    height: calc(~"100% - @{header-height}");
    padding: 10px 20px;

    & > div {
      @tab-height: 35px;
      width: 100%;
      line-height: @tab-height;
      color: #000;
      text-align: center;

      &.tab-header {
        height: @tab-height;
        background-color: #f6faff;

        div {
          float: left;
          height: 100%;
          .row-width();
        }
      }

      &.tab-body {
        height: calc(~"100% - @{tab-height}");
        overflow-y: auto;
        overflow-x: hidden;
        .scroll-style();

        & > div {
          width: 100%;
          height: @tab-height;

          &:hover, &.row-selected {
            background-color: #EDF6FF;
          }

          & > div {
            float: left;
            height: @tab-height;
            .row-width();
          }
        }
      }
    }
  }
}

.pop-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f7f7f;
  opacity: 0.8;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

.setting-aside {
  position: absolute;
  width: 260px;
  height: 100%;
  z-index: 3;
  display: none;

  & > div {
    @header-height: 50px;
    float: left;
    width: 220px;
    height: 100%;
    background-color: #fff;
    padding: 30px 10px;
    color: #333;

    header {
      width: 100%;
      height: @header-height;
      line-height: @header-height;
      font-size: 16px;
      border-bottom: 1px solid #e8e8e8;
    }

    section {
      width: 100%;
      height: calc(~"100% - 2 * @{header-height}");
      padding: 30px 20px;
      color: #4d4d4d;

      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
      }

      ul {
        width: 100%;
        height: 100%;
      }

      li {
        @li-height: 60px;
        width: 100%;
        height: @li-height;
        line-height: @li-height;

        span {
          float: left;
        }

        div {
          float: right;
          display: inline-block;
          width: 28px;
          height: 16px;
          margin-top: 22px;
          cursor: pointer;

          &.switch-on {
            background: url("../../img/znbg/switch_on.png") no-repeat;
          }

          &.switch-off {
            background: url("../../img/znbg/switch_off.png") no-repeat;
          }
        }
      }
    }

    footer {
      width: 100%;
      height: @header-height;

      button {
        display: inline-block;
        width: 60px;
        height: 30px;
        background-color: #5483d5;
        color: #fff;
        border: 0;
        outline: none;
        margin-top: 10px;
        margin-left: 25px;

        &:nth-child(2) {
          background-color: #ffffff;
          border: solid 1px #d9d9d9;
          color: #666666;
        }
      }
    }

  }

  & > button {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../../img/znbg/close.png") no-repeat;
    border: 0;
    outline: none;
    position: relative;
    top: 50%;
    margin-top: -20px;
  }
}

.setting-btn {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  display: block;
  top: 50%;
  margin-top: -20px;
  background: url("../../img/znbg/setting.png") no-repeat;
}

.left-tree {
  height: 230px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  z-index: 2;
}

/*词云*/
.jqcloud {
  font-family: "微软雅黑", "宋体", sans-serif;
  font-size: 10px;
  line-height: normal;
}

.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

.jqcloud span.w10 {
  font-size: 200%;
  color: #7a833c;
}

.jqcloud span.w9 {
  font-size: 190%;
  color: #53609b;
}

.jqcloud span.w8 {
  font-size: 180%;
  color: #bc78de;
}

.jqcloud span.w7 {
  font-size: 170%;
  color: #cf3876;
}

.jqcloud span.w6 {
  font-size: 160%;
  color: #1d84c6;
}

.jqcloud span.w5 {
  font-size: 150%;
  color: #7a833c;
}

.jqcloud span.w4 {
  font-size: 140%;
  color: #1d84c6;
}

.jqcloud span.w3 {
  font-size: 130%;
  color: #e8a31c;
}

.jqcloud span.w2 {
  font-size: 120%;
  color: #bc78de;
}

.jqcloud span.w1 {
  font-size: 110%;
  color: #ed8166;
}

/* colors */

.jqcloud {
  color: #09f;
}

.jqcloud a {
  color: inherit;
}

.jqcloud span {
  cursor: pointer;
}

.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}

.jqcloud {
  overflow: hidden;
  position: relative;
}

.jqcloud span {
  padding: 0;
}

.pop-menu {
  background-color: #fff;
  position: absolute;
  z-index: 4;
  border-radius: 1px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    bottom: -9px;
    transform: rotate(-45deg);
    left: 50%;
    margin-left: -8px;
    top: -8px;
  }

  & > a {
    display: block;
    padding: 3px 10px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #2E91FE;
    }
  }
}

@banner-height: 40px;
@header-height: 65px;
@text-indent: 32px;

.banner {
  width: 100%;
  height: @banner-height;
  line-height: @banner-height;
  color: #485053;
  font-weight: 600;
}

.banner2 {
  height: 25px;
  line-height: 25px;
  background: url(../../img/znbg/preview/title2.png) no-repeat 5%;
  color: #fff;

  span {
    margin-left: 20px;
  }
}

#pop-container1 {
  @border: 1px solid #dbdbdb;
  .pop-container();

  .fieldset1 {

    & > section {
      @header-height: 30px;

      & > section {
        @line-height: 43px;
        width: 100%;
        height: calc(~"100% - @{header-height}");

        & > div {
          width: 100%;
          height: @line-height;
          line-height: @line-height;
          padding: 0 5px;

          & > * {
            float: left;
          }

          & > div {
            &:nth-child(2) {
              width: calc(~"100% - 46px");
              height: 100%;
              margin-left: 10px;
            }

            &:first-child {
              width: 36px;
              height: 35px;
            }

            & > div {
              width: 100%;
              height: @line-height;
            }

            span {
              float: left;
              color: #485053;
            }

            strong {
              float: right;
              color: #ff6000;
              font-size: 20px;
            }
          }

          &:nth-child(2) {
            height: calc(~"100% - @{line-height} * 3");
            padding: 0;

            & > div {

              &:nth-child(2) {
                @border: dashed 1px #bec5d4;
                border: @border;
              }

              & > div {
                padding: 0 5px;

                &:first-child {
                  margin-top: 0;
                  background-color: #f4f6fc;
                  border-bottom: @border;
                }

              }
            }
          }
        }
      }

      &:first-child {
        border-bottom: @border;
      }
    }

    #chart1-1 {
      width: 100%;
      height: calc(~"100% - 135px");
    }

    footer {
      width: 100%;
      height: 60px;
      line-height: 20px;
      margin-top: 5px;
      text-indent: @text-indent;
      .text-ellipse(3);
    }
  }

  .fieldset2 {
    & > section {

      #chart1-2 {
        width: 100%;
        height: calc(~"100% - 135px");
      }

      .footer1 {
        width: 100%;
        height: 80px;
        line-height: 20px;
        text-indent: @text-indent;
        .text-ellipse(4);
      }

      .footer2 {
        width: 100%;
        height: 60px;
        margin-top: 5px;
        text-indent: @text-indent;
        .text-ellipse(3);
      }
    }
  }

  .fieldset3 {
    #chart1-3 {
      width: 100%;
      height: calc(~"100% - 35px");
    }

    footer {
      width: 100%;
      height: 60px;
      margin-top: 5px;
      text-indent: @text-indent;
      .text-ellipse(3);

      & > div {
        width: 100%;
        height: 24px;
        line-height: 24px;

        & > div {
          float: left;
          width: 50px;
          height: 100%;
          .single-text-ellipse();
          text-align: center;

          &:first-child {
            width: calc(~"100% - 110px");

          }

          &:nth-child(3) {
            width: 60px;
            .single-text-ellipse();
          }
        }
      }
    }

    #chart1-4 {
      width: 100%;
      height: calc(~"100% - @{banner-height}");
    }
  }

  .fieldset4 {
    & > section {

      &:first-child {
        border-bottom: @border;
      }
    }

    footer {
      width: 100%;
      height: 100px;
      margin-top: 5px;
      text-indent: @text-indent;
      .text-ellipse(5);
    }

    #chart1-5 {
      width: 100%;
      height: calc(~"100% - 130px");
    }

    .zjfx-content {
      width: 100%;
      height: calc(~"100% - 30px");
      line-height: 30px;
      .text-ellipse(9);
    }
  }
}

#pop-container3 {
  @border: 1px solid #dbdbdb;
  .pop-container();

  .fieldset1 {
    & > section {
      @header-height: 30px;

      & > section {
        @line-height: 32px;
        width: 100%;
        height: calc(~"100% - @{header-height}");

        & > div {
          width: 100%;
          height: @line-height;
          line-height: @line-height;
          padding: 0 5px;

          & > * {
            float: left;
          }

          & > div {
            &:nth-child(2) {
              width: calc(~"100% - 46px");
              height: 100%;
              margin-left: 10px;
            }

            &:first-child {
              width: 36px;
              height: 32px;
            }

            & > div {
              width: 100%;
              height: @line-height;
            }

            span {
              float: left;
              color: #485053;
            }

            strong {
              float: right;
              color: #ff6000;
              font-size: 20px;
            }
          }

          &:nth-child(3) {
            height: calc(~"100% - @{line-height} * 4");
            padding: 0;

            & > div {

              &:nth-child(2) {
                @border: dashed 1px #bec5d4;
                border: @border;
              }

              & > div {
                padding: 0 5px;

                &:first-child {
                  margin-top: 0;
                  background-color: #f4f6fc;
                  border-bottom: @border;
                }

              }
            }
          }
        }
      }

      &:first-child {
        border-bottom: @border;
      }
    }

    #chart2-1 {
      width: 100%;
      height: calc(~"100% - 135px");
    }

    footer {
      width: 100%;
      height: 60px;
      line-height: 20px;
      margin-top: 5px;
      text-indent: @text-indent;
      .text-ellipse(3);
    }
  }

  .fieldset2 {
    padding: 0 10px;

    footer {
      width: 100%;
      height: 88px;
      line-height: 22px;
      text-indent: 30px;
      .text-ellipse(4);
      margin-top: 5px;
    }

    .header();
  }

  .fieldset3 {
    padding: 0 10px;

    & > chart {
      display: block;
      width: 100%;
    }

    #chart2-3 {
      height: 155px;
    }

    #chart2-4 {
      height: 145px;
    }

    article {
      width: 100%;
      height: 88px;
      line-height: 22px;
      text-indent: 30px;
      .text-ellipse(4);
    }

    .article1 {
      height: 66px;
      .text-ellipse(3);
    }

  }

  .fieldset4 {
    padding: 0 10px;

    .header();

    chart {
      display: block;
      width: 100%;
    }

    #chart2-5 {
      height: 270px;
    }

    #chart2-6 {
      height: 110px;
    }

    .article1 {
      height: 80px;
      line-height: 20px;
      .text-ellipse(4);
      text-indent: 30px;
    }

    .article2 {
      height: 60px;
      line-height: 20px;
      .text-ellipse(3);
      text-indent: 30px;
    }

  }
}

.hidden-chart {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > div {
    float: left;
    width: 400px;
    height: 300px;
  }
}

.tab-container1 {
  color: #000;
  width: 299px !important;
  height: 164px !important;
  margin-bottom: 2px;
  border: 2px solid #757b7b;

  & > div {
    width: 100%;
    height: 27px;
    line-height: 27px;
    border-top: 1px solid #485053;

    & > div {
      text-align: center;
      float: left;
      width: 60px;
      height: 100%;
      border-left: 1px solid #485053;
      .single-text-ellipse();

      &:nth-child(4n + 1) {
        width: calc(~"100% - 180px");
        border-left: 0;
      }
    }

    &:first-child {
      border-top: 0;
      background-color: #F0F3FA;
    }
  }
}

.tab-container3 {
  @border: 1px solid #dbdbdb;
  @tab-border: #8a8a8a 2px solid;
  color: #000;
  width: 299px !important;
  height: 344px !important;
  border: @tab-border;
  display: block;

  & > row {
    display: block;
    width: 100%;
    height: 22px;
    line-height: 22px;
    border-top: @border;

    &:first-child {
      height: 31px;
      line-height: 31px;
      background-color: #F0F3FA;
      border-top: 0;
    }

    &:nth-child(2), &:nth-child(7), &:nth-child(12) {
      background-color: #CCEAFF;
    }

    & > cell {
      @cell-height: 65px;
      display: block;
      height: 100%;
      width: @cell-height;
      float: left;
      text-align: center;
      border-left: @border;

      &:first-child {
        width: calc(~"100% - @{cell-height} * 3");
        border-left: 0;
      }
    }

  }
}