.bg { // 背景色
  background-color: rgba(255, 255, 255, .7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}

.text-ellipse() { // 单行省略
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-style { // 滚动条样式
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #FFF;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #FFF;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #C1C1C1;
  }
}

.row-width { // 表格宽度设置
  &:nth-child(1) {
    width: 40px;
  }

  &:nth-child(2) {
    width: calc(100% - 320px);

    * {
      float: left;
    }

    img {
      margin-top: 8px;
    }

    span {
      text-align: left;
      display: inline-block;
      width: calc(100% - 28px);
      height: 100%;
      margin-left: 8px;
      .text-ellipse();
    }
  }

  &:nth-child(3) {
    width: 140px;
  }

  &:nth-child(4) {
    width: 140px;

    img {
      margin-left: 8px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.left-section {
  float: left;
  width: 60%;
  padding: 20px 0 20px 20px;
  height: 100%;

  & > header {
    width: 100%;
    height: 50px;
    background-color: #ADC3DB;
    padding: 10px;

    input {
      @height: 30px;
      width: calc((100% - 40px) / 3);
      height: @height;
      background-color: #fff;
      margin-left: 10px;
      border-radius: 3px;
      color: #808080;
      text-indent: 15px;
      line-height: @height;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  section {
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 10px;
    .bg();

    fieldset {
      @header-height: 40px;
      width: 100%;
      height: calc(20% - 10px);
      padding: 0 10px;

      & > header {
        width: 100%;
        height: @header-height;
        line-height: @header-height;
        font-size: 16px;
        color: #1a1a1a;

        * {
          margin-left: 10px;
        }

        span {
          background: url("../../img/znbg/checkbox.png") no-repeat;
          display: inline-block;
          width: 18px;
          height: 18px;
        }
      }

      article {
        width: calc(100% - 50px);
        height: calc(100% - @header-height - 10px);
        border: 1px dashed #bcc9d8;
        margin: 0 auto;
        padding: 5px;
        color: #999;
        background-color: #F6FAFF;
        overflow-y: auto;
        overflow-x: hidden;
        .scroll-style();

        & > div {
          width: 100%;
          border-bottom: 1px dashed #bcc9d8;
          line-height: 30px;

          & > span {
            cursor: pointer;
            margin-left: 10px;
            white-space: nowrap;

            & > span {
              margin-left: 3px;
            }
          }
        }

        &:nth-child(5) {
          overflow: hidden;
        }

        textarea {
          width: 100%;
          height: calc(100% - 5px);
          resize: none;
          background-color: #F6FAFF;
          border: 0;
          outline: none;
          .scroll-style();
        }
      }

      & > footer {
        width: 100%;
        height: 1px;
        background-color: #bcc9d8;
        margin-top: 9px;
      }
    }

    & > footer {
      width: 100%;
      height: 50px;

      button {
        display: block;
        width: 90px;
        height: 30px;
        background-color: #ffffff;
        border: solid 1px #409cf1;
        color: #027ecb;
        margin: 10px auto;
      }

    }
  }
}

.right-section {
  @header-height: 40px;
  float: left;
  width: calc(40% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  .bg();

  header {
    width: 100%;
    height: @header-height;
    line-height: @header-height;
    font-size: 18px;
    color: #000;

    span, img {
      margin-left: 10px;
    }
  }

  section {
    width: 100%;
    height: calc(100% - @header-height);
    padding: 10px 20px;

    & > div {
      @tab-height: 35px;
      width: 100%;
      line-height: @tab-height;
      color: #000;
      text-align: center;

      &.tab-header {
        height: @tab-height;
        background-color: #f6faff;

        div {
          float: left;
          height: 100%;
          .row-width();
        }
      }

      &.tab-body {
        height: calc(100% - @tab-height);
        overflow-y: auto;
        overflow-x: hidden;
        .scroll-style();

        & > div {
          width: 100%;
          height: @tab-height;

          &:hover, &.row-selected {
            background-color: #EDF6FF;
          }

          & > div {
            float: left;
            height: @tab-height;
            .row-width();
          }
        }
      }
    }
  }
}

.pop-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f7f7f;
  opacity: 0.8;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

.setting-aside {
  position: absolute;
  width: 260px;
  height: 100%;
  z-index: 3;
  display: none;

  & > div {
    @header-height: 50px;
    float: left;
    width: 220px;
    height: 100%;
    background-color: #fff;
    padding: 30px 10px;
    color: #333;

    header {
      width: 100%;
      height: @header-height;
      line-height: @header-height;
      font-size: 16px;
      border-bottom: 1px solid #e8e8e8;
    }

    section {
      width: 100%;
      height: calc(100% - 2 * @header-height);
      padding: 30px 20px;
      color: #4d4d4d;

      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
      }

      ul {
        width: 100%;
        height: 100%;
      }

      li {
        @li-height: 60px;
        width: 100%;
        height: @li-height;
        line-height: @li-height;

        span {
          float: left;
        }

        div {
          float: right;
          display: inline-block;
          width: 28px;
          height: 16px;
          margin-top: 22px;
          cursor: pointer;

          &.switch-on {
            background: url("../../img/znbg/switch_on.png") no-repeat;
          }

          &.switch-off {
            background: url("../../img/znbg/switch_off.png") no-repeat;
          }
        }
      }
    }

    footer {
      width: 100%;
      height: @header-height;

      button {
        display: inline-block;
        width: 60px;
        height: 30px;
        background-color: #5483d5;
        color: #fff;
        border: 0;
        outline: none;
        margin-top: 10px;
        margin-left: 25px;

        &:nth-child(2) {
          background-color: #ffffff;
          border: solid 1px #d9d9d9;
          color: #666666;
        }
      }
    }

  }

  & > button {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../../img/znbg/close.png") no-repeat;
    border: 0;
    outline: none;
    position: relative;
    top: 50%;
    margin-top: -20px;
  }
}

.setting-btn {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  display: block;
  top: 50%;
  margin-top: -20px;
  background: url("../../img/znbg/setting.png") no-repeat;
}

.left-tree {
  height: 230px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  z-index: 2;
}

#hidden-chart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 200px;
  height: 150px;
  background-color: #fff;
}

/*词云*/
div.jqcloud {
  font-family: "微软雅黑", "宋体", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 {
  font-size: 200%;
  color: #7a833c;
}

div.jqcloud span.w9 {
  font-size: 190%;
  color: #53609b;
}

div.jqcloud span.w8 {
  font-size: 180%;
  color: #bc78de;
}

div.jqcloud span.w7 {
  font-size: 170%;
  color: #cf3876;
}

div.jqcloud span.w6 {
  font-size: 160%;
  color: #1d84c6;
}

div.jqcloud span.w5 {
  font-size: 150%;
  color: #7a833c;
}

div.jqcloud span.w4 {
  font-size: 140%;
  color: #1d84c6;
}

div.jqcloud span.w3 {
  font-size: 130%;
  color: #e8a31c;
}

div.jqcloud span.w2 {
  font-size: 120%;
  color: #bc78de;
}

div.jqcloud span.w1 {
  font-size: 110%;
  color: #ed8166;
}

/* colors */

div.jqcloud {
  color: #09f;
}

div.jqcloud a {
  color: inherit;
}

div.jqcloud span {
  cursor: pointer;
}

div.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span {
  padding: 0;
}

.pop-menu {
  background-color: #fff;
  position: absolute;
  z-index: 4;
  border-radius: 1px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    bottom: -9px;
    transform: rotate(-45deg);
    left: 50%;
    margin-left: -8px;
    top: -8px;
}

& > a {
display: block;
padding: 3px 10px;
line-height: 24px;
color: #000;
text-decoration: none;
cursor: pointer;

&:hover {
  color: #2E91FE;
}
}
}