@font-face {
  font-family: "ZHSCNMT--GBK1-0";
  src: url("../../fonts/zhscnm.ttf");
}
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../../fonts/GOTHICB.TTF");
}
.header > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
.header > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
.bg {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}
.scroll-style::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.scroll-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.row-width:nth-child(1) {
  width: 40px;
}
.row-width:nth-child(2) {
  width: calc(100% - 320px);
}
.row-width:nth-child(2) * {
  float: left;
}
.row-width:nth-child(2) img {
  margin-top: 8px;
}
.row-width:nth-child(2) span {
  text-align: left;
  display: inline-block;
  width: calc(100% - 28px);
  height: 100%;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row-width:nth-child(3) {
  width: 140px;
}
.row-width:nth-child(4) {
  width: 140px;
}
.row-width:nth-child(4) img {
  margin-left: 8px;
  cursor: pointer;
}
.row-width:nth-child(4) img:first-child {
  margin-left: 0;
}
.left-section {
  float: left;
  width: 60%;
  padding: 20px 0 20px 20px;
  height: 100%;
}
.left-section > header {
  width: 100%;
  height: 50px;
  background-color: #adc3db;
  padding: 10px;
}
.left-section > header input {
  width: calc((100% - 40px) / 3);
  height: 30px;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 3px;
  color: #808080;
  text-indent: 15px;
  line-height: 30px;
}
.left-section > header input:first-child {
  margin-left: 0;
}
.left-section section {
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}
.left-section section fieldset {
  width: 100%;
  height: calc(20% - 10px);
  padding: 0 10px;
}
.left-section section fieldset > header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #1a1a1a;
}
.left-section section fieldset > header * {
  margin-left: 10px;
}
.left-section section fieldset > header span {
  background: url("../../img/znbg/checkbox.png") no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.left-section section fieldset article {
  width: calc(100% - 50px);
  height: calc(100% - 40px - 10px);
  border: 1px dashed #bcc9d8;
  margin: 0 auto;
  padding: 5px;
  color: #999;
  background-color: #f6faff;
  overflow-y: auto;
  overflow-x: hidden;
}
.left-section section fieldset article::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.left-section section fieldset article::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.left-section section fieldset article::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.left-section section fieldset article > div {
  width: 100%;
  border-bottom: 1px dashed #bcc9d8;
  line-height: 30px;
}
.left-section section fieldset article > div > span {
  cursor: pointer;
  margin-left: 10px;
  white-space: nowrap;
}
.left-section section fieldset article > div > span > span {
  margin-left: 3px;
}
.left-section section fieldset article:nth-child(5) {
  overflow: hidden;
}
.left-section section fieldset article textarea {
  width: 100%;
  height: calc(100% - 5px);
  resize: none;
  background-color: #f6faff;
  border: 0;
  outline: none;
}
.left-section section fieldset article textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.left-section section fieldset article textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.left-section section fieldset article textarea::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.left-section section fieldset > footer {
  width: 100%;
  height: 1px;
  background-color: #bcc9d8;
  margin-top: 9px;
}
.left-section section > footer {
  width: 100%;
  height: 50px;
}
.left-section section > footer button {
  display: block;
  width: 90px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px #409cf1;
  color: #027ecb;
  margin: 10px auto;
}
.right-section {
  float: left;
  width: calc(40% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}
.right-section header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
}
.right-section header span,
.right-section header img {
  margin-left: 10px;
}
.right-section section {
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px 20px;
}
.right-section section > div {
  width: 100%;
  line-height: 35px;
  color: #000;
  text-align: center;
}
.right-section section > div.tab-header {
  height: 35px;
  background-color: #f6faff;
}
.right-section section > div.tab-header div {
  float: left;
  height: 100%;
}
.right-section section > div.tab-header div:nth-child(1) {
  width: 40px;
}
.right-section section > div.tab-header div:nth-child(2) {
  width: calc(100% - 320px);
}
.right-section section > div.tab-header div:nth-child(2) * {
  float: left;
}
.right-section section > div.tab-header div:nth-child(2) img {
  margin-top: 8px;
}
.right-section section > div.tab-header div:nth-child(2) span {
  text-align: left;
  display: inline-block;
  width: calc(100% - 28px);
  height: 100%;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-section section > div.tab-header div:nth-child(3) {
  width: 140px;
}
.right-section section > div.tab-header div:nth-child(4) {
  width: 140px;
}
.right-section section > div.tab-header div:nth-child(4) img {
  margin-left: 8px;
  cursor: pointer;
}
.right-section section > div.tab-header div:nth-child(4) img:first-child {
  margin-left: 0;
}
.right-section section > div.tab-body {
  height: calc(100% - 35px);
  overflow-y: auto;
  overflow-x: hidden;
}
.right-section section > div.tab-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.right-section section > div.tab-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.right-section section > div.tab-body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.right-section section > div.tab-body > div {
  width: 100%;
  height: 35px;
}
.right-section section > div.tab-body > div:hover,
.right-section section > div.tab-body > div.row-selected {
  background-color: #edf6ff;
}
.right-section section > div.tab-body > div > div {
  float: left;
  height: 35px;
}
.right-section section > div.tab-body > div > div:nth-child(1) {
  width: 40px;
}
.right-section section > div.tab-body > div > div:nth-child(2) {
  width: calc(100% - 320px);
}
.right-section section > div.tab-body > div > div:nth-child(2) * {
  float: left;
}
.right-section section > div.tab-body > div > div:nth-child(2) img {
  margin-top: 8px;
}
.right-section section > div.tab-body > div > div:nth-child(2) span {
  text-align: left;
  display: inline-block;
  width: calc(100% - 28px);
  height: 100%;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-section section > div.tab-body > div > div:nth-child(3) {
  width: 140px;
}
.right-section section > div.tab-body > div > div:nth-child(4) {
  width: 140px;
}
.right-section section > div.tab-body > div > div:nth-child(4) img {
  margin-left: 8px;
  cursor: pointer;
}
.right-section section > div.tab-body > div > div:nth-child(4) img:first-child {
  margin-left: 0;
}
.pop-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f7f7f;
  opacity: 0.8;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}
.setting-aside {
  position: absolute;
  width: 260px;
  height: 100%;
  z-index: 3;
  display: none;
}
.setting-aside > div {
  float: left;
  width: 220px;
  height: 100%;
  background-color: #fff;
  padding: 30px 10px;
  color: #333;
}
.setting-aside > div header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.setting-aside > div section {
  width: 100%;
  height: calc(100% - 2 * 50px);
  padding: 30px 20px;
  color: #4d4d4d;
}
.setting-aside > div section ul,
.setting-aside > div section li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.setting-aside > div section ul {
  width: 100%;
  height: 100%;
}
.setting-aside > div section li {
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.setting-aside > div section li span {
  float: left;
}
.setting-aside > div section li div {
  float: right;
  width: 28px;
  height: 16px;
  margin-top: 22px;
  cursor: pointer;
}
.setting-aside > div section li div.switch-on {
  background: url("../../img/znbg/switch_on.png") no-repeat;
}
.setting-aside > div section li div.switch-off {
  background: url("../../img/znbg/switch_off.png") no-repeat;
}
.setting-aside > div footer {
  width: 100%;
  height: 50px;
}
.setting-aside > div footer button {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #5483d5;
  color: #fff;
  border: 0;
  outline: none;
  margin-top: 10px;
  margin-left: 25px;
}
.setting-aside > div footer button:nth-child(2) {
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  color: #666666;
}
.setting-aside > button {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../../img/znbg/close.png") no-repeat;
  border: 0;
  outline: none;
  position: relative;
  top: 50%;
  margin-top: -20px;
}
.setting-btn {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  display: block;
  top: 50%;
  margin-top: -20px;
  background: url("../../img/znbg/setting.png") no-repeat;
}
.left-tree {
  height: 230px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  z-index: 2;
}
/*词云*/
.jqcloud {
  font-family: "微软雅黑", "宋体", sans-serif;
  font-size: 10px;
  line-height: normal;
}
.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}
.jqcloud span.w10 {
  font-size: 200%;
  color: #7a833c;
}
.jqcloud span.w9 {
  font-size: 190%;
  color: #53609b;
}
.jqcloud span.w8 {
  font-size: 180%;
  color: #bc78de;
}
.jqcloud span.w7 {
  font-size: 170%;
  color: #cf3876;
}
.jqcloud span.w6 {
  font-size: 160%;
  color: #1d84c6;
}
.jqcloud span.w5 {
  font-size: 150%;
  color: #7a833c;
}
.jqcloud span.w4 {
  font-size: 140%;
  color: #1d84c6;
}
.jqcloud span.w3 {
  font-size: 130%;
  color: #e8a31c;
}
.jqcloud span.w2 {
  font-size: 120%;
  color: #bc78de;
}
.jqcloud span.w1 {
  font-size: 110%;
  color: #ed8166;
}
/* colors */
.jqcloud {
  color: #09f;
}
.jqcloud a {
  color: inherit;
}
.jqcloud span {
  cursor: pointer;
}
.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}
.jqcloud {
  overflow: hidden;
  position: relative;
}
.jqcloud span {
  padding: 0;
}
.pop-menu {
  background-color: #fff;
  position: absolute;
  z-index: 4;
  border-radius: 1px;
}
.pop-menu::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  bottom: -9px;
  transform: rotate(-45deg);
  left: 50%;
  margin-left: -8px;
  top: -8px;
}
.pop-menu > a {
  display: block;
  padding: 3px 10px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.pop-menu > a:hover {
  color: #2e91fe;
}
.banner {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #485053;
  font-weight: 600;
}
.banner > img {
  float: right;
  margin-top: 5px;
}
.banner2 {
  height: 22px;
  line-height: 22px;
}
.banner2 span {
  margin-left: 5px;
}
.banner3 {
  line-height: 22px;
  height: 22px;
}
.banner4 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: url(../../img/znbg/preview/header_bg.png) no-repeat 50% 50%;
  text-align: center;
}
#pop-container1 .fieldset1 > section > section {
  width: 100%;
  height: calc(100% - 30px);
}
#pop-container1 .fieldset1 > section > section > div {
  width: 100%;
  height: 43px;
  line-height: 43px;
  padding: 0 5px;
}
#pop-container1 .fieldset1 > section > section > div > * {
  float: left;
}
#pop-container1 .fieldset1 > section > section > div > div:nth-child(2) {
  width: calc(100% - 46px);
  height: 100%;
  margin-left: 10px;
}
#pop-container1 .fieldset1 > section > section > div > div:first-child {
  width: 36px;
  height: 35px;
}
#pop-container1 .fieldset1 > section > section > div > div > div {
  width: 100%;
  height: 43px;
}
#pop-container1 .fieldset1 > section > section > div > div span {
  float: left;
  color: #485053;
}
#pop-container1 .fieldset1 > section > section > div > div strong {
  float: right;
  color: #ff6000;
  font-size: 20px;
}
#pop-container1 .fieldset1 > section > section > div:nth-child(2) {
  height: calc(100% - 43px * 3);
  padding: 0;
}
#pop-container1 .fieldset1 > section > section > div:nth-child(2) > div:nth-child(2) {
  border: dashed 1px #bec5d4;
}
#pop-container1 .fieldset1 > section > section > div:nth-child(2) > div > div {
  padding: 0 5px;
}
#pop-container1 .fieldset1 > section > section > div:nth-child(2) > div > div:first-child {
  margin-top: 0;
  background-color: #f4f6fc;
  border-bottom: 1px solid #dbdbdb;
}
#pop-container1 .fieldset1 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container1 .fieldset1 #chart1-1,
#pop-container1 .fieldset1 #chart2-1 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container1 .fieldset1 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container1,
#pop-container4 {
  position: absolute;
  width: 1280px;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;
}
#pop-container1 > header,
#pop-container4 > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header.png") no-repeat;
  background-size: 100% 100%;
}
#pop-container1 > header > div,
#pop-container4 > header > div {
  float: left;
  height: 100%;
}
#pop-container1 > header > div:first-child,
#pop-container4 > header > div:first-child {
  width: 129px;
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 331px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
  text-align: center;
}
#pop-container1 > header > div:nth-child(2),
#pop-container4 > header > div:nth-child(2) {
  width: calc(100% - 475px);
  margin-left: 5px;
}
#pop-container1 > header > div:nth-child(2) > div,
#pop-container4 > header > div:nth-child(2) > div {
  width: 100%;
  color: #ebecfa;
  font-family: ZHSCNMT--GBK1-0;
}
#pop-container1 > header > div:nth-child(2) > div:first-child,
#pop-container4 > header > div:nth-child(2) > div:first-child {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
}
#pop-container1 > header > div:nth-child(2) > div:nth-child(2),
#pop-container4 > header > div:nth-child(2) > div:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: right;
}
#pop-container1 > header > div:nth-child(3),
#pop-container4 > header > div:nth-child(3) {
  width: 10px;
  height: 100%;
  color: #ebecfa;
}
#pop-container1 > header > div:nth-child(3) i,
#pop-container4 > header > div:nth-child(3) i {
  position: relative;
  top: 8px;
  right: 13px;
  cursor: pointer;
}
#pop-container1 > section,
#pop-container4 > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container1 > section fieldset,
#pop-container4 > section fieldset {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
#pop-container1 > section fieldset > section,
#pop-container4 > section fieldset > section {
  width: 100%;
  height: 50%;
  padding: 10px;
}
#pop-container1 > section fieldset > section > header,
#pop-container4 > section fieldset > section > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container1 > section fieldset > section > header > span,
#pop-container4 > section fieldset > section > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container1 > section fieldset:last-child,
#pop-container4 > section fieldset:last-child {
  border-right: 0;
}
#pop-container1 .fieldset2 > section #chart4-2,
#pop-container4 .fieldset2 > section #chart4-2 {
  width: 299px;
  height: 164px;
  margin-bottom: 2px;
}
#pop-container1 .fieldset2 > section #chart1-2,
#pop-container4 .fieldset2 > section #chart1-2,
#pop-container1 .fieldset2 > section #chart4-3,
#pop-container4 .fieldset2 > section #chart4-3 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container1 .fieldset2 > section .footer1,
#pop-container4 .fieldset2 > section .footer1 {
  width: 100%;
  height: 80px;
  line-height: 20px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container1 .fieldset2 > section .footer2,
#pop-container4 .fieldset2 > section .footer2 {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container1 .fieldset3 #chart1-3,
#pop-container4 .fieldset3 #chart1-3,
#pop-container1 .fieldset3 #chart4-4,
#pop-container4 .fieldset3 #chart4-4 {
  width: 100%;
  height: calc(100% - 35px);
}
#pop-container1 .fieldset3 footer,
#pop-container4 .fieldset3 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container1 .fieldset3 footer > div,
#pop-container4 .fieldset3 footer > div {
  width: 100%;
  height: 24px;
  line-height: 24px;
}
#pop-container1 .fieldset3 footer > div > div,
#pop-container4 .fieldset3 footer > div > div {
  float: left;
  width: 50px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#pop-container1 .fieldset3 footer > div > div:first-child,
#pop-container4 .fieldset3 footer > div > div:first-child {
  width: calc(100% - 110px);
}
#pop-container1 .fieldset3 footer > div > div:nth-child(3),
#pop-container4 .fieldset3 footer > div > div:nth-child(3) {
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#pop-container1 .fieldset3 #chart1-4,
#pop-container4 .fieldset3 #chart1-4,
#pop-container1 .fieldset3 #chart4-5,
#pop-container4 .fieldset3 #chart4-5 {
  width: 100%;
  height: calc(100% - 40px);
}
#pop-container1 .fieldset4 > section:first-child,
#pop-container4 .fieldset4 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container1 .fieldset4 footer,
#pop-container4 .fieldset4 footer {
  width: 100%;
  height: 100px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-align: justify;
}
#pop-container1 .fieldset4 #chart1-5,
#pop-container4 .fieldset4 #chart1-5,
#pop-container1 .fieldset4 #chart4-6,
#pop-container4 .fieldset4 #chart4-6 {
  width: 100%;
  height: calc(100% - 130px);
}
#pop-container1 .fieldset4 .zjfx-content,
#pop-container4 .fieldset4 .zjfx-content {
  width: 100%;
  height: calc(100% - 30px);
  line-height: 30px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 {
  position: absolute;
  width: 1280px;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;
}
#pop-container2 > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header.png") no-repeat;
  background-size: 100% 100%;
}
#pop-container2 > header > div {
  float: left;
  height: 100%;
}
#pop-container2 > header > div:first-child {
  width: 129px;
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 331px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
  text-align: center;
}
#pop-container2 > header > div:nth-child(2) {
  width: calc(100% - 475px);
  margin-left: 5px;
}
#pop-container2 > header > div:nth-child(2) > div {
  width: 100%;
  color: #ebecfa;
  font-family: ZHSCNMT--GBK1-0;
}
#pop-container2 > header > div:nth-child(2) > div:first-child {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
}
#pop-container2 > header > div:nth-child(2) > div:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: right;
}
#pop-container2 > header > div:nth-child(3) {
  width: 10px;
  height: 100%;
  color: #ebecfa;
}
#pop-container2 > header > div:nth-child(3) i {
  position: relative;
  top: 8px;
  right: 13px;
  cursor: pointer;
}
#pop-container2 > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container2 > section fieldset {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
#pop-container2 > section fieldset > section {
  width: 100%;
  height: 50%;
  padding: 10px;
}
#pop-container2 > section fieldset > section > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container2 > section fieldset > section > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container2 > section fieldset:last-child {
  border-right: 0;
}
#pop-container2 article {
  text-indent: 30px;
}
#pop-container2 .fieldset1 > section > section {
  width: 100%;
  height: calc(100% - 30px);
}
#pop-container2 .fieldset1 > section > section > div {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
}
#pop-container2 .fieldset1 > section > section > div > * {
  float: left;
}
#pop-container2 .fieldset1 > section > section > div > div:nth-child(2) {
  width: calc(100% - 46px);
  height: 100%;
  margin-left: 10px;
}
#pop-container2 .fieldset1 > section > section > div > div:first-child {
  width: 36px;
  height: 50px;
}
#pop-container2 .fieldset1 > section > section > div > div > div {
  width: 100%;
  height: 50px;
}
#pop-container2 .fieldset1 > section > section > div > div span {
  float: left;
  color: #485053;
}
#pop-container2 .fieldset1 > section > section > div > div strong {
  float: right;
  color: #ff6000;
  font-size: 20px;
}
#pop-container2 .fieldset1 > section > section > div:nth-child(2) {
  height: calc(100% - 50px * 3);
  padding: 0;
}
#pop-container2 .fieldset1 > section > section > div:nth-child(2) > div:nth-child(2) {
  border: dashed 1px #bec5d4;
}
#pop-container2 .fieldset1 > section > section > div:nth-child(2) > div > div {
  padding: 0 5px;
}
#pop-container2 .fieldset1 > section > section > div:nth-child(2) > div > div:first-child {
  margin-top: 0;
  background-color: #f4f6fc;
  border-bottom: 1px solid #dbdbdb;
}
#pop-container2 .fieldset1 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container2 .fieldset1 #chart1-1,
#pop-container2 .fieldset1 #chart2-1 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container2 .fieldset1 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 .fieldset2 {
  padding: 10px;
}
#pop-container2 .fieldset2 chart {
  display: block;
}
#pop-container2 .fieldset2 #tab2 {
  height: 152px;
}
#pop-container2 .fieldset2 #tab2 > div {
  line-height: 21px;
  height: 21px;
}
#pop-container2 .fieldset2 .article1 {
  width: 100%;
  height: 66px;
  line-height: 22px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 .fieldset2 #chart2-2 {
  height: 140px;
  width: 100%;
}
#pop-container2 .fieldset2 .article2 {
  width: 100%;
  height: 44px;
  line-height: 22px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 .fieldset2 #chart2-3 {
  height: 140px;
  width: 100%;
}
#pop-container2 .fieldset2 > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container2 .fieldset2 > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container2 .fieldset3 {
  padding: 3px 10px;
}
#pop-container2 .fieldset3 chart {
  display: block;
}
#pop-container2 .fieldset3 #chart2-4 {
  height: 214px;
}
#pop-container2 .fieldset3 article {
  width: 100%;
  line-height: 20px;
  margin-top: 2px;
}
#pop-container2 .fieldset3 article strong {
  color: #2c8fce;
}
#pop-container2 .fieldset3 article:nth-child(2n + 1) {
  height: 60px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 .fieldset3 article:nth-child(2n) {
  height: 80px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 .fieldset4 {
  padding: 10px;
}
#pop-container2 .fieldset4 > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container2 .fieldset4 > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container2 .fieldset4 article {
  margin-top: 2px;
  line-height: 20px;
  height: 80px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container2 .fieldset4 #chart2-5 {
  display: block;
  height: 150px;
}
#pop-container3 {
  position: absolute;
  width: 1280px;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;
}
#pop-container3 > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header.png") no-repeat;
  background-size: 100% 100%;
}
#pop-container3 > header > div {
  float: left;
  height: 100%;
}
#pop-container3 > header > div:first-child {
  width: 129px;
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 331px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
  text-align: center;
}
#pop-container3 > header > div:nth-child(2) {
  width: calc(100% - 475px);
  margin-left: 5px;
}
#pop-container3 > header > div:nth-child(2) > div {
  width: 100%;
  color: #ebecfa;
  font-family: ZHSCNMT--GBK1-0;
}
#pop-container3 > header > div:nth-child(2) > div:first-child {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
}
#pop-container3 > header > div:nth-child(2) > div:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: right;
}
#pop-container3 > header > div:nth-child(3) {
  width: 10px;
  height: 100%;
  color: #ebecfa;
}
#pop-container3 > header > div:nth-child(3) i {
  position: relative;
  top: 8px;
  right: 13px;
  cursor: pointer;
}
#pop-container3 > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container3 > section fieldset {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
#pop-container3 > section fieldset > section {
  width: 100%;
  height: 50%;
  padding: 10px;
}
#pop-container3 > section fieldset > section > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container3 > section fieldset > section > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container3 > section fieldset:last-child {
  border-right: 0;
}
#pop-container3 .fieldset1 > section > section {
  width: 100%;
  height: calc(100% - 30px);
}
#pop-container3 .fieldset1 > section > section > div {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0 5px;
}
#pop-container3 .fieldset1 > section > section > div > * {
  float: left;
}
#pop-container3 .fieldset1 > section > section > div > div:nth-child(2) {
  width: calc(100% - 46px);
  height: 100%;
  margin-left: 10px;
}
#pop-container3 .fieldset1 > section > section > div > div:first-child {
  width: 36px;
  height: 37px;
}
#pop-container3 .fieldset1 > section > section > div > div > div {
  width: 100%;
  height: 37px;
}
#pop-container3 .fieldset1 > section > section > div > div span {
  float: left;
  color: #485053;
}
#pop-container3 .fieldset1 > section > section > div > div strong {
  float: right;
  color: #ff6000;
  font-size: 20px;
}
#pop-container3 .fieldset1 > section > section > div:nth-child(3) {
  height: calc(100% - 37px * 4);
  padding: 0;
}
#pop-container3 .fieldset1 > section > section > div:nth-child(3) > div:nth-child(2) {
  border: dashed 1px #bec5d4;
}
#pop-container3 .fieldset1 > section > section > div:nth-child(3) > div > div {
  padding: 0 5px;
}
#pop-container3 .fieldset1 > section > section > div:nth-child(3) > div > div:first-child {
  margin-top: 0;
  background-color: #f4f6fc;
  border-bottom: 1px solid #dbdbdb;
}
#pop-container3 .fieldset1 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container3 .fieldset1 #chart3-1 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container3 .fieldset1 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container3 .fieldset2 {
  padding: 0 10px;
}
#pop-container3 .fieldset2 footer {
  width: 100%;
  line-height: 22px;
  text-indent: 30px;
  margin-top: 3px;
}
#pop-container3 .fieldset2 .footer1 {
  height: 88px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container3 .fieldset2 .footer2 {
  height: 66px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container3 .fieldset2 > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container3 .fieldset2 > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container3 .fieldset3 {
  padding: 0 10px;
}
#pop-container3 .fieldset3 > chart {
  display: block;
  width: 100%;
}
#pop-container3 .fieldset3 #chart3-3 {
  height: 155px;
}
#pop-container3 .fieldset3 #chart3-4 {
  height: 145px;
}
#pop-container3 .fieldset3 article {
  width: 100%;
  height: 88px;
  line-height: 22px;
  text-indent: 30px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container3 .fieldset3 .article1 {
  height: 88px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container3 .fieldset4 {
  padding: 0 10px;
}
#pop-container3 .fieldset4 > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container3 .fieldset4 > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container3 .fieldset4 chart {
  display: block;
  width: 100%;
}
#pop-container3 .fieldset4 #chart3-5 {
  height: calc(100% - 360px);
}
#pop-container3 .fieldset4 #chart3-6 {
  height: 120px;
}
#pop-container3 .fieldset4 .article1 {
  height: 80px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
  text-indent: 30px;
}
#pop-container3 .fieldset4 .article2 {
  height: 60px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  text-indent: 30px;
}
#pop-container4 .fieldset1 > section > section {
  width: 100%;
  height: calc(100% - 30px);
}
#pop-container4 .fieldset1 > section > section > div {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0 5px;
}
#pop-container4 .fieldset1 > section > section > div > * {
  float: left;
}
#pop-container4 .fieldset1 > section > section > div > div:nth-child(2) {
  width: calc(100% - 46px);
  height: 100%;
  margin-left: 10px;
}
#pop-container4 .fieldset1 > section > section > div > div:first-child {
  width: 36px;
  height: 37px;
}
#pop-container4 .fieldset1 > section > section > div > div > div {
  width: 100%;
  height: 37px;
}
#pop-container4 .fieldset1 > section > section > div > div span {
  float: left;
  color: #485053;
}
#pop-container4 .fieldset1 > section > section > div > div strong {
  float: right;
  color: #ff6000;
  font-size: 20px;
}
#pop-container4 .fieldset1 > section > section > div:nth-child(3) {
  height: calc(100% - 37px * 4);
  padding: 0;
}
#pop-container4 .fieldset1 > section > section > div:nth-child(3) > div:nth-child(2) {
  border: dashed 1px #bec5d4;
}
#pop-container4 .fieldset1 > section > section > div:nth-child(3) > div > div {
  padding: 0 5px;
}
#pop-container4 .fieldset1 > section > section > div:nth-child(3) > div > div:first-child {
  margin-top: 0;
  background-color: #f4f6fc;
  border-bottom: 1px solid #dbdbdb;
}
#pop-container4 .fieldset1 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container4 .fieldset1 #chart4-1 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container4 .fieldset1 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container5 {
  position: absolute;
  width: 1520px;
  height: 760px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;
}
#pop-container5 > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header2.png") no-repeat;
  background-size: 100% 100%;
}
#pop-container5 > header > div {
  float: left;
  height: 100%;
}
#pop-container5 > header > div:first-child {
  width: 129px;
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 331px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
  text-align: center;
}
#pop-container5 > header > div:nth-child(2) {
  width: calc(100% - 475px);
  margin-left: 5px;
}
#pop-container5 > header > div:nth-child(2) > div {
  width: 100%;
  color: #ebecfa;
  font-family: ZHSCNMT--GBK1-0;
}
#pop-container5 > header > div:nth-child(2) > div:first-child {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
}
#pop-container5 > header > div:nth-child(2) > div:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: right;
}
#pop-container5 > header > div:nth-child(3) {
  width: 10px;
  height: 100%;
  color: #ebecfa;
}
#pop-container5 > header > div:nth-child(3) i {
  position: relative;
  top: 8px;
  right: 13px;
  cursor: pointer;
}
#pop-container5 > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container5 > section fieldset {
  float: left;
  width: 20%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
#pop-container5 > section fieldset > section {
  width: 100%;
  height: 50%;
  padding: 10px;
}
#pop-container5 > section fieldset > section > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container5 > section fieldset > section > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container5 > section fieldset:last-child {
  border-right: 0;
}
#pop-container5 chart,
#pop-container5 tab,
#pop-container5 row,
#pop-container5 cell {
  display: block;
}
#pop-container5 fieldset {
  padding: 10px 5px;
}
#pop-container5 fieldset > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container5 fieldset > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container5 .fieldset1 .row1 {
  width: 100%;
  height: 34px;
  line-height: 34px;
}
#pop-container5 .fieldset1 .row1 > div {
  float: left;
  height: 100%;
}
#pop-container5 .fieldset1 .row1 > div:first-child {
  width: 34px;
}
#pop-container5 .fieldset1 .row1 > div:nth-child(2) {
  width: calc(100% - 134px);
  padding-left: 5px;
}
#pop-container5 .fieldset1 .row1 > div:nth-child(3) {
  width: 100px;
  color: #ff6000;
  font-size: 22px;
}
#pop-container5 .fieldset1 .row-left {
  float: left;
  width: 34px;
  height: 108px;
  margin-bottom: 10px;
}
#pop-container5 .fieldset1 .row-right {
  margin-bottom: 10px;
  float: left;
  width: calc(100% - 34px);
  height: 108px;
  border-radius: 0px 0px 4px 4px;
  border: solid 1px #bec5d4;
}
#pop-container5 .fieldset1 .row-right > div:first-child {
  height: 34px;
  line-height: 34px;
  background-color: #f4f6fc;
  border-bottom: solid 1px #bec5d4;
}
#pop-container5 .fieldset1 .row-right > div:first-child > div:nth-child(2) {
  font-size: 22px;
  color: #399554;
}
#pop-container5 .fieldset1 .row-right > div:nth-child(2) {
  height: 74px;
}
#pop-container5 .fieldset1 .row-right > div:nth-child(2) > div {
  float: left;
  height: 100%;
  line-height: 24px;
}
#pop-container5 .fieldset1 .row-right > div:nth-child(2) > div:first-child {
  width: calc(100% - 100px);
}
#pop-container5 .fieldset1 .row-right > div:nth-child(2) > div:nth-child(2) {
  width: 100px;
  font-size: 18px;
  color: #ffa200;
}
#pop-container5 .fieldset1 .row-right > div:nth-child(2) > div > div {
  width: 100%;
  height: 24px;
}
#pop-container5 .fieldset1 .row-right > div > div {
  height: 100%;
  float: left;
}
#pop-container5 .fieldset1 .row-right > div > div:first-child {
  width: calc(100% - 100px);
  padding-left: 5px;
}
#pop-container5 .fieldset1 .row-right > div > div:nth-child(2) {
  width: 100px;
}
#pop-container5 .fieldset1 #chart5-1 {
  width: 100%;
  height: 110px;
}
#pop-container5 .fieldset1 article {
  height: 60px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  text-indent: 30px;
}
#pop-container5 .fieldset2 #chart5-2 {
  height: 120px;
}
#pop-container5 .fieldset2 #chart5-3 {
  height: 120px;
}
#pop-container5 .fieldset2 #tab5-1 {
  width: 100%;
  height: 128px;
  border: solid 1px #dcdcdc;
}
#pop-container5 .fieldset2 #tab5-1 > row {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border-top: solid 1px #dcdcdc;
}
#pop-container5 .fieldset2 #tab5-1 > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
#pop-container5 .fieldset2 #tab5-1 > row > cell {
  border-left: solid 1px #dcdcdc;
  width: 55px;
  height: 100%;
  text-align: center;
  float: left;
}
#pop-container5 .fieldset2 #tab5-1 > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 165px);
}
#pop-container5 .fieldset2 article {
  width: 100%;
  height: 60px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  text-indent: 30px;
  margin-top: 4px;
}
#pop-container5 .fieldset3 #chart5-4 {
  height: 220px;
}
#pop-container5 .fieldset3 #chart5-5,
#pop-container5 .fieldset3 #chart5-6 {
  height: 138px;
}
#pop-container5 .fieldset4 #chart5-7 {
  height: 250px;
}
#pop-container5 .fieldset4 #chart5-8,
#pop-container5 .fieldset4 #chart5-9 {
  height: 145px;
}
#pop-container5 .fieldset5 article {
  height: 60px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  text-indent: 30px;
}
#pop-container5 .fieldset5 #tab5-2 {
  width: 100%;
  height: 210px;
  border: solid 1px #dcdcdc;
  font-size: 12px;
}
#pop-container5 .fieldset5 #tab5-2 > row {
  width: 100%;
  height: 15px;
  line-height: 15px;
  border-top: solid 1px #dcdcdc;
}
#pop-container5 .fieldset5 #tab5-2 > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
#pop-container5 .fieldset5 #tab5-2 > row > cell {
  border-left: solid 1px #dcdcdc;
  width: 60px;
  height: 100%;
  text-align: center;
  float: left;
}
#pop-container5 .fieldset5 #tab5-2 > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 180px);
}
#pop-container5 .fieldset5 #tab5-3 {
  width: 100%;
  height: 212px;
  border: solid 1px #dcdcdc;
  font-size: 12px;
}
#pop-container5 .fieldset5 #tab5-3 > row {
  width: 100%;
  height: 15px;
  line-height: 15px;
  border-top: solid 1px #dcdcdc;
}
#pop-container5 .fieldset5 #tab5-3 > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
#pop-container5 .fieldset5 #tab5-3 > row > cell {
  border-left: solid 1px #dcdcdc;
  width: 70px;
  height: 100%;
  text-align: center;
  float: left;
}
#pop-container5 .fieldset5 #tab5-3 > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 140px);
}
#pop-container6 {
  position: absolute;
  width: 1280px;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;
}
#pop-container6 > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header.png") no-repeat;
  background-size: 100% 100%;
}
#pop-container6 > header > div {
  float: left;
  height: 100%;
}
#pop-container6 > header > div:first-child {
  width: 129px;
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 331px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
  text-align: center;
}
#pop-container6 > header > div:nth-child(2) {
  width: calc(100% - 475px);
  margin-left: 5px;
}
#pop-container6 > header > div:nth-child(2) > div {
  width: 100%;
  color: #ebecfa;
  font-family: ZHSCNMT--GBK1-0;
}
#pop-container6 > header > div:nth-child(2) > div:first-child {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
}
#pop-container6 > header > div:nth-child(2) > div:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: right;
}
#pop-container6 > header > div:nth-child(3) {
  width: 10px;
  height: 100%;
  color: #ebecfa;
}
#pop-container6 > header > div:nth-child(3) i {
  position: relative;
  top: 8px;
  right: 13px;
  cursor: pointer;
}
#pop-container6 > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container6 > section fieldset {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
#pop-container6 > section fieldset > section {
  width: 100%;
  height: 50%;
  padding: 10px;
}
#pop-container6 > section fieldset > section > header {
  clear: both;
  width: 180px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
}
#pop-container6 > section fieldset > section > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container6 > section fieldset:last-child {
  border-right: 0;
}
#pop-container6 .fieldset1 > section > section {
  width: 100%;
  height: calc(100% - 30px);
}
#pop-container6 .fieldset1 > section > section > div {
  width: 100%;
  height: 33px;
  line-height: 33px;
  padding: 0 5px;
}
#pop-container6 .fieldset1 > section > section > div > * {
  float: left;
}
#pop-container6 .fieldset1 > section > section > div > div:nth-child(2) {
  width: calc(100% - 43px);
  height: 100%;
  margin-left: 10px;
}
#pop-container6 .fieldset1 > section > section > div > div:first-child {
  width: 33px;
  height: 33px;
}
#pop-container6 .fieldset1 > section > section > div > div > div {
  width: 100%;
  height: 33px;
}
#pop-container6 .fieldset1 > section > section > div > div span {
  float: left;
  color: #485053;
}
#pop-container6 .fieldset1 > section > section > div > div strong {
  float: right;
  color: #ff6000;
  font-size: 20px;
}
#pop-container6 .fieldset1 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container6 .fieldset1 #chart6-1 {
  width: 100%;
  height: calc(100% - 135px);
}
#pop-container6 .fieldset1 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container6 .fieldset2 > section #chart6-2 {
  width: 100%;
  height: calc(100% - 115px);
}
#pop-container6 .fieldset2 > section .footer1 {
  width: 100%;
  height: 80px;
  line-height: 20px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container6 .fieldset2 > section .footer2 {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container6 .fieldset3 #chart6-3 {
  width: 100%;
  height: calc(100% - 35px);
}
#pop-container6 .fieldset3 footer {
  width: 100%;
  height: 60px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
#pop-container6 .fieldset3 footer > div {
  width: 100%;
  height: 24px;
  line-height: 24px;
}
#pop-container6 .fieldset3 footer > div > div {
  float: left;
  width: 50px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#pop-container6 .fieldset3 footer > div > div:first-child {
  width: calc(100% - 110px);
}
#pop-container6 .fieldset3 footer > div > div:nth-child(3) {
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#pop-container6 .fieldset3 #chart6-4 {
  width: 100%;
  height: calc(100% - 40px);
}
#pop-container6 .fieldset4 > section:first-child {
  border-bottom: 1px solid #dbdbdb;
}
#pop-container6 .fieldset4 footer {
  width: 100%;
  height: 100px;
  line-height: 20px;
  margin-top: 5px;
  text-indent: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-align: justify;
}
#pop-container6 .fieldset4 #chart6-5 {
  width: 100%;
  height: calc(100% - 130px);
}
#pop-container6 .fieldset4 .zjfx-content {
  width: 100%;
  height: calc(100% - 30px);
  line-height: 30px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
  text-align: justify;
}
.hidden-chart {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hidden-chart > div {
  float: left;
  width: 400px;
  height: 300px;
}
.tab-container1 {
  color: #000;
  width: 299px;
  height: 164px;
  margin: 0 auto 2px;
  border: 2px solid #757b7b;
}
.tab-container1 > div {
  width: 100%;
  height: 27px;
  line-height: 27px;
  border-top: 1px solid #485053;
}
.tab-container1 > div > div {
  text-align: center;
  float: left;
  width: 60px;
  height: 100%;
  border-left: 1px solid #485053;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tab-container1 > div > div:nth-child(4n + 1) {
  width: calc(100% - 180px);
  border-left: 0;
}
.tab-container1 > div:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
.tab-container3 {
  color: #000;
  width: 299px;
  height: 388px;
  border: #8a8a8a 2px solid;
  display: block;
}
.tab-container3 > row {
  display: block;
  width: 100%;
  height: 22px;
  line-height: 22px;
  border-top: 1px solid #dbdbdb;
}
.tab-container3 > row:first-child {
  height: 31px;
  line-height: 31px;
  background-color: #f0f3fa;
  border-top: 0;
}
.tab-container3 > row:nth-child(2),
.tab-container3 > row:nth-child(7),
.tab-container3 > row:nth-child(13) {
  background-color: #cceaff;
}
.tab-container3 > row > cell {
  display: block;
  height: 100%;
  width: 65px;
  float: left;
  text-align: center;
  border-left: 1px solid #dbdbdb;
}
.tab-container3 > row > cell:first-child {
  width: calc(100% - 65px * 3);
  border-left: 0;
}
.tab-container51 {
  width: 100%;
  height: 128px;
  border: solid 1px #dcdcdc;
}
.tab-container51 > row {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border-top: solid 1px #dcdcdc;
}
.tab-container51 > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
.tab-container51 > row > cell {
  border-left: solid 1px #dcdcdc;
  width: 55px;
  height: 100%;
  text-align: center;
  float: left;
}
.tab-container51 > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 165px);
}
.tab-container52 {
  width: 100%;
  height: 210px;
  border: solid 1px #dcdcdc;
  font-size: 12px;
}
.tab-container52 > row {
  width: 100%;
  height: 15px;
  line-height: 15px;
  border-top: solid 1px #dcdcdc;
}
.tab-container52 > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
.tab-container52 > row > cell {
  border-left: solid 1px #dcdcdc;
  width: 60px;
  height: 100%;
  text-align: center;
  float: left;
}
.tab-container52 > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 180px);
}
.tab-container53 {
  width: 100%;
  height: 212px;
  border: solid 1px #dcdcdc;
  font-size: 12px;
}
.tab-container53 > row {
  width: 100%;
  height: 15px;
  line-height: 15px;
  border-top: solid 1px #dcdcdc;
}
.tab-container53 > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
.tab-container53 > row > cell {
  border-left: solid 1px #dcdcdc;
  width: 70px;
  height: 100%;
  text-align: center;
  float: left;
}
.tab-container53 > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 140px);
}
