chart,
tab,
row,
cell {
  display: block;
}
article {
  text-indent: 32px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
.header > header {
  clear: both;
  width: 200px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
  background-size: 100% 80%;
}
.header > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
.bg {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}
.banner {
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #485053;
  font-weight: 600;
}
.banner > img {
  float: right;
  margin-top: 5px;
}
.scroll-style::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.scroll-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.row-width:nth-child(1) {
  width: 40px;
}
.row-width:nth-child(2) {
  width: calc(100% - 320px);
}
.row-width:nth-child(2) * {
  float: left;
}
.row-width:nth-child(2) img {
  margin-top: 8px;
}
.row-width:nth-child(2) span {
  text-align: left;
  display: inline-block;
  width: calc(100% - 28px);
  height: 100%;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row-width:nth-child(3) {
  width: 140px;
}
.row-width:nth-child(4) {
  width: 140px;
}
.row-width:nth-child(4) img {
  margin-left: 8px;
  cursor: pointer;
}
.row-width:nth-child(4) img:first-child {
  margin-left: 0;
}
.left-section {
  float: left;
  width: 60%;
  padding: 20px 0 20px 20px;
  height: 100%;
}
.left-section > header {
  width: 100%;
  height: 50px;
  background-color: #adc3db;
  padding: 10px;
}
.left-section > header input {
  width: calc((100% - 40px) / 3);
  height: 30px;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 3px;
  color: #808080;
  text-indent: 15px;
  line-height: 30px;
}
.left-section > header input:first-child {
  margin-left: 0;
}
.left-section section {
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}
.left-section section fieldset {
  width: 100%;
  height: calc(calc(100% / 6) - 10px);
  padding: 0 10px;
}
.left-section section fieldset > header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #1a1a1a;
}
.left-section section fieldset > header * {
  margin-left: 10px;
}
.left-section section fieldset > header span {
  background: url("../../img/znbg/checkbox.png") no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.left-section section fieldset article {
  width: calc(100% - 50px);
  height: calc(100% - 40px - 10px);
  border: 1px dashed #bcc9d8;
  margin: 0 auto;
  padding: 5px;
  color: #999;
  background-color: #f6faff;
  overflow-y: auto;
  overflow-x: hidden;
}
.left-section section fieldset article::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.left-section section fieldset article::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.left-section section fieldset article::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.left-section section fieldset article > div {
  width: 100%;
  line-height: 30px;
}
.left-section section fieldset article > div > span {
  cursor: pointer;
  margin-left: 10px;
  white-space: nowrap;
}
.left-section section fieldset article > div > span > span {
  margin-left: 3px;
}
.left-section section fieldset article:nth-child(5) {
  overflow: hidden;
}
.left-section section fieldset article textarea {
  width: 100%;
  height: calc(100% - 5px);
  resize: none;
  background-color: #f6faff;
  border: 0;
  outline: none;
}
.left-section section fieldset article textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.left-section section fieldset article textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.left-section section fieldset article textarea::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.left-section section fieldset > footer {
  width: 100%;
  height: 1px;
  background-color: #bcc9d8;
  margin-top: 9px;
}
.left-section section > footer {
  width: 100%;
  height: 50px;
}
.left-section section > footer button {
  display: block;
  width: 90px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px #409cf1;
  color: #027ecb;
  margin: 10px auto;
}
.right-section {
  float: left;
  width: calc(40% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px #939cab;
}
.right-section header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
}
.right-section header span,
.right-section header img {
  margin-left: 10px;
}
.right-section section {
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px 20px;
}
.right-section section > div {
  width: 100%;
  line-height: 35px;
  color: #000;
  text-align: center;
}
.right-section section > div.tab-header {
  height: 35px;
  background-color: #f6faff;
}
.right-section section > div.tab-header div {
  float: left;
  height: 100%;
}
.right-section section > div.tab-header div:nth-child(1) {
  width: 40px;
}
.right-section section > div.tab-header div:nth-child(2) {
  width: calc(100% - 320px);
}
.right-section section > div.tab-header div:nth-child(2) * {
  float: left;
}
.right-section section > div.tab-header div:nth-child(2) img {
  margin-top: 8px;
}
.right-section section > div.tab-header div:nth-child(2) span {
  text-align: left;
  display: inline-block;
  width: calc(100% - 28px);
  height: 100%;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-section section > div.tab-header div:nth-child(3) {
  width: 140px;
}
.right-section section > div.tab-header div:nth-child(4) {
  width: 140px;
}
.right-section section > div.tab-header div:nth-child(4) img {
  margin-left: 8px;
  cursor: pointer;
}
.right-section section > div.tab-header div:nth-child(4) img:first-child {
  margin-left: 0;
}
.right-section section > div.tab-body {
  height: calc(100% - 35px);
  overflow-y: auto;
  overflow-x: hidden;
}
.right-section section > div.tab-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.right-section section > div.tab-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.right-section section > div.tab-body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.right-section section > div.tab-body > div {
  width: 100%;
  height: 35px;
}
.right-section section > div.tab-body > div:hover,
.right-section section > div.tab-body > div.row-selected {
  background-color: #edf6ff;
}
.right-section section > div.tab-body > div > div {
  float: left;
  height: 35px;
}
.right-section section > div.tab-body > div > div:nth-child(1) {
  width: 40px;
}
.right-section section > div.tab-body > div > div:nth-child(2) {
  width: calc(100% - 320px);
}
.right-section section > div.tab-body > div > div:nth-child(2) * {
  float: left;
}
.right-section section > div.tab-body > div > div:nth-child(2) img {
  margin-top: 8px;
}
.right-section section > div.tab-body > div > div:nth-child(2) span {
  text-align: left;
  display: inline-block;
  width: calc(100% - 28px);
  height: 100%;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-section section > div.tab-body > div > div:nth-child(3) {
  width: 140px;
}
.right-section section > div.tab-body > div > div:nth-child(4) {
  width: 140px;
}
.right-section section > div.tab-body > div > div:nth-child(4) img {
  margin-left: 8px;
  cursor: pointer;
}
.right-section section > div.tab-body > div > div:nth-child(4) img:first-child {
  margin-left: 0;
}
.pop-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f7f7f;
  opacity: 0.8;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}
.left-tree {
  height: 230px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  z-index: 2;
}
.hidden-chart {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hidden-chart chart,
.hidden-chart tab,
.hidden-chart row,
.hidden-chart cell {
  display: block;
}
.hidden-chart > div {
  float: left;
  width: 400px;
  height: 300px;
}
.tab-container-hidden {
  color: #000;
  border: solid 1px #000;
}
.tab-container-hidden > row {
  height: 32px;
  line-height: 32px;
  border-top: solid 1px #000;
}
.tab-container-hidden > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
.tab-container-hidden > row > cell {
  border-left: solid 1px #000;
  width: 80px;
  height: 32px;
  text-align: center;
  float: left;
}
.tab-container-hidden > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 5 *  80px);
}
.tab-container-hidden > row > cell:first-child {
  width: 120px !important;
}
.tab-container-block {
  color: #000;
  border: solid 1px #000;
}
.tab-container-block > row {
  height: 30px;
  line-height: 30px;
  border-top: solid 1px #000;
}
.tab-container-block > row:first-child {
  border-top: 0;
  background-color: #f0f3fa;
}
.tab-container-block > row > cell {
  border-left: solid 1px #000;
  width: 65px;
  height: 30px;
  text-align: center;
  float: left;
}
.tab-container-block > row > cell:first-child {
  border-left: 0;
  width: calc(100% - 5 *  65px);
}
.pop-menu {
  background-color: #fff;
  position: absolute;
  z-index: 4;
  border-radius: 1px;
}
.pop-menu::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  bottom: -9px;
  transform: rotate(-45deg);
  left: 50%;
  margin-left: -8px;
  top: -8px;
}
.pop-menu > a {
  display: block;
  padding: 3px 10px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.pop-menu > a:hover {
  color: #2e91fe;
}
#pop-container {
  position: absolute;
  width: 1440px;
  height: 720px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffffff;
  color: #485053;
  display: none;
}
#pop-container > header {
  width: 100%;
  height: 65px;
  background: url("../../img/znbg/preview/header2.png") no-repeat;
  background-size: 100% 100%;
}
#pop-container > header > div {
  float: left;
  height: 100%;
}
#pop-container > header > div:first-child {
  width: 129px;
  line-height: 58px;
  font-size: 48px;
  letter-spacing: 5px;
  margin-left: 308px;
  font-family: CenturyGothic-Bold;
  color: #a9aac2;
  text-align: center;
}
#pop-container > header > div:nth-child(2) {
  width: calc(100% - 452px);
  margin-left: 5px;
}
#pop-container > header > div:nth-child(2) > div {
  width: 100%;
  color: #ebecfa;
  font-family: ZHSCNMT--GBK1-0;
}
#pop-container > header > div:nth-child(2) > div:first-child {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
}
#pop-container > header > div:nth-child(2) > div:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: right;
}
#pop-container > header > div:nth-child(3) {
  width: 10px;
  height: 100%;
  color: #ebecfa;
}
#pop-container > header > div:nth-child(3) i {
  position: relative;
  top: 8px;
  right: 13px;
  cursor: pointer;
}
#pop-container > section {
  width: 100%;
  height: calc(100% - 65px);
}
#pop-container > section fieldset {
  float: left;
  width: 21%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
  padding: 10px;
}
#pop-container > section fieldset > header {
  clear: both;
  width: 200px;
  height: 30px;
  line-height: 24px;
  font-size: 16px;
  background: url("../../img/znbg/preview/title.png") no-repeat;
  background-size: 100% 80%;
}
#pop-container > section fieldset > header > span {
  margin-left: 15px;
  color: #ebecfa;
}
#pop-container > section fieldset:last-child {
  border-right: 0;
}
#pop-container > section .fieldset1 > section {
  height: 190px;
  padding: 10px;
}
#pop-container > section .fieldset1 > section > div {
  height: 36px;
  line-height: 36px;
}
#pop-container > section .fieldset1 > section > div:first-child > div:first-child {
  background: url(../../img/znbg/preview/icon21.png) no-repeat;
}
#pop-container > section .fieldset1 > section > div:nth-child(2) > div:first-child {
  background: url(../../img/znbg/preview/icon18.png) no-repeat;
}
#pop-container > section .fieldset1 > section > div:nth-child(3) > div:first-child {
  background: url(../../img/znbg/preview/icon19.png) no-repeat;
}
#pop-container > section .fieldset1 > section > div:last-child > div:first-child {
  background: url(../../img/znbg/preview/icon20.png) no-repeat;
}
#pop-container > section .fieldset1 > section > div > div {
  height: 100%;
  float: left;
}
#pop-container > section .fieldset1 > section > div > div:first-child {
  width: 36px;
}
#pop-container > section .fieldset1 > section > div > div:nth-child(2) {
  margin-left: 10px;
  width: calc(100% - 130px);
}
#pop-container > section .fieldset1 > section > div > div:last-child {
  float: right;
  width: 84px;
  text-align: right;
  color: #ff6000;
  font-size: 22px;
  font-weight: 600;
}
#pop-container > section .fieldset1 > article {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  height: 60px;
}
#pop-container > section .fieldset1 #chart1 {
  height: calc(100% - 330px);
}
#pop-container > section .fieldset2 #chart2 {
  height: 245px;
}
#pop-container > section .fieldset2 #chart3 {
  height: 245px;
}
#pop-container > section .fieldset2 article {
  height: 80px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}
#pop-container > section .fieldset3 {
  width: 31%;
}
#pop-container > section .fieldset3 #tab1,
#pop-container > section .fieldset3 #tab2 {
  height: 128px;
}
#pop-container > section .fieldset3 > article {
  height: 60px;
}
#pop-container > section .fieldset3 #chart4 {
  height: 185px;
}
#pop-container > section .fieldset4 {
  width: 27%;
}
#pop-container > section .fieldset4 > article {
  height: 60px;
}
#pop-container > section .fieldset4 #chart5 {
  height: 150px;
}
#pop-container > section .fieldset4 #chart6 {
  height: 170px;
}
