@font-face {
  font-family: "FZHTJW";
  src: url(../../fonts/FZHTJW.TTF);
}
@font-face {
  font-family: "SourceHanSansCN";
  src: url(../../fonts/SourceHanSansCN-Regular.ttf);
}
@font-face {
  font-family: "Balth";
  src: url(../../fonts/Balth.ttf);
}
main {
  width: calc(100% - 32px);
  height: calc(100% - 20px);
  margin: 10px auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.47);
  border-radius: 4px;
  padding: 15px;
  position: relative;
  background: url(../../img/slhy/pjda/mybd/bad_bg.png) no-repeat center center / 100% 100%;
}
main > header {
  width: calc(100% - 30px);
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: calc(20% - 50px);
  display: flex;
  justify-content: space-between;
}
main > header > div {
  display: inline-flex;
  justify-content: space-between;
}
main > header > div:first-child > * {
  color: #000;
  margin-left: 10px;
}
main #date1,
main #date2,
main #keyword {
  width: 150px;
  height: 100%;
  padding: 0 5px;
  vertical-align: top;
}
main #search-btn {
  background-color: #2a5896;
  border-radius: 3px;
  height: 100%;
  border: 0;
  outline: none;
  color: #fff;
}
main > section {
  width: calc(100% - 30px);
  height: calc(80% - 10px);
  position: absolute;
  top: 20%;
}
main > section > fieldset {
  height: 100%;
  color: #333;
  border-radius: 3px;
  background-color: #e6eaf1;
}
main > section > fieldset > header {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 24px;
  font-family: "FZHTJW";
  letter-spacing: 2px;
}
main > section > fieldset > section {
  height: calc(100% - 70px);
  overflow: auto;
  padding: 0 10px;
}
main > section > fieldset > section > section {
  height: 80px;
  margin-top: 20px;
  background-color: #fbfdff;
  box-shadow: 1px 2px 2px 0px rgba(165, 186, 201, 0.32);
  border-radius: 3px;
  display: flex;
  cursor: pointer;
}
main > section > fieldset > section > section > div {
  font-family: "SourceHanSansCN";
}
main > section > fieldset > section > section > div:first-child {
  width: 80px;
  height: 100%;
  text-align: center;
}
main > section > fieldset > section > section > div:first-child > div {
  height: 24px;
}
main > section > fieldset > section > section > div:first-child > div:first-child {
  height: calc(100% - 24px);
  position: relative;
}
main > section > fieldset > section > section > div:first-child > div:first-child > * {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main > section > fieldset > section > section > div:first-child > div:last-child {
  line-height: 24px;
  font-size: 16px;
}
main > section > fieldset > section > section > div:last-child {
  width: calc(100% - 80px);
  height: 100%;
}
main > section > fieldset > section > section > div:last-child > div {
  height: 50%;
  line-height: 40px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main > section > fieldset > section > section > div:last-child > div:first-child > span {
  margin-left: 10px;
}
main > section > fieldset > section > section > div:last-child > div:first-child > span:first-child {
  margin-left: 0;
}
main > section > fieldset > section > section:first-child {
  margin-top: 0;
}
main > section > fieldset strong {
  font-size: 20px;
  color: #4c8acb;
}
.main-section {
  display: flex;
  justify-content: space-between;
}
.main-section > fieldset {
  width: calc(25% - 15px);
  height: 100%;
}
.switch-btn {
  width: 230px;
  height: 32px;
  line-height: 32px;
  background-color: #ffffff;
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.39);
  border-radius: 16px;
  border: solid 1px #dcdfe6;
  display: flex;
}
.switch-btn > div {
  width: 50%;
  height: 100%;
  border-radius: 16px;
  text-align: center;
  color: #787a80;
  cursor: pointer;
}
.switch-btn > div:first-child.selected {
  background-color: #2a5896;
}
.switch-btn > div:last-child.selected {
  background-color: #cb3620;
}
.switch-btn .selected {
  color: #fff;
}
.bad-section > fieldset > header {
  color: #2a5896;
}
.bad-section > fieldset > header > img {
  display: inline;
}
.bad-section > fieldset .color1 {
  font-size: 18px !important;
  color: #0c009b;
}
.bad-section > fieldset .color1 strong {
  color: #0c009b;
}
.bad-section > fieldset .color2 {
  font-size: 18px !important;
  color: #554adc;
}
.bad-section > fieldset .color2 strong {
  color: #554adc;
}
.bad-section > fieldset .color3 {
  font-size: 18px !important;
  color: #8d00f0;
}
.bad-section > fieldset .color3 strong {
  color: #8d00f0;
}
.good-section > fieldset > header {
  color: #fff;
  background: url(../../img/slhy/pjda/mybd/title_bg.png) no-repeat center center / 100% 100%;
}
.good-section > fieldset > header > img {
  display: none;
}
.good-section .color1,
.good-section .color2,
.good-section .color3 {
  font-size: 18px !important;
  color: #ea6540;
}
.good-section .color1 strong,
.good-section .color2 strong,
.good-section .color3 strong {
  color: #ea6540;
}
#ckfw select {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
}
#ckfw select > option {
  color: #000;
}
