<link rel="stylesheet" href="../../css/zxyp/jcj.css" />

<header class="up-panel">
  <input id="dept-name" placeholder="市局/分局" readonly />
  <input type="hidden" id="dept-id" disabled />
  <input id="date1" placeholder="时间" readonly />
  <input id="date2" placeholder="时间" readonly />
  <button class="search-btn"></button>
  <div id="dept-tree"></div>
</header>

<div class="view-body">
  <div>
    <div class="left_view" id="left_top">
      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val g"></div>

          <div class="txt"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val r"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val r"></div>

          <div class="txt t"></div>
        </div>
      </div>
    </div>

    <div class="mid_view">
      <div class="group">
        <div class="group_child">
          <div class="subTitle">
            <span>110接处警警情分析</span>
          </div>

          <div class="content">
            <div id="chart_title"></div>

            <div id="chart0"></div>
          </div>
        </div>

        <div class="group_child">
          <div class="subTitle">
            <span>具体问题分析</span>
          </div>

          <div class="content">
            <div id="chart1"></div>
          </div>
        </div>

        <div class="group_child" style="margin-right: 0px;">
          <div class="subTitle">
            <span>具体问题单位情况</span>
          </div>

          <div class="content">
            <div class="tab3">
              <div class="selected" id="11">一单元</div>

              <div id="22">二单元</div>

              <div id="33">三单元</div>

              <div id="44" style="border-right: 0px;">其他</div>
            </div>

            <div id="chart2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="right_view">
      <div class="group">
        <div class="subTitle2">
          <span
            class="l"
            style="padding: 0 15px;background: url(../../img/zxyp/aj/myb_header.png) no-repeat; background-size: 100% 100%;"
            >110接处警满意度排行榜</span
          >

          <span class="y">
            <select id="dept">
              <option value="0">分局</option>

              <option value="1">所队</option>

              <option value="2">人员</option>
            </select>
          </span>
        </div>

        <div class="content">
          <div class="rank">
            <span class="rankTitle"></span>

            <span class="star"><img src="../img/zxyp/jcj/stars.png"/></span>
          </div>

          <div class="rankList"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="left_view">
      <div class="group">
        <div class="subTitle2">
          <span class="l">110接处警热词分析</span>

          <span class="y">
            <select id="dept2">
              <option value="0">接处警</option>

              <option value="1">接警环节</option>

              <option value="2">出警环节</option>

              <option value="3">处警环节</option>
            </select>
          </span>
        </div>

        <div class="content">
          <div class="jqcloud" id="tagscloud"></div>
        </div>
      </div>
    </div>

    <div class="mid_view">
      <div class="group switch-panel">
        <div class="myd">
          <div class="subTitle2">
            <span class="l" style="font-size: 16px;"
              >110接处警满意度走势分析</span
            >
          </div>
          <div class="content">
            <div id="chart3"></div>
          </div>
        </div>
        <div class="dwqk">
          <div class="subTitle2">
            <span class="l" style="font-size: 16px;">110接处警各单位情况</span>
            <span class="m">
              <select id="dept4">
                <option value="0">接处警满意度</option>
                <option value="1">整改满意率</option>
              </select>
            </span>
            <span class="switch-btn switch-two"></span>
          </div>
          <div class="content">
            <div class="tab2">
              <div class="selected">一单元</div>
              <div>二单元</div>
              <div>三单元</div>
              <div style="border-right: 0px;">其他</div>
            </div>
            <div id="chart4"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="right_view" id="jcjzsk">
      <div class="group">
        <div class="subTitle">
          <span>110接处警知识库</span>
        </div>

        <div class="content"></div>
      </div>
    </div>
  </div>

  <div>
    <div class="left_view" id="xhyj">
      <div class="group">
        <div class="subTitle">
          <span>下滑预警分析</span>
        </div>

        <div class="content"></div>
      </div>
    </div>

    <div class="mid_view">
      <div class="group">
        <div class="group_child">
          <div class="subTitle">
            <span></span>
          </div>

          <div class="content">
            <div class="rect">
              <div>
                <div class="div-left">
                  <span class="dort"></span>
                  <span class="lab">最满意警情类型：</span>
                </div>
                <div class="div-right">
                  <span class="val3"></span>
                </div>
              </div>

              <div>
                <div class="div-left">
                  <span class="dort"></span>
                  <span class="lab">最满意时段：</span>
                </div>
                <div class="div-right">
                  <span class="val3"></span>
                </div>
              </div>
            </div>

            <div class="rect">
              <div>
                <div class="div-left">
                  <span class="dort"></span>
                  <span class="lab">最不满意警情类型：</span>
                </div>
                <div class="div-right">
                  <span class="val3"></span>
                </div>
              </div>

              <div>
                <div class="div-left">
                  <span class="dort"></span>
                  <span class="lab">最不满意时段：</span>
                </div>
                <div class="div-right">
                  <span class="val3"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group_child">
          <div class="subTitle">
            <span>110接处警满意度分析</span>
          </div>

          <div class="content">
            <div id="chart5"></div>
          </div>
        </div>

        <div class="group_child" style="margin-right: 0px;">
          <div class="subTitle">
            <span>满意度时段分析</span>
          </div>

          <div class="content">
            <div id="chart6"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="right_view">
      <div class="video">
        <div id="more">更多>></div>

        <video id="video" src="" controls></video>
      </div>

      <div class="videoList">
        <div class="subTitle">
          <span>110接处警视频库</span>

          <span class="y"
            ><img id="fh" src="../../img/zxyp/jcj/back.png"
          /></span>
        </div>

        <div class="content">
          <div id="videoList">
            <div>
              <span class="pic"><img src="../img/zxyp/jcj/video.png"/></span
              ><span class="name">违法犯罪类警情知识库</span
              ><span class="pic2"><img src="../img/zxyp/jcj/start.png"/></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
