<link rel="stylesheet" href="../../css/zxyp/myd.css" />

<div class="pop-header">
  <span id="pop-title"></span>
  <i class="glyphicon glyphicon-remove"></i>
</div>
<div class="pop-body">
  <div>
    <div class="pop-body-header">
      <img src="../../img/zxyp/ylld/class.png" />
      <span>走势分析</span>
    </div>
    <div class="pop-body-body" id="pop-zsfx"></div>
  </div>
  <div style="margin-left: 10px;">
    <div class="pop-body-header">
      <img src="../../img/zxyp/ylld/class.png" />
      <span>当月情况分析</span>
    </div>
    <div class="pop-body-body pop-body-body-content">
      <div>
        <div class="pop-body-row">
          <div>一般情况数量</div>
          <div id="row1"></div>
          <div id="count1" class="pop-count"></div>
        </div>
        <div class="pop-body-row">
          <div>不安全情况数量</div>
          <div id="row2"></div>
          <div id="count2" class="pop-count"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pop-footer">
  <div class="pop-body-header">
    <img src="../../img/zxyp/ylld/class.png" />
    <span>当月总结</span>
  </div>
  <div class="pop-body-body pop-body-body-content">
    <div id="dyzj"></div>
  </div>
</div>
<script src="../../js/zxyp/myd.js"></script>
