<link rel="stylesheet" href="../../css/zxyp/rdzt.css" />
<div class="pop-header">
  <span>行政服务类热点专题</span>
  <i class="glyphicon glyphicon-remove"></i>
</div>
<div class="pop-body">
  <div>
    <div class="chart-col">
      <div class="chart-header">
        <img src="../../img/zxyp/rx/class.png" /><span>诉求性质分析</span>
      </div>
      <div class="chart-body" id="pop-zhpjzs"></div>
    </div>
    <div class="chart-col">
      <div class="chart-header">
        <img src="../../img/zxyp/rx/class.png" /><span
          >各单位诉求量及满意度分析</span
        >
      </div>
      <div class="chart-body" id="pop-myd"></div>
    </div>
  </div>
  <div>
    <div class="chart-header">
      <img src="../../img/zxyp/rx/class.png" /><span>群众诉求走势分析</span>
    </div>
    <div class="chart-body" id="pop-qzsqzsfx"></div>
  </div>
</div>
<script src="../../js/zxyp/rdzt.js"></script>
