<link rel="stylesheet" href="../../css/zxyp/rx.css" />

<header class="up-panel">
  <input id="dept-name" placeholder="市局/分局" readonly />
  <input type="hidden" id="dept-id" disabled />
  <input id="date1" placeholder="时间" readonly />
  <input id="date2" placeholder="时间" readonly />
  <button class="search-btn"></button>
  <div id="dept-tree"></div>
</header>

<div class="view-body">
  <div style="width: calc((100% - 20px) * 0.25);">
    <div class="top_view" id="left_top">
      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val g"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val g"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val b"></div>

          <div class="txt t"></div>
        </div>
      </div>
    </div>

    <div class="down_view">
      <div class="group">
        <div class="subTitle2">
          <span class="l">12345热线回访热词</span>

          <span class="y">
            <select id="dept">
              <option value="0">词云</option>

              <option value="1">词频</option>
            </select>
          </span>
        </div>

        <div class="content">
          <div class="world_cloud jqcloud" id="word_cloud"></div>

          <div class="myys">
            <div class="search_title">
              <img src="../../img/myhc/cloud_search.png" />
            </div>

            <div class="search_bar">
              <div class="text">
                <img src="../../img/myhc/check.png" />

                <input id="keywords" placeholder="请输入要搜索内容" />
              </div>

              <div class="check">搜 索</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin: 0 10px;width: calc((100% - 20px) * 0.53);">
    <div class="top_view" id="mid_top">
      <div class="view-mid-three">
        <div class="view-mid-header">
          诉求走势分析
          <select>
            <option value="0">诉求性质</option>
            <option value="1">网络工单</option>
            <option value="2">电话工单</option>
          </select>
        </div>
        <div class="view-mid-body" id="qzsql"></div>
      </div>
      <div class="view-mid-three">
        <div class="view-mid-header" id="sqxzfx-title">
          诉求性质分析
        </div>
        <div class="view-mid-body" id="sqxzfx"></div>
      </div>
      <div class="view-mid-three">
        <div class="view-mid-header">
          诉求单位分布
        </div>
        <div class="view-mid-body">
          <div class="view-mid-nav">
            <div class="nav-selected">一单元</div>
            <div>二单元</div>
            <div>三单元</div>
            <div>其他</div>
          </div>
          <div id="sqdwfb"></div>
        </div>
      </div>
    </div>

    <div class="mid_view">
      <div class="group">
        <div class="subTitle2">
          <span class="l" style="font-size: 16px;"
            >12345热线办理满意度与办单时间分析</span
          >

          <span class="y">
            <select id="dept3">
              <option value="0">月度</option>

              <option value="1">日度</option>

              <option value="2">季度</option>
            </select>
          </span>
        </div>

        <div class="content">
          <div id="chart3"></div>
        </div>
      </div>
    </div>

    <div class="mid_view">
      <div class="group mid-bottom">
        <div>
          <div class="view-mid-header">
            各单位办事效能分析
          </div>
          <div class="view-mid-body" id="bsxn"></div>
        </div>
        <div style="margin-left: 20px;">
          <div class="view-mid-header">
            12345工单办理优秀案例
            <span class="more-back"
              >更多<i class="glyphicon glyphicon-chevron-right"></i
            ></span>
          </div>
          <div class="view-mid-body" id="yxal"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="width: calc((100% - 20px) * 0.22);">
    <div class="top_view_2">
      <div class="group">
        <div class="subTitle">
          <span>热点事件排行榜</span>
          <img src="../../img/myhc/rdwt/set.png" />
        </div>

        <div class="content">
          <div class="zfList"></div>
        </div>
      </div>
    </div>

    <div class="down_view_2">
      <div class="group">
        <div class="subTitle">
          <span>热点专题</span>
        </div>

        <div class="content">
          <div class="tsList"></div>
        </div>
      </div>
    </div>
  </div>
</div>
