<aside class="rx-left-panel">
    <section>
        <header>12345诉求检索</header>
        <search>
            <div class="input-group">
                <input type="text" class="form-control search-input">
                <span class="input-group-btn">
                        <button type="button" class="pop-search btn btn-info" style="background-color: #4499CF;">搜索</button>
                    </span>

            </div>
        </search>
        <search-list class="left1"></search-list>
    </section>
    <section>
        <header>
            <img src="../../img/zxyp/aj/class.png">
            <span>检索详情</span>
        </header>
        <tab class="left2"></tab>
        <nav class="nav1">
            <div></div>
        </nav>
    </section>
</aside>
<aside class="rx-right-panel">
    <section>
        <header>
            <img src="../../img/zxyp/aj/class.png">
            <span>当前热点事件列表</span>
            <div>
                <span>添加事件:</span>
                <input type="text" class="add-event-input">
                <button class="add-btn">提交</button>
            </div>
        </header>
        <tab class="right-up"></tab>
        <nav class="nav2">
            <div></div>
        </nav>
    </section>
    <section>
        <header>
            <img src="../../img/zxyp/aj/class.png">
            <span>热点事件推荐</span>
        </header>
        <tab class="right-down"></tab>
        <nav class="nav3">
            <div></div>
        </nav>
    </section>
</aside>

<script src="../../js/zxyp/rx_setting.js"></script>