<link rel="stylesheet" href="../../css/zxyp/ry.css" />

<div class="dialog">
    <div class="left">
        <div class="t">
            <div class="group">
                <div class="title">
                    <img src="../../img/zxyp/jcj/node.png" />民警信息
                </div>

                <div class="content">
                    <div class="user2">
                        <div>
                            <img id="people-img"/>
                        </div>

                        <div>
                            <div class="lab">
                                <span>姓名：</span><span id="name"></span>
                            </div>

                            <div class="lab">
                                <span>警号：</span><span id="jh"></span>
                            </div>

                            <div class="lab">
                                <span>职务：</span><span id="zw"></span>
                            </div>
                        </div>
                    </div>

                    <div class="info2">
                        <div>
                            <span>总体满意度：</span><span class="num g"><span id="value1"></span>%</span>
                        </div>

                        <div>
                            <span>同比：</span><span class="num g"><span id="value2"></span>%</span><span><img src="../../img/zxyp/jcj/increase.png" /></span>
                        </div>

                        <div>
                            <span>本期积分：</span><span class="num b"><span id="value3"></span>分</span>
                        </div>

                        <div>
                            <span>本所排名：</span><span class="num o"><span id="value4"></span>名</span>
                        </div>

                        <div>
                            <span><span class="dort1"></span>上月出警：</span><span class="num g"><span id="value5"></span>次</span>
                        </div>

                        <div>
                            <span><span class="dort2"></span>群众投诉：</span><span class="num r"><span id="value6"></span>次</span>
                        </div>
                    </div>

                    <div class="row_border" style="height: 108px;margin-top: 12px;" id="typeList"></div>
                </div>
            </div>
        </div>

        <div>
            <div class="group">
                <div class="title">
                    <img src="../../img/zxyp/jcj/node.png" />分类满意度
                </div>

                <div class="content">
                    <div class="row_border" style="margin-top: 5px;">
                        <div><span>最满意警情：</span><span id="value7"></span></div>

                        <div class="g"><span>满意度：</span><span><span id="value8"></span>%</span></div>

                        <div><span>最满意时段：</span><span id="value9"></span></div>

                        <div class="g"><span>满意度：</span><span><span id="value10"></span>%</span></div>
                    </div>

                    <div class="row_border" style="margin-top: 13px;">
                        <div><span>最不满意警情：</span><span id="value11"></span></div>

                        <div class="r"><span>满意度：</span><span><span id="value12"></span>%</span></div>

                        <div><span>最不满意时段：</span><span id="value13"></span></div>

                        <div class="r"><span>满意度：</span><span><span id="value14"></span>%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right">
        <div>
            <div class="group">
                <div class="group_child">
                    <div class="title">
                        <img src="../../img/zxyp/jcj/node.png" />群众满意热词
                    </div>

                    <div class="content">
                        <div id="tag1"></div>
                    </div>
                </div>

                <div class="group_child" style="margin-right: 0px;">
                    <div class="title">
                        <img src="../../img/zxyp/jcj/node.png" />群众诉求热词
                    </div>

                    <div class="content">
                        <div id="tag2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="t">
            <div class="group">
                <div class="title">
                    <img src="../../img/zxyp/jcj/node.png" />出警及群众投诉分析
                </div>

                <div class="content">
                    <div id="line"></div>

                    <div class="second_row">
                        <div id="rador1"></div>

                        <div id="rador2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/zxyp/ry.js"></script>