<link rel="stylesheet" href="../../css/zxyp/sjfx.css">
<div class="sjfx">
    <div class="sjfx-top">
        <div class="sjfx-top-1">
            <span>当前诉求总量：</span>
            <strong></strong>
        </div>
        <div class="sjfx-top-2">
            <span>平均满意度：</span>
            <strong></strong>
        </div>
        <div class="sjfx-top-3">
            <span>热点区域：</span>
            <strong></strong>
        </div>
    </div>
    <div class="sjfx-body">
        <div class="sjfx-body-left">
            <div class="sjfx-body-header">
                <img src="../../img/zxyp/rx/class.png" alt="">
                <span>事件趋势分析</span>
            </div>
            <div class="sjfx-body-body" id="sjfx-chart1"></div>
        </div>
        <div class="sjfx-body-right">
            <div class="sjfx-body-header">
                <img src="../../img/zxyp/rx/class.png" alt="">
                <span>事件态势分析</span>
                <div>
                    <span>同事件多次诉求共计<strong></strong>人</span>
                    <select class="select1">
                    </select>
                </div>
            </div>
            <div class="sjfx-body-body sjfx-mid-right">
                <div class="time-line">
                    <div class="left-btn"></div>
                    <div class="right-btn"></div>
                    <div class="time-box">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sjfx-body">
        <div class="sjfx-body-left">
            <div class="sjfx-body-header">
                <img src="../../img/zxyp/rx/class.png" alt="">
                <span>事件诉求分析</span>
            </div>
            <div class="sjfx-body-body sjfx-left-bottom">

            </div>
        </div>
        <div class="sjfx-body-right">
            <div class="sjfx-body-header">
                <img src="../../img/zxyp/rx/class.png" alt="">
                <span>典型工单分析</span>
                <div>
                    <select class="select2">
                        <option value="0">不满意</option>
                        <option value="1">满意</option>
                    </select>
                </div>

            </div>
            <div class="sjfx-body-body sjfx-right-bottom">
            </div>
        </div>
    </div>
</div>
<script src="../../js/zxyp/sjfx.js"></script>
