<link rel="stylesheet" href="../../css/zxyp/ylld.css" />

<div class="view-header">
  <div class="view-header-left">
    <input type="text" id="place" placeholder="市局/分局" readonly />
    <input type="hidden" id="placeCode" />
    <input type="hidden" id="tempID" />
    <input type="hidden" id="tempTYPE" />
    <div id="left-tree"></div>
    <input
      id="date-input1"
      class="date-input"
      placeholder="时间"
      type="text"
      readonly="readonly"
    />
    <input
      id="date-input2"
      class="date-input"
      placeholder="时间"
      type="text"
      readonly="readonly"
    />
    <img src="../../img/myhc/rdwt/btn_search.png" class="search-btn" />
  </div>

  <div class="view-header-right">
    <img src="../../img/zxyp/aj/download.png" />
    <span>分析报告下载</span>
  </div>
</div>

<div class="view-body">
  <div>
    <div class="left_view" id="left_top" style="width: 30%;">
      <div>
        <div>
          <div class="val"><span class="b"></span><span class="i"></span></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val r"></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val"><span class="b"></span><span class="i"></span></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val g"></div>

          <div class="txt"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val"><span class="b"></span><span class="i"></span></div>

          <div class="txt t"></div>
        </div>
      </div>

      <div>
        <div>
          <div class="val q"></div>

          <div class="txt t"></div>
        </div>
      </div>
    </div>

    <div class="mid_view" style="width: calc(40% - 20px);">
      <div class="group">
        <div class="subTitle">
          <span>社会治安满意度分析</span>
        </div>

        <div class="content mid1">
          <div>
            <div class="chart-title">业务分析</div>
            <div class="chart-pop chart-pop1">
              <div><img src="../../img/zxyp/ylld/shza.png" /></div>
              <div>社会治安</div>
              <div class="pop-amount">121</div>
            </div>
            <div class="chart-body" id="mid1-left">
            </div>
          </div>
          <div>
            <div class="chart-title">问题分析</div>
            <div class="chart-body" id="mid1-right">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right_view" style="width: 30%;">
      <div class="group">
        <div class="subTitle">
          <span>调查样本分析</span>
        </div>

        <div class="content right1">
          <div><span>号码准确率</span><strong id="right1-strong"></strong></div>
          <div id="right1-chart"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="left_view" style="width: 30%;">
      <div class="group">
        <div class="subTitle">
          <span>一率两度走势分析</span>
        </div>

        <div class="content">
          <div id="chart3"></div>
        </div>
      </div>
    </div>

    <div class="mid_view" style="width: calc(40% - 20px);">
      <div class="group">
        <div class="subTitle">
          <span>公安队伍满意度分析</span>
        </div>

        <div class="content mid2">
          <div>
            <div class="chart-title">业务分析</div>
            <div class="chart-pop chart-pop2">
                <div><img src="../../img/zxyp/ylld/gadw.png" /></div>
                <div>公安队伍</div>
                <div class="pop-amount"></div>
            </div>
            <div class="chart-body" id="mid2-left"></div>
          </div>
          <div>
            <div class="chart-title">问题分析</div>
            <div class="chart-body" id="mid2-right"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="right_view" style="width: 30%;">
      <div class="group">
        <div class="subTitle">
          <span>警民互动分析</span>
        </div>

        <div class="content right2">
          <div id="right2-chart"></div>
          <div id="right2-strong"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="left_view" style="width: 30%;">
      <div class="group">
        <div class="subTitle2">
          <span class="l">一率两度单位情况</span>

          <span class="y">
            <select id="dept2">
              <option value="0">社会治安满意度</option>

              <option value="1">公安队伍满意度</option>

              <option value="2">社区民警熟悉率</option>
            </select>
          </span>
        </div>

        <div class="content">
          <div class="tab2">
            <div class="selected" id="1">一单元</div>

            <div id="2">二单元</div>

            <div id="3" style="border-right: 0px;">三单元</div>
          </div>

          <div id="chart6"></div>
        </div>
      </div>
    </div>

    <div class="mid_view" style="width: calc(40% - 20px);">
      <div class="group">
        <div class="subTitle">
          <span>社区民警熟悉率分析</span>
        </div>

        <div class="content mid3"></div>
      </div>
    </div>

    <div class="right_view" style="width: 30%;">
      <div class="group">
        <div class="subTitle">
          <span>满意度排行榜</span>
          <div>
            <select id="type1">
              <option value="0">社会治安</option>
              <option value="1">公安队伍</option>
              <option value="2">社区民警熟悉率</option>
            </select>
            <select id="type2"></select>
          </div>
        </div>
        <div class="content right3">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pop-container">
  
</div>