<!-- Created by handsome qiu -->
<link rel="stylesheet" href="../../css/zxyp/yxal.css" />
<div class="yxal-pop">
  <div class="yxal-row1">
    <div>申报单位：</div>
    <div id="sbdw"></div>
    <div>工单编号：</div>
    <div id="gdbh"></div>
    <div>诉求类型：</div>
    <div id="sqlx"></div>
    <div>联系电话：</div>
    <div id="lxdh"></div>
  </div>
  <div class="yxal-row2">
    <div>诉求内容：</div>
    <div id="sqnr"></div>
  </div>
  <div class="yxal-row3">
    <div>办理过程：</div>
    <div id="blgc"></div>
  </div>
  <div class="yxal-row4">
    <div>法律适用：</div>
    <div id="flsy"></div>
    <div>办结情况：</div>
    <div id="bjqk"></div>
  </div>
  <div class="yxal-row5">
    <div>经验总结 和建议：</div>
    <div id="jyzjhjy"></div>
  </div>
  <div class="yxal-row6">
    <div>案例照片：</div>
    <div id="alzp">
      <div class="yxal-head-icon">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </div>
      <div class="yxal-img-container">
        <div></div>
      </div>
      <div class="yxal-head-icon">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </div>
    </div>
  </div>
</div>
<script src="../../js/zxyp/yxal.js"></script>
