@font-face {
  font-family: "FZSXSLKJW--GB1-0";
  src: url("../../fonts/fzsxslkjt.ttf");
}

@font-face {
  font-family: "FZLTZH--GB1-0";
  src: url("../../fonts/fzltzh.TTF");
}

main {
  display: block;
  font-family: "FZLTZH--GB1-0";
}

// 边框以及阴影样式
.border-style {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}

.main-container {
  height: 100%;
  padding: 10px 20px 30px 20px;

  & > header {
    height: 63px;
    background: url(../../img/myhc/myzd/1.png) no-repeat center center / 100%
      100%;

    & > div {
      float: left;
      width: 32%;
      height: 45px;
      margin-top: 18px;
      text-align: center;

      &:nth-child(2) {
        margin: 0;
        height: 100%;
        font-size: 42px;
        line-height: 63px;
        color: #3667a3;
        width: 36%;
        font-family: "FZSXSLKJW--GB1-0";
      }

      & > div {
        width: 230px;
        margin-left: 28%;
        font-size: 24px;
        color: #4d4d4d;
        line-height: 45px;

        .strong-left {
          color: #1d84c6;
        }
        .strong-right {
          color: #c6901d;
        }

        & > strong {
          font-weight:normal;
          font-size: 34px;
          font-family: CenturyGothic;

          & > span:last-child {
            font-size: 18px;
            position: relative;
            top: -5px;
          }
        }
      }

      &:first-child {
        background: url(../../img/myhc/myzd/2.png) no-repeat 65% 50%;
      }

      &:last-child {
        background: url(../../img/myhc/myzd/2.png) no-repeat 38% 50%;
        & > div {
          margin-left: 24%;
        }
      }
    }
  }

  & > section {
    margin-top: 10px;
    height: calc(~"100% - 73px");
    position: relative;
    background: url(../../img/myhc/myzd/3.png) no-repeat center center / 100%
      100%;
    .border-style();

    & > img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -152.5px;
      margin-top: -97px;
    }

    & > div {
      position: absolute;
      width: 175px;
      height: 141px;
      background: url(../../img/myhc/myzd/5.png) no-repeat center center / 100%
        100%;
      padding: 33px 48px 42px 48px;
      text-align: center;
      line-height: 22px;
      font-size: 16px;
      font-weight: bold;
      color: #1266ae;
      cursor: pointer;

      &:nth-child(1) {
        top: 5%;
        left: 10%;
      }

      &:nth-child(2) {
        top: 4.6%;
        left: 46.5%;
        color: #1d8ab7;
      }

      &:nth-child(3) {
        top: 6.5%;
        left: 70.2%;
        color: #1b9394;
      }

      &:nth-child(4) {
        top: 54.5%;
        left: 8.2%;
        color: #1d8ab7;
      }

      &:nth-child(5) {
        top: 27%;
        left: 24%;
        color: #158fde;
      }

      &:nth-child(6) {
        top: 40.8%;
        left: 79.8%;
      }

      &:nth-child(7) {
        top: 67%;
        left: 36%;
        color: #0f94b1;
      }

      &:nth-child(8) {
        top: 67%;
        left: 63%;
        color: #1266ae;
      }
      & > div:last-child {
        font-size: 14px;
      }
    }
  }
}
