.main-container {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 20px;
  height: calc(100% - 40px);
}
.container1 {
  background: url(../../img/myhc/myzd/1.jpg) no-repeat;
  background-size: 100% 100%;
}
.container1 > div {
  width: 104px;
  height: 118px;
  position: absolute;
  top: 144px;
  right: 314px;
  cursor: pointer;
}
.container2 {
  background: url(../../img/myhc/myzd/2.jpg) no-repeat;
  background-size: 100% 100%;
}
.container2 > div {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 21px;
  right: 22px;
  cursor: pointer;
}
