@font-face {
    font-family: 'Balth';
    src: url('../../fonts/Balth.ttf');
}

tab,
row,
cell {
    display: block;
}

/*!
 *     Copyright 2012 David Leaver
 *     Leaflet.markercluster.(https://github.com/Leaflet/Leaflet.markercluster/)
 *     license: MIT
 *     version: v1.3.0
 */
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out,
    -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out,
    -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out,
    -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

.map-container {
    width: 100%;
    height: 100%;
    color: #333;
}

#mainMap {
    width: 100%;
    height: 100%;
}

.bubblefj {
    height: 32px;
    background: url('../../img/myhc/myzs/title_bg.png') no-repeat;
    background-size: 100% 100%;
    color: #fdfaff;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    padding: 0 15px;
    position: relative;
}

#place {
    width: 130px;
}

#date1,
#date2 {
    width: 90px;
    margin-left: 10px;
}

.search-down-panel > button {
    float: right;
    height: 20px;
    width: 20px;
    border: 0;
    outline: none;
    margin-top: 6px;
}

.animate-btn-start {
    background: url("../../img/myhc/myzs/start.png") no-repeat;
    background-size: 100% 100%;
}

.animate-btn-stop {
    background: url("../../img/myhc/myzs/stop.png") no-repeat;
    background-size: 100% 100%;
}

.animate-btn-disabled {
    background: url("../../img/myhc/myzs/disabled.png") no-repeat;
    background-size: 100% 100%;
}

input {
    height: 32px;
    text-indent: 15px;
}

#left-tree {
    height: 230px;
    visibility: hidden;
    overflow: auto;
    position: absolute;
    z-index: 100011;
}

.search-input {
    outline: 0;
    border: solid 1px #d8d8d8;
    border-radius: 2px;
    box-shadow: inset 0 1px 4px 0 rgba(12, 3, 7, 0.1);
    background-color: #fff;
}

.point-marker {
    width: 25px;
    height: 40px;
    position: absolute;
    top: -36px;
    left: -8px;
}

#total-amount {
    color: blue;
}

.left-panel {
    width: 380px;
    height: 160px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
}

.search-panel {
    width: 100%;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.toolbar-panel {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
}

.toolbar-panel2,
.toolbar-panel3 {
    width: 380px;
    height: 40px;
    position: absolute;
    padding: 5px 0;
    text-align: center;
    left: 10px;
    top: 170px;
    display: none;
    z-index: 1000;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
}

.toolbar-panel3 > div {
    float: left;
    width: calc(100% / 3);
    height: 100%;
    border-right: 1px solid #e6e6e6;
    line-height: 30px;
    cursor: pointer;
}

.toolbar-panel2 > div {
    float: left;
    width: 25%;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    line-height: 30px;
    cursor: pointer;
}

.toolbar-panel2-hover,
.toolbar-panel2 > div:hover,
.toolbar-panel3-hover,
.toolbar-panel3 > div:hover {
    color: #0384d8;
}

.toolbar-panel2-pop {
    position: absolute;
    width: 95px;
    background-color: #fff;
    border-radius: 3px;
    padding: 0 10px 10px;
    display: none;
    z-index: 999;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.26);
}

.toolbar-panel2-pop > img {
    cursor: pointer;
}

.sharp-angle2 {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-color: transparent transparent rgba(255, 255, 255, 1);
    border-style: solid;
    position: relative;
    left: calc(50% - 10px);
    top: -10px;
}

.data-panel {
    position: absolute;
    width: 380px;
    height: calc(100% - 180px);
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    z-index: 1000;
    display: none;
    left: 10px;
    top: 170px;
}

.data-panel2 {
    position: absolute;
    width: 380px;
    height: calc(100% - 230px);
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    z-index: 1000;
    display: none;
    left: 10px;
    top: 220px;
}

.search-panel > div {
    width: 100%;
    height: 50%;
    margin-top: 4px;
}

.search-up-panel > input {
    float: left;
    width: 295px;
}

.search-btn {
    float: right;
    display: inline-block;
    width: 50px;
    height: 32px;
    background: #3385ff url('../../img/myhc/myzs/search.png') no-repeat 50% 50%;
    border-radius: 2px;
    cursor: pointer;
}

.search-down-panel > input {
    float: left;
}

.toolbar-panel > div {
    float: left;
    width: 20%;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
}

.search-clear > span {
    position: relative;
    margin-left: 35px;
}

.search-reset > span {
    position: relative;
    margin-left: 43px;
}

.search-reset:hover {
    background-color: #ededed;
    color: #0083d8;
}

.search-clear:hover {
    background-color: #ededed;
    color: #0083d8;
}

.search-reset {
    background: url('../../img/myhc/myzs/reset.png') no-repeat 26% 50%;
}

.search-clear {
    background: url('../../img/myhc/myzs/clear.png') no-repeat 16% 50%;
}

.toolbar-panel > div:nth-child(3) {
    background: url('../../img/myhc/myzs/tool.png') no-repeat 0 50%;
}

.toolbar-panel > div:nth-child(4) {
    background: url('../../img/myhc/myzs/search-control.png') no-repeat 0 50%;
}

.toolbar-panel > div > select {
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    display: inline-block;
}

.toolbar-panel > div > select::-ms-expand {
    display: none;
}

.data-panel > div {
    width: 100%;
}

.data-panel-header, .data-panel-header3, .data-panel-header4 {
    height: 40px;
    line-height: 40px;
}

.data-panel-search {
    height: 100px;
    padding: 0 10px 10px;
}

.data-panel-search > div {
    float: left;
    margin-left: 5px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.data-panel-search > span {
    float: left;
    margin-top: 10px;
    line-height: 30px;
}

.search-selected {
    color: #fff;
    background-color: #409cf1;
}

.data-panel-tab {
    height: calc(100% - 180px);
    padding: 5px;
    overflow-y: auto;
}

.data-panel2 .data-panel-tab {
    height: calc(100% - 40px);
}

.data-panel-tab > div, .data-panel-tab3 > div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dde1e2;
}

.data-tab-header {
    background-color: rgba(10, 51, 97, 0.1);
    border: 0 !important;
}

.data-panel-tab-row {
    cursor: pointer;
}

.data-panel-tab-row:hover,
.data-panel-tab-row-hover {
    background-color: #409cf1;
    color: #fff;
}

.data-panel-tab > div > div, .data-panel-tab3 > div > div {
    float: left;
    text-align: center;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col1 {
    width: 30px;
}

.col2 {
    width: 80px;
}

.col3 {
    width: 50px;
}

.col4 {
    width: 75px;
}

.col5 {
    width: 110px;
}

.col6 {
    width: 125px;
}

.col7 {
    width: 75px;
}

.col8 {
    width: 70px;
}

.col9 {
    width: 40px;
}

.col10 {
    width: 185px;
}

.col11 {
    width: 25%;
}

.data-panel-page {
    height: 40px;
}

.analysis-btn {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: #027ecb;
    cursor: pointer;
    display: none;
}

.nav-container {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.data-panel-header > img, .data-panel-header3 > img, .data-panel-header4 > img {
    float: left;
    margin-top: 10px;
}

.data-panel-header > span, .data-panel-header3 > span, .data-panel-header4 > span {
    float: left;
    margin-left: 10px;
    font-size: 16px;
}

.data-panel-header > i, .data-panel-header3 > i, .data-panel-header4 > i {
    float: right;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.data-panel-header4 > i {
    margin-top: 7px;
}

.right-panel {
    width: 360px;
    height: 810px;
    position: absolute;
    right: -330px;
    top: 10px;
    z-index: 1000;
}

.right-panel-menu {
    width: 30px;
    height: 125px;
    float: left;
}

.right-panel-menu > div {
    color: #fff;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
}

.fold-btn {
    height: 90px;
    background-color: #3385ff;
}

.fold-img {
    background: url('../../img/myhc/myzs/fold.png') no-repeat 50% 50%;
    height: 30px;
    width: 100%;
    transform: rotateY(180deg);
}

.fold-btn > div:nth-child(2) {
    width: 14px;
    height: 55px;
    margin: 0 auto;
    line-height: 14px;
}

.setting-btn {
    height: 30px;
    margin-top: 5px;
    background: #3385ff url('../../img/myhc/myzs/setting.png') no-repeat 50% 50%;
}

.right-panel-panel {
    display: none;
}

.right-panel-panel, .right-panel-panel2 {
    float: left;
    width: calc(100% - 30px);
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
}

.right-panel-up {
    height: calc(70% - 20px);
    padding: 0 12px 20px;
}

.right-panel-up-1 {
    width: 100%;
    height: 100%;
    /*display: none;*/
}

.right-panel-up-1-down {
    margin-top: 10px;
    border-top: solid 1px rgba(93, 93, 93, 0.7);
}

.right-panel-up-1 > div {
    width: 100%;
    height: calc(50% - 5px);
}

.right-panel-up-1-up > div {
    width: 294px;
    height: 82px;
    margin: 10px auto;
    background: url(../../img/myhc/myzs/right-bg0.png) no-repeat;
    cursor: pointer;
    padding: 10px 0;
}

.right-panel-up-1-up > div > div {
    width: 100%;
    text-align: center;
}

.right-name1 {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #4d4d4d;
}

.right-amount1 {
    height: 36px;
    line-height: 36px;
    margin-top: 10px;
    font-size: 36px;
    color: #007eff;
}

.right-panel-up-2 {
    width: 100%;
    height: 100%;
    display: none;
}

.right-panel-up-3 {
    width: 100%;
    height: 100%;
    display: none;
}

.right-up-title, .right-up-title2 {
    width: calc(100% - 20px);
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    color: #4d4d4d;
    font-size: 16px;
    background: url('../../img/myhc/myzs/line.png') 50% no-repeat;
}

.right-up-banner, .right-up-banner2 {
    width: 100%;
    height: 100px;
    padding: 5px 20px;
    margin: 0 auto;
    background: url('../../img/myhc/myzs/bg_num.png') no-repeat;
    background-size: 100% 100%;
}

.right-up-banner2 {
    width: calc(100% - 20px);
    height: 125px;
    position: relative;
    cursor: pointer;
}

.right-up-banner > div, .right-up-banner2 > div {
    text-align: center;
}

.right-up-banner-left, .right-up-banner-left2 {
    width: 40%;
    height: 60px;
    color: #007eff;
    font-size: 26px;
    border-right: 1px solid #ccc;
    float: left;
    margin: 15px auto;
    line-height: 60px;
}

.right-up-banner-right, .right-up-banner-right2 {
    width: 50%;
    padding: 4px 0 8px;
    float: right;
    height: 100%;
}

.right-up-banner-right > div {
    width: 100%;
    height: 28px;
    line-height: 28px;
}

.right-up-banner-right2 > div {
    height: 42px;
    line-height: 42px;
}

.right-up-banner-right > div > span, .right-up-banner-right2 > div > span {
    float: left;
}

.right-up-banner-right > div > div, .right-up-banner-right2 > div > div {
    height: 100%;
    float: right;
    width: 75px;
}

.right-up-banner-right > div > div > i {
    float: left;
    line-height: 28px;
}

.right-up-banner-right2 > div > div > i {
    float: left;
    line-height: 42px;
}

.right-up-banner-right > div > div > strong, .right-up-banner-right2 > div > div > strong {
    font-size: 15px;
    float: right;
}

.right-up-body {
    width: 100%;
    height: calc(100% - 140px);
    margin: 0 auto;
}

.right-up-body > div {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px dashed #ccc;
}

.right-up-body > div > div {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.up-left {
    float: left;
    width: calc(100% - 193px);
}

.up-left > span {
    margin-left: 5px;
}

.up-right {
    width: 193px;
    float: right;
    font-size: 13px;
}

.up-right > span {
    margin-left: 10px;
}

.up-right > span:first-child {
    margin-left: 0;
}

.down-left {
    float: left;
    width: calc(100% - 193px);
    height: 100%;
    clear: both;
}

.down-left > span {
    margin-right: 10px;
    float: right;
}

.down-left > strong {
    margin-left: 10px;
    float: left;
}

.down-right {
    width: 193px;
    float: right;
}

.banner-color1 {
    color: #dd3232;
}

.banner-color2 {
    color: #05997e;
}

.banner-color3 {
    color: #1d84c6;
}

.banner-color4 {
    color: rgb(0, 138, 226);
}

.right-panel-up-2 > div {
    float: left;
    width: 143px;
    height: 65px;
    margin-top: 24px;
    padding: 11px 0;
    background: url(../../img/myhc/myzs/right-bg2.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 7px;
}

.right-panel-up-2 > div > div {
    width: 100%;
    text-align: center;
}

.right-amount2 {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    color: #007eff;
}

.right-name2 {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin-top: 5px;
}

.right-panel-up-right {
    margin-left: 15px;
}

.right-panel-down {
    width: calc(100% - 24px);
    height: 30%;
    border-top: solid 1px rgba(93, 93, 93, 0.7);
    margin: 0 auto;
}

.right-panel-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.right-panel-header > span {
    margin-left: 10px;
}

.right-panel-body {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    border-bottom: 1px solid #cfd9e3;
}

.right-panel-body > div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #dde1e2;
}

.pop-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7f7f7f;
    opacity: 0.8;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
}

.pop-panel {
    width: 760px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -380px;
    background-color: #ffffff;
    z-index: 9999;
    border-radius: 3px;
    box-shadow: 0 0 5px #000;
    display: none;
}

.pop-panel > div:first-child {
    height: 50px !important;
}

.pop-panel > div {
    width: 100%;
    height: calc(50% - 25px);
}

.pop-panel-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 14px;
}

.pop-panel-body {
    width: 90%;
    height: calc(100% - 50px);
    margin: 0 auto;
}

.pop-panel-header > img {
    float: left;
    margin-left: 10px;
    margin-top: 17px;
}

.pop-panel-header > span {
    float: left;
    margin-left: 10px;
}

.pop-panel > div > i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.pop-panel > div > span {
    line-height: 50px;
    font-size: 18px;
    color: #000;
    margin-left: 32%;
}

.pop-panel-body > div {
    width: calc((100% - 40px) / 3);
    height: 100%;
    margin-left: 20px;
    float: left;
    border: 1px dashed #e1e1e1;
    display: table;
}

.body-header {
    background-color: #cbe5f5;
    display: table;
    width: 100%;
    height: 25%;
}

.body-container {
    width: 100%;
    height: 75%;
    display: table;
}

.body-row {
    display: table-row;
}

.body-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cell-title {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px dashed #e1e1e1;
}

.cell-color1 {
    color: #018afe;
    border-bottom: 1px dashed #e1e1e1;
    font-size: 18px;
}

.cell-color2 {
    color: #018afe;
    border-bottom: 1px dashed #e1e1e1;
    font-size: 18px;
}

.cell-color3 {
    color: #018afe;
    border-bottom: 1px dashed #e1e1e1;
    font-size: 18px;
}

.cell-color {
    color: #1d84c9;
    font-size: 16px;
}

.chart-body {
    width: 50%;
    height: 100%;
    float: left;
}

.chart-container {
    width: 100%;
    height: calc(100% - 60px);
}

.right-panel-footer input {
    background: url('../../img/zxyp/aj/search_gray.png') no-repeat 4% 50%;
}

.pop-nav {
    position: relative;
    right: -70px;
    top: 11px;
    width: 180px;
    height: 30px;
    line-height: 30;
    background-color: #faf9ff;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1000;
}

.search-pop-nav {
    position: relative;
    width: 120px;
    height: 30px;
    line-height: 30;
    background-color: #faf9ff;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1000;
}

.pop-nav .nav-selected,
.search-pop-nav .search-nav-selected {
    color: #f4fffb;
    background-color: #1299d9;
}

.pop-nav > div,
.search-pop-nav > div {
    float: left;
    width: calc(100% / 3);
    height: 100%;
    color: #999a9c;
    border-right: 1px solid #d3dbf0;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.pop-panel2 {
    width: 610px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -310px;
    background-color: #ffffff;
    z-index: 9999;
    border-radius: 3px;
    box-shadow: 0 0 5px #000;
    display: none;
}

.pop-panel2-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.pop-panel2-header > i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.pop-panel2-body {
    width: 100%;
    height: calc(100% - 60px);
}

.pop-panel2-body > div:first-child {
    width: 100%;
    height: 50px;
}

.return-img {
    float: right;
    margin-top: 1px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#pop2-chart {
    width: 100%;
    height: calc(100% - 50px);
}

.select-tab {
    position: absolute;
    width: 90px;
    background-color: #fff;
    border-radius: 3px;
    z-index: 10000;
    display: none;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.26);
}

.sharp-angle {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-color: transparent transparent rgba(255, 255, 255, 1);
    border-style: solid;
    position: relative;
    left: calc(50% + 10px);
    top: -10px;
}

.select-option {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.select-option:hover {
    color: #2b84e0;
}

.pop-setting {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    z-index: 9999;
    border-radius: 3px;
    box-shadow: 0 0 5px #000;
}

.pop-setting1 {
    display: none;
    width: 1024px;
    height: 600px;
    margin-left: -512px;
    margin-top: -300px;
}

.setting1-header {
    width: 95%;
    height: 50px;
    line-height: 50px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.setting1-header > i {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.setting1-header > div {
    float: left;
    margin-left: 227px;
}

.setting1-header > span {
    float: left;
}

.setting1-header > input {
    float: left;
    margin-top: 10px;
}

.pop-date {
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-indent: 15px;
}

.setting1-body {
    width: 95%;
    height: calc(100% - 90px);
    margin: 0 auto;
}

.setting-footer {
    width: 95%;
    height: 40px;
    margin: 0 auto;
}

.setting-footer > div {
    width: 250px;
    height: 40px;
    margin: 0 auto;
}

.setting-footer > div > div {
    width: 60px;
    height: 28px;
    border: 1px #d2d4e0 solid;
    border-radius: 3px;
    text-align: center;
    line-height: 28px;
    margin-top: 6px;
    cursor: pointer;
}

.setting1-body > div {
    width: 100%;
    height: calc(100% / 14);
}

.tab-cell {
    border-top: 1px #d3d5e2 solid;
    border-left: 1px #d3d5e2 solid;
    width: calc(100% / 13);
    height: 100%;
    line-height: 36px;
    float: left;
    text-align: center;
}

.tab-cell > input {
    width: 100%;
    height: 100%;
    display: inline-block;
    outline: none;
    background: none;
    border: 0;
}

.tab-header {
    background-color: #f0f5f8;
    color: #000;
}

#pop-date1 {
    font-size: 14px;
}

.pop-setting2 {
    display: none;
    width: 800px;
    height: 640px;
    margin-top: -320px;
    margin-left: -400px;
}

.setting2-header {
    width: 95%;
    height: 30px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.setting2-banner {
    width: 95%;
    height: 30px;
    line-height: 30px;
    color: #000;
    margin: 0 auto;
    font-size: 12px;
}

.setting2-banner > input {
    float: left;
}

.setting2-banner > span {
    float: right;
    padding-right: 25px;
}

.setting2-header > i {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.setting2-body {
    width: 95%;
    height: calc(100% - 100px);
    margin: 0 auto;
}

.setting2-body > div {
    float: left;
}

.left-tab {
    width: calc(100% - 120px);
    height: 100%;
}

.right-tab {
    width: 100px;
    height: 100%;
    margin-left: 20px;
}

.right-tab > div {
    width: 100%;
    text-align: center;
    border-top: 1px solid #d2d4e0;
    border-left: 1px solid #d2d4e0;
    border-right: 1px solid #d2d4e0;
    height: calc(540px / 21);
    line-height: calc(540px / 21);
}

.right-tab2 > div > input {
    width: 85% !important;
}

.right-tab > div > input {
    width: 100%;
    height: 100%;
    display: inline-block;
    outline: none;
    background: none;
    border: 0;
}

.left-tab > div {
    float: left;
    height: 100%;
    border-left: 1px solid #d2d4e0;
}

.first-col {
    width: 75px;
    border-top: 1px solid #d2d4e0;
    border-bottom: 1px solid #d2d4e0;
    background-color: #f0f5f8;
}

.second-col {
    width: 150px;
}

.third-col {
    width: 125px;
}

.forth-col {
    width: calc(100% - 350px);
    border-right: 1px solid #d2d4e0;
}

.forth-col1 {
    width: 55px;
}

.forth-col2 {
    width: calc(100% - 405px);
    border-right: 1px solid #d2d4e0;
}

.first-col > div:first-child {
    width: 12px;
    margin: 177px auto 0;
}

.second-col > div {
    border-top: 1px solid #d2d4e0;
    text-align: center;
}

.third-col > div,
.forth-col1 > div {
    text-align: center;
    border-top: 1px solid #d2d4e0;
}

.forth-col > div,
.forth-col2 > div {
    padding-left: 10px;
    border-top: 1px solid #d2d4e0;
    height: calc(540px / 21);
    line-height: calc(540px / 21);
}

.pop-setting3 {
    display: none;
    width: 800px;
    height: 640px;
    margin-left: -400px;
    margin-top: -320px;
}

.setting3-banner {
    width: 95%;
    height: 30px;
    line-height: 30px;
    color: #000;
    margin: 0 auto;
    font-size: 12px;
}

.setting3-banner > div:first-child {
    float: left;
}

.setting3-banner > div:nth-child(2) {
    float: right;
}

.num-div {
    width: 70px;
    text-align: center;
    margin: 0 auto;
}

.inner-pop-panel {
    width: 300px;
    position: absolute;
    background-color: #4c4c4c;
    z-index: 10000;
    border-radius: 3px;
    display: none;
}

.inner-pop-panel > ul {
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
}

.inner-pop-panel > ul > li > div {
    height: 20px;
    float: left;
    text-align: center;
    line-height: 20px;
}

.inner-pop-panel > ul > li > div:first-child {
    width: 70%;
    color: #fff;
}

.inner-pop-panel > ul > li > div:nth-child(2) {
    width: 30%;
    color: #fff;
}

.leaflet-popup-content {
    margin: 0 !important;
    width: auto !important;
    min-width: 500px !important;
}

.leaflet-popup-content-wrapper {
    width: auto !important;
    padding: 0 !important;
}

.leaflet-popup {
    margin-bottom: 25px !important;
}

.leaflet-popup-close-button {
    color: #fff !important;
}

.pop-map-mark-header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #008fef;
    text-align: center;
}

.pop-map-mark-header > i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.pop-map-mark-body {
    padding: 10px;
    color: #666;
    font-size: 13px;
    line-height: 22px;
    background-color: #fff;
}

.pop-divider {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: #ccc;
}

.pop-map-mark-body > p {
    margin: 0 !important;
    line-height: 22px;
    cursor: pointer;
}

.heat-control {
    padding: 5px 15px;
    width: 150px;
    height: 210px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
}

.heat-control > div {
    width: 100%;
    height: 50px;
}

.range-input {
    -webkit-appearance: none;
    border-radius: 5px;
}

.range-input:focus {
    outline: none;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -5px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #409eff;
}

.range-input::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 5px;
}

.first-range::-webkit-slider-runnable-track {
    background: linear-gradient(
            to right,
            #f00 0%,
            #ff0 17%,
            #0f0 33%,
            #0ff 50%,
            #00f 67%,
            #f0f 83%,
            #f00 100%
    );
}

.other-range::-webkit-slider-runnable-track {
    background: #409eff;
}

/*.heat-control > div > div {*/
/*width: 100%;*/
/*height: 25px;*/
/*line-height: 25px;*/
/*}*/

/*.select-bar {*/
/*margin: 10px 0;*/
/*height: 5px !important;*/
/*border-radius: 3px;*/
/*background: #409eff;*/
/*}*/

/*.hue-horizontal {*/
/*margin: 10px 0;*/
/*height: 5px !important;*/
/*border-radius: 3px;*/
/*background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);*/
/*}*/

/*.vernier {*/
/*position: relative;*/
/*width: 16px;*/
/*height: 16px;*/
/*left: 0;*/
/*top: -5px;*/
/*background: #fff;*/
/*border-radius: 8px;*/
/*border: 2px solid #409eff;*/
/*}*/

.heat-hover {
    color: #fff;
    background-color: #409eff;
}

.heat-control-switch {
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 20px;
    margin: 12px 9px;
    border: 1px solid #409eff;
    border-radius: 3px;
    padding: 3px;
}

.hidden-icon {
    display: none !important;
    background: url('../../img/marker-icon.png') no-repeat;
    width: 25px !important;
    height: 41px !important;
}

.pop-ck-up {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-size: 100% 100%;
}

.pop-ck-up-top {
    background: url('../../img/myhc/myzs/top.png') no-repeat;
}

.pop-ck-up-alarm {
    background: url('../../img/myhc/myzs/alarm.gif') no-repeat;
}

.pop-ck-mid {
    border-radius: 1px;
    background: url('../../img/myhc/myzs/title_bg.png') no-repeat;
    background-size: 100% 100%;
    color: #fdfaff;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}

.pop-ck-mid > div {
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.pop-ck-down {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url('../../img/myhc/myzs/police.png') no-repeat;
    background-size: 100% 100%;
}

/* fk u */
/*.leaflet-marker-icon {*/
/*width: auto !important;*/
/*height: auto !important;*/
/*background-color: transparent !important;*/
/*border: 0 !important;*/
/*}*/

.ck-pop-mark-body {
    padding: 10px 5px;
    height: 260px;
}

.ck-pop-mark-body > div {
    height: 100%;
    float: left;
}

.map-mark-left {
    width: 60%;
    border-right: 1px dashed #d9d9d9;
    padding-right: 5px;
}

.map-mark-right {
    width: 40%;
    padding-left: 5px;
}

.map-mark-right-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #1589fa;
}

.map-mark-right-body {
    width: 100%;
    height: calc(100% - 30px);
}

.map-mark-right-body > div {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.map-mark-right-body > div > div {
    float: left;
    display: inline-block;
    width: calc(100% - 55px);
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.map-mark-right-body > div > span {
    float: right;
    cursor: pointer;
    color: #008fed;
    text-decoration: underline;
}

.pop-marker-bg {
    height: 50px;
    background: url('../../img/myhc/myzs/title_bg.png') no-repeat;
    background-size: 100% 100%;
    line-height: 50px;
    color: #fdfaff;
    font-size: 16px;
    text-align: center;
}

.pop-rdwtfx {
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    display: none;
    left: 50%;
    top: 30px;
    margin-left: -50px;
}

.right-panel-up-1-down-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.right-panel-up-1-down-body {
    width: 100%;
    height: calc(100% - 40px);
}

.right-panel-up-1-down-body > div:first-child {
    width: 100%;
    height: 40px;
    border: 1px dashed #ccc;
    background-color: #e6f5ff;
    line-height: 40px;
}

.right-panel-up-1-down-body-banner {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    line-height: 20px;
}

.right-panel-up-1-down-body-banner > div {
    float: left;
    width: calc((100% - 40px) / 3);
    height: 100%;
    margin-left: 10px;
    background-color: #e6f5ff;
    text-align: center;
    box-shadow: 0 0 4px #939cab;
    border-radius: 3px;
}

.right-panel-up-1-down-body-banner > div > div:first-child {
    font-size: 14px;
    color: #4d4d4d;
}

#right-banner-chart {
    width: 100%;
    height: calc(100% - 65px);
}

.right-mid-amount,
.left-mid-amount {
    font-size: 16px;
    color: #1d84c6;
}

.search-pop-panel {
    position: absolute;
    width: 380px;
    height: 340px;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    z-index: 1000;
    display: none;
    left: 10px;
    top: 170px;
}

.search-pop-panel > div:first-child {
    width: 100%;
    height: 40px;
    border: 1px dashed #ccc;
    background-color: #e6f5ff;
    line-height: 40px;
}

.search-pop-panel > div:nth-child(3) {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.search-pop-nav {
    float: right;
    width: 160px;
    height: 30px;
}

#search-pop-chart {
    width: 100%;
    height: calc(100% - 150px);
}

.map-mark-right-pop {
    width: 100%;
    height: 100%;
}

.map-mark-right-pop > div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #666;
}

.map-mark-right-pop > div > div {
    height: 100%;
    float: left;
    border-bottom: 1px solid #dce3eb;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.map-mark-right-pop-header {
    background-color: #e2e5ea;
}

.pop-col1 {
    width: 170px;
}

.pop-col2 {
    width: 45px;
}

.pop-col3 {
    width: 80px;
}

.pop-col4 {
    width: 110px;
}

.pop-col5 {
    width: 150px;
}

.pop-col6 {
    width: 100px;
}

.pop-col7 {
    width: 240px;
}

.simple_showDialog_header {
    background-color: #008fef !important;
    color: #fff !important;
}

.simple_content {
    height: calc(100% - 40px) !important;
    top: 0 !important;
}

.map-mark-right-body-row {
    width: calc(100% - 20px);
    height: 110px;
    margin: 10px auto 0;
    background: url(../../img/myhc/myzs/inf_bg.png) no-repeat;
    background-size: 100% 100%;
}

.map-mark-right2 {
    float: left;
    width: 50%;
}

.map-mark-right-body2 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.mark-header {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #2483c7;
}

.mark-body {
    width: 100%;
    height: calc(100% - 25px);
    padding: 5px 15px;
}

.mark-body > div {
    width: 100%;
    height: 50%;
    line-height: 37.5px;
}

.keyword-search {
    margin-left: 10px;
}

.banner-up,
.banner-down {
    width: 100%;
    height: 50%;
    line-height: 45px;
}

.banner-up,
.banner-mid {
    font-size: 18px;
}

.banner-down {
    font-size: 14px;
}

.banner-up > span,
.banner-down > span,
.banner-mid > span {
    margin-left: 10px;
}

.banner-mid {
    width: 100%;
    height: 100%;
    line-height: 90px;
}

.switch-panel2 > div {
    float: left;
    margin-left: 5px;
    width: 64px;
    height: 21px;
    border-radius: 11px;
    font-size: 13px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.switch-selected {
    background-color: #50a1ea !important;
    color: #ffffff !important;
}

.right-divider {
    height: 0 !important;
    border-top: 1px dashed #4d4d4d;
}

.right-panel-ck {
    width: 100%;
    height: calc(100% - 15px);
    color: #4d4d4d;
    margin-top: 15px;
}

.right-panel-ck > header {
    width: 100%;
    height: 123px;
    background: url('../../img/myhc/myzs/up_bg.png') no-repeat 50% -82%;
}

.right-panel-ck > header > header {
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
}

.right-panel-ck > header > article {
    width: 282px;
    height: 90px;
    margin: 15px auto 0;
    padding: 15px;
}

.right-panel-ck > header > article > div {
    text-align: center;
    line-height: 20px;
}

.right-panel-ck > header > article > div > * {
    line-height: 30px;
}

.right-panel-ck > header > article > div > strong {
    font-family: 'Times New Roman';
    font-size: 24px;
    color: #007eff;
}

.right-panel-ck > banner {
    display: block;
    width: 300px;
    height: 110px;
    background-color: #fafafa;
    box-shadow: inset 0px 3px 8px 0px rgba(132, 132, 132, 0.17);
    border: solid 1px #cccccc;
    margin: 10px auto 0;
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
}

.right-panel-ck > banner > div {
    float: left;
    font-size: 14px;
    width: 50%;
    height: 30px;
}

.right-panel-ck > banner > div > strong {
    color: #1d84c6;
}

.right-panel-ck > section {
    margin-top: 7px;
    width: 100%;
    height: calc(100% - 250px);
    background: url(../../img/myhc/myzs/down_bg.png) no-repeat;
    padding: 20px;
    background-size: 100% 100%;
}

.right-panel-ck > section > header {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.right-panel-ck > section > header > span {
    font-size: 16px;
}

.right-panel-ck > section > section {
    width: 100%;
    height: calc(50% - 20px);
}

.right-panel-ck > section > header > div {
    float: right;
}

.right-panel-ck > section > header > div > select {
    width: 66px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #cccccc;
}

.right-panel-ck > section > section > header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fff9d4;
    padding: 0 5px;
}

.right-panel-ck > section > section > tab {
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
}

.right-panel-ck > section > section > tab {
}

.right-panel-ck > section > section > header > select {
    float: right;
    width: 66px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #cccccc;
    margin-top: 2px;
}

.right-panel-ck > section > section > tab > row {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: #bcc9d8 1px solid;
    padding: 0 5px;
}

.right-panel-ck > section > section > tab > row > cell {
    float: left;
    height: 100%;
}

.right-panel-ck > section > section > tab > row > cell:nth-child(1) {
    width: 30px;
}

.right-panel-ck > section > section > tab > row > cell:nth-child(2) {
    width: calc(100% - 80px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-panel-ck > section > section > tab > row > cell:nth-child(3) {
    width: 50px;
}

.right-panel-ck
> section
> section
> tab
> row:nth-child(1)
> cell:nth-child(1) {
    background: url('../../img/myhc/myzs/no1.png') no-repeat 50% 50%;
}

.right-panel-ck
> section
> section
> tab
> row:nth-child(2)
> cell:nth-child(1) {
    background: url('../../img/myhc/myzs/no2.png') no-repeat 50% 50%;
}

.right-panel-ck
> section
> section
> tab
> row:nth-child(3)
> cell:nth-child(1) {
    background: url('../../img/myhc/myzs/no3.png') no-repeat 50% 50%;
}

.bubble-marker {
    height: 65px;
    line-height: 35px;
    position: relative;
}

.bubble-marker > div {
    height: 35px;
    text-align: center;
    padding: 0 5px;
}

.bubble-marker > div:nth-child(2) {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, .15);
    border: solid 1px #FFF3E3;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    margin: 5px auto;
}

.bubble-marker > div:nth-child(3) {
    background: url("../../img/myhc/myzs/myzs_bg.png") no-repeat;
    background-size: 100% 100%;
    color: #3D5876;
    font-size: 14px;
}

/*.bubble-marker1 > div:first-child {*/
/*background: url("../../img/myhc/myzs/good.png") no-repeat center center;*/
/*}*/

/*.bubble-marker3 > div:first-child {*/
/*background: url("../../img/myhc/myzs/bad.png") no-repeat center center;*/
/*}*/

.bubble-marker1 > div:nth-child(2) {
    background: #51BDAE;
}

.bubble-marker2 > div:nth-child(2) {
    background: #FBA102;
}

.bubble-marker3 > div:nth-child(2) {
    background: #ED5554;
}

.bubble-marker-pcszrq {
    height: 30px;
    color: #E64147;
    background: #fff;
    opacity: .8;
    border-radius: 10px;
    line-height: 30px;
    border: 1px solid #9F9D9E;
    font-size: 14px;
    text-align: center;
    position: relative;
}

/*.bubble-marker-pcszrq {*/
/*color: #D50400;*/
/*background: #fff;*/
/*opacity: .8;*/
/*border-radius: 10px;*/
/*line-height: 16px;*/
/*border: 1px solid #9F9D9E;*/
/*font-size: 12px;*/
/*padding: 5px;*/
/*text-align: center;*/
/*position: relative;*/
/*max-width: 120px;*/
/*}*/

.leaflet-marker-icon {
    background: transparent !important;
    border: 0 !important;
}

.right-header {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.right-header > img {
    margin-left: 10px;
    margin-top: -2px;
}

.right-header > span {
    margin-left: 10px;
}

#right-ybfx {
    height: 230px;
}

.banner-pop {
    position: absolute;
    width: 100%;
    bottom: 15px;
    font-size: 12px;
    text-align: left !important;
}

#right-sqfl {
    height: 100%;
}

.right-phb {
    height: calc(100% - 630px);
}

.img-phb {
    float: right;
    margin-right: 15px;
    margin-top: 10px !important;
    cursor: pointer;
}

.img-phb-rotate {
    transform: rotateX(180deg);
}

.right-phb > div {
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #DFE4EA;
}

.right-phb > div:first-child {
    border-top: 0;
}

.right-phb > div > div {
    float: left;
    width: 70px;
    text-align: center;
}

.right-phb > div > div:nth-child(2) {
    width: calc(100% - 140px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right-phb > div > div:nth-child(3) {
    color: #027ecb;
}

.img-sqfl {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 5px;
    right: 22px;
}

.data-panel3, .data-panel4 {
    position: absolute;
    width: 380px;
    height: calc(100% - 180px);
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    z-index: 1000;
    display: none;
    left: 10px;
    top: 170px;
}

.data-panel3 {
    height: 110px;
}

.data-panel4 {
    height: auto;
}

.data-panel-banner3 {
    line-height: 30px;
}

.data-panel-banner3 > strong {
    color: #0A79FC;
}

.data-panel-tab3 {
    padding: 5px;
    overflow-y: auto;
    height: calc(100% - 35px);
}

.data-panel-footer3 {
    line-height: 30px;
    height: 30px;
    margin-top: 5px;
}

.analysis-btn3 {
    width: 100px;
    color: #027ecb;
    cursor: pointer;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #027ecb;
    padding: 0 3px;
    text-align: center;
    border-radius: 3px;
}

.search-yw2 {
    padding-left: 0 !important;
}

.rdwt-block {
    float: left;
    height: 30px;
    line-height: 30px;
    background-color: #ECF7FD;
    max-width: 120px;
    margin-left: 20px;
    margin-top: 6px;
    border-radius: 3px;
    box-shadow: 0 0 8px #939cab;
    padding: 0 3px;
}

.data-panel4 {
    padding: 0 10px 10px;
}

.data-panel4 > h5 {
    color: #1489FA;
}

.rdwt-row > div {
    float: left;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}

.rdwt-row > div:first-child {
    width: 35%;
}

.rdwt-row > div:nth-child(2) {
    width: 80px;
}

.rdwt-row > div:nth-child(3) {
    width: calc(65% - 80px);
}

.data-panel4 > p {
    padding-left: 15px;
    cursor: pointer;
}

.clear-div {
    clear: both;
}

.btn-up-down {
    height: 30px;
}

.btn-up-down > div {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
    background: #3385ff url("../../img/myhc/myzs/fold.png") no-repeat center center;
}

.btn-up {
    transform: rotate(-90deg);
}

.btn-down {
    transform: rotate(90deg);
}

.data-tab-container {
    height: calc(100% - 100px);
    overflow: auto;
}

.map-mark-right-half {
    height: 50%;
    overflow: auto;
}

.map-mark-right-all {
    height: 100%;
    overflow: auto;
}

.map-mark-row {
    height: 24px;
    line-height: 24px;
    font-size: 12px;

}

.map-mark-row > div {
    float: left;
    height: 100%;
    text-align: center;
}

.map-mark-row > div:first-child {
    width: calc(100% - 160px);
    text-align: left;
}

.map-mark-row > div:nth-child(2) {
    width: 45px;
}

.map-mark-row > div:nth-child(3) {
    width: 55px;
}

.map-mark-row > div:nth-child(4) {
    width: 60px;
}

.no-data {
    width: 70px;
    height: 86px;
    display: block;
    margin: 0 auto;
}

.simple_content {
    position: relative;
}

.zrq-popup-marker-animate {
    animation-duration: 1s;
    animation-name: zrq-marker-show;
}

@keyframes zrq-marker-show {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.zrq-popup-marker {
    z-index: 999;
}