@font-face {
  font-family: "CenturyGothic";
  src: url("../../fonts/CenturyGothic.TTF");
}
@font-face {
  font-family: "W05";
  src: url("../../fonts/W05.ttf");
}
.banner-mixin {
  height: 31%;
  width: calc(100% - 40px);
  margin-left: 20px;
}
.border-style {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}
.clear-div {
  clear: both;
}
.up-panel {
  margin: 20px auto;
  width: calc(100% - 40px);
  height: 48px;
  background-color: #a4b7cd;
  border-radius: 2px;
  padding: 10px 20px;
  color: #000;
}
.up-panel button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.up-panel input,
.up-panel button,
.up-panel select {
  height: 28px;
  line-height: 28px;
}
.up-panel input,
.up-panel select {
  border: 0;
  vertical-align: top;
  width: 300px;
  margin-left: 20px;
  padding: 0 10px;
}
.up-panel input::-webkit-input-placeholder,
.up-panel select::-webkit-input-placeholder {
  color: #808080;
}
.up-panel #type {
  width: 100px;
  margin-left: 0;
  border: none;
  outline: none;
}
.up-panel #dept-name {
  width: calc(100% - 950px);
}
.up-panel button {
  width: 43px;
  margin-left: 20px;
  background: url(../../img//myhc/rdwt/btn_search.png) no-repeat;
}
.up-panel .setting-btn {
  background: url(../../img/myhc/rdwt/setting.png) no-repeat center center;
}
.up-panel #dept-tree {
  visibility: hidden;
  margin-top: -5px;
  height: 230px;
  overflow: auto;
  position: absolute;
  z-index: 9999;
  left: 164px;
}
.mid-header {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 19%;
  display: flex;
  justify-content: space-between;
}
.mid-header > div {
  width: calc((100% - 20px) / 3);
  height: 100%;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.mid-header > div > i {
  position: absolute;
  top: 7%;
  left: 6.5%;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  font-family: "W05";
}
.mid-header > div > div {
  position: absolute;
  font-size: 20px;
  width: 100%;
}
.mid-header > div > div:nth-child(2) {
  top: 9%;
  left: 16%;
}
.mid-header > div > div:nth-child(2) > img {
  position: relative;
  bottom: 3px;
}
.mid-header > div > div:nth-child(3) {
  padding: 0 20px;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mid-header > div > div:nth-child(4) {
  font-size: 14px;
  bottom: 10%;
  padding: 0 20px;
}
.mid-body {
  width: calc(100% - 40px);
  height: calc(40% - 68px);
  margin: 20px auto;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
  display: grid;
  grid-template-rows: repeat(6, 16.7%);
  align-items: center;
  color: #666;
}
.mid-body > div {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 200px 200px 100px auto 300px;
  grid-column-gap: 20px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mid-body > div > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mid-body > div > div span {
  margin-left: 10px;
  font-size: 16px;
}
.mid-body > div > div:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}
.mid-body > div:nth-child(2n + 1) {
  background-color: #f1f6ff;
}
.down-panel {
  height: 31%;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 20px;
  color: #000;
}
.down-panel > section {
  width: calc((100% - 48px) / 4);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
  float: left;
  margin-left: 16px;
  position: relative;
}
.down-panel > section:first-child {
  margin-left: 0;
}
.down-panel > section > header {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #bcc9d8;
}
.down-panel > section > chart {
  display: block;
  height: calc(100% - 35px);
}
.down-panel > section .pop-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 70px;
  z-index: 1;
  margin-left: -60px;
  margin-top: -20px;
  cursor: pointer;
}
.down-panel > section .pop-title > div {
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}
.down-panel > section .pop-title > div:first-child {
  color: #1d84c6;
  font-size: 20px;
  font-weight: 500;
}
.pop-panel {
  position: absolute;
  z-index: 1001;
  background: url("../../img/myhc/rdwt/mybd/bg.png") no-repeat;
  background-size: 100% 100%;
  display: none;
  top: 0;
  left: 0;
}
