@font-face {
  font-family: "CenturyGothic";
  src: url("../../fonts/CenturyGothic.TTF");
}
.banner-mixin {
  height: calc(50% - 64px);
  width: calc(100% - 40px);
  margin-left: 20px;
}
.border-style {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}
.scroll-style::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.scroll-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.clear-div {
  clear: both;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.up-panel {
  margin: 20px auto;
  width: calc(100% - 40px);
  height: 48px;
  background-color: #a4b7cd;
  border-radius: 2px;
  padding: 10px 20px;
  color: #000;
}
.up-panel input,
.up-panel button {
  height: 28px;
  line-height: 28px;
}
.up-panel input {
  border: 0;
  vertical-align: top;
  width: 410px;
  margin-left: 20px;
  padding: 0 10px;
}
.up-panel input::-webkit-input-placeholder {
  color: #808080;
}
.up-panel #dept-name {
  margin-left: 0;
  width: calc(100% - 939px);
}
.up-panel button {
  width: 43px;
  margin-left: 20px;
  background: url(../../img//myhc/rdwt/btn_search.png) no-repeat;
}
.up-panel #dept-tree {
  visibility: hidden;
  margin-top: -5px;
  height: 230px;
  overflow: auto;
  position: absolute;
  z-index: 9999;
}
.up-panel #dept-tree::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.up-panel #dept-tree::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.up-panel #dept-tree::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.mid-panel {
  height: calc(50% - 64px);
  width: calc(100% - 40px);
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
  color: #000;
  padding: 10px 0;
}
.mid-panel > header {
  width: calc(100% - 40px);
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
}
.mid-panel > header > div {
  height: 100%;
}
.mid-panel > header > div:first-child {
  float: left;
  font-size: 18px;
}
.mid-panel > header > div:last-child,
.mid-panel > header > div:nth-child(2) {
  float: right;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.mid-panel > header > div:last-child {
  margin-right: 10px;
}
.mid-panel > section {
  float: left;
  width: calc((100% - 140px) / 3);
  margin-left: 35px;
  margin-top: 20px;
  height: calc(100% - 240px);
  cursor: pointer;
}
.mid-panel > section:nth-child(2) > div:first-child {
  border-bottom: 8px solid #f08988;
}
.mid-panel > section:nth-child(2) > div:last-child {
  background-color: #de686a;
}
.mid-panel > section:nth-child(3) > div:first-child {
  border-bottom: 8px solid #f0a16f;
}
.mid-panel > section:nth-child(3) > div:last-child {
  background-color: #df8042;
}
.mid-panel > section:nth-child(4) > div:first-child {
  border-bottom: 8px solid #f9c469;
}
.mid-panel > section:nth-child(4) > div:last-child {
  background-color: #ecb048;
}
.mid-panel > section > div:first-child {
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.mid-panel > section > div:last-child {
  height: calc(100% - 8px);
  border-radius: 0px 0px 6px 6px;
}
.mid-panel > section > div:last-child > div {
  text-align: center;
  color: #fff;
  font-family: "CenturyGothic";
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mid-panel > section > div:last-child > div:first-child > * {
  font-weight: 900;
}
.mid-panel > section > div:last-child > div .up-img {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 1px;
}
.mid-panel > section > div:last-child > div .down-img {
  position: relative;
  top: -1px;
  left: 1px;
}
.mid-panel > fieldset {
  width: 50%;
  height: 170px;
  float: left;
  margin-top: 20px;
  padding: 0 35px;
}
.mid-panel > fieldset > row {
  display: block;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
}
.mid-panel > fieldset > row:first-child {
  margin-top: 0;
}
.mid-panel > fieldset > row > div {
  height: 100%;
  float: left;
}
.mid-panel > fieldset > row > div:first-child {
  width: calc(100% - 200px);
  background: url(../../img/myhc/rdwt/list_normal.png) no-repeat;
  background-size: 100% 100%;
  padding: 0 10px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
.mid-panel > fieldset > row > div:first-child:hover {
  background: url(../../img/myhc/rdwt/list_hover.png) no-repeat;
  background-size: 100% 100%;
}
.mid-panel > fieldset > row > div:last-child {
  width: 200px;
  padding-left: 30px;
  font-size: 20px;
}
.mid-panel > fieldset > row > div:last-child strong {
  color: #1d84c6;
}
.mid-panel > fieldset > row > div:last-child img {
  position: relative;
  top: -2px;
  left: 1px;
}
.down-panel {
  height: calc(50% - 64px);
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 20px;
  color: #000;
}
.down-panel > section {
  width: calc((100% - 48px) / 4);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
  float: left;
  margin-left: 16px;
  position: relative;
}
.down-panel > section:first-child {
  margin-left: 0;
}
.down-panel > section > header {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #bcc9d8;
}
.down-panel > section > chart {
  display: block;
  height: calc(100% - 35px);
}
.down-panel > section .pop-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 70px;
  z-index: 1;
  margin-left: -60px;
  margin-top: -20px;
  cursor: pointer;
}
.down-panel > section .pop-title > div {
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}
.down-panel > section .pop-title > div:first-child {
  color: #1d84c6;
  font-size: 20px;
  font-weight: 500;
}
.pop-panel {
  position: absolute;
  z-index: 1001;
  background: url('../../img/myhc/rdwt/mybd/bg.png') no-repeat;
  background-size: 100% 100%;
  display: none;
  top: 0;
  left: 0;
}
