tab,
row,
cell {
  display: block;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.border-style {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}
.up-panel {
  margin: 20px auto;
  width: calc(100% - 40px);
  height: 48px;
  background-color: #a4b7cd;
  border-radius: 2px;
  padding: 10px 20px;
  color: #75787a;
}
.up-panel input,
.up-panel button {
  height: 28px;
  line-height: 28px;
}
.up-panel input {
  border: 0;
  vertical-align: top;
  width: 410px;
  margin-left: 20px;
  padding: 0 10px;
}
.up-panel input::-webkit-input-placeholder {
  color: #808080;
}
.up-panel #dept-name {
  margin-left: 0;
  width: calc(100% - 939px);
}
.up-panel button {
  width: 43px;
  margin-left: 20px;
  background: url(../../img//myhc/rdwt/btn_search.png) no-repeat;
}
.up-panel #dept-tree {
  visibility: hidden;
  margin-top: -5px;
  height: 230px;
  position: absolute;
  z-index: 9999;
  overflow-y: auto;
}
.up-panel #dept-tree::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.up-panel #dept-tree::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.up-panel #dept-tree::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.left-panel {
  float: left;
  width: calc((100% - 50px) * 0.7);
  height: calc(100% - 118px);
  margin-left: 20px;
  padding: 10px;
  color: #75787a;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}
.left-panel > header {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-bottom: 1px #bcc9d8 solid;
}
.left-panel > header .nav-hover {
  color: #1c84c6;
  border-bottom: 2px solid #1c84c6;
}
.left-panel > header > section {
  float: left;
  height: 100%;
  margin-left: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}
.left-panel > header > section:hover {
  color: #1c84c6;
  border-bottom: 2px solid #1c84c6;
}
.left-panel > tab {
  height: calc(100% - 102px);
  margin: 10px 0;
  line-height: 40px;
}
.left-panel > tab > div .row-header1 {
  display: block;
}
.left-panel > tab > div .row-header1 > cell {
  width: calc(100% / 9);
}
.left-panel > tab > div .row-header1 > cell:last-child {
  padding: 0;
  width: calc(100% / 3);
}
.left-panel > tab > div .row-header2 {
  display: none;
}
.left-panel > tab > div .row-header2 > cell {
  width: 10%;
}
.left-panel > tab > div .row-header2 > cell:last-child {
  padding: 0;
  width: 30%;
}
.left-panel > tab > div > row {
  height: 40px;
  border-bottom: 1px solid #bcc9d8;
}
.left-panel > tab > div > row > cell {
  width: 10%;
  float: left;
  height: 100%;
  border-right: 1px solid #bcc9d8;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.left-panel > tab > div > row > cell .head-checkbox {
  float: left;
  top: 10px;
  margin-right: 5px;
}
.left-panel > tab > div > row > cell span {
  display: inline-block;
  max-width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.left-panel > tab > div > row > cell img {
  float: right;
  position: relative;
  cursor: pointer;
}
.left-panel > tab > div > row > cell .head-img1 {
  top: 16px;
}
.left-panel > tab > div > row > cell .head-img2 {
  top: 16px;
}
.left-panel > tab > div > row > cell .sub-head-img {
  top: 4px;
}
.left-panel > tab > div > row > cell:first-child {
  border-left: 1px solid #bcc9d8;
}
.left-panel > tab > div:first-child {
  height: 50px;
  font-size: 15px;
}
.left-panel > tab > div:first-child > row {
  border-top: 1px solid #bcc9d8;
}
.left-panel > tab > div:last-child {
  width: 100%;
  height: calc(100% -  50px);
  overflow-y: auto;
}
.left-panel > tab > div:last-child::-webkit-scrollbar {
  width: 0;
  height: 6px;
  background-color: #fff;
}
.left-panel > tab > div:last-child::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.left-panel > tab > div:last-child::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.left-panel > tab > div:last-child .row-selected {
  background-color: #1c84c6;
  color: #fff;
}
.left-panel > tab > div:last-child > row:hover {
  background-color: #1c84c6;
  color: #fff;
}
.left-panel > tab > div.row-head > row {
  line-height: 50px;
  height: 50px;
}
.left-panel > tab > div.row-head > row > cell {
  height: 100%;
}
.left-panel > tab > div.row-head > row > cell > row {
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.left-panel > tab > div.row-head > row > cell > row:first-child {
  width: 100%;
  border-bottom: 1px solid #bcc9d8;
}
.left-panel > tab > div.row-head > row > cell > row:last-child > cell {
  width: calc(100% / 3);
}
.left-panel > tab > div.row-head > row > cell > row > cell {
  border-left: 1px solid #bcc9d8;
  float: left;
  height: 100%;
  padding: 0 5px;
  text-align: left;
}
.left-panel > tab > div.row-head > row > cell > row > cell:first-child {
  border-left: 0;
}
.left-panel > footer {
  height: 32px;
  line-height: 32px;
}
.left-panel > footer > div {
  width: 186px;
  height: 100%;
  margin: 0 auto;
}
.left-panel > footer > div > button {
  width: 60px;
}
.left-panel > footer > div > button:first-child {
  margin-right: 60px;
  background-color: #3b8cc1;
  color: #fff;
  border-radius: 2px;
}
.left-panel > footer > div > button:last-child {
  background-color: #e6ecf4;
  border-radius: 2px;
  border: solid 1px #4a9dd3;
}
.right-panel {
  float: left;
  width: calc((100% - 50px) * 0.3);
  height: calc(100% - 118px);
  margin-left: 10px;
  padding: 10px;
  color: #75787a;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}
.right-panel > header {
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #bcc9d8;
  font-size: 18px;
}
.right-panel > header > span {
  margin-left: 10px;
}
.right-panel > section {
  height: calc(100% - 55px);
  padding: 10px 0;
  overflow-y: auto;
}
.right-panel > section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.right-panel > section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.right-panel > section::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.right-panel > section > row {
  line-height: 60px;
  height: 60px;
  background-color: #d7e5f5;
  border-radius: 5px;
  padding: 0 0 0 10px;
  margin-top: 10px;
}
.right-panel > section > row > cell {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-panel > section > row > cell:first-child {
  color: #4d4d4d;
}
.right-panel > section > row > cell:nth-child(2) {
  width: 200px;
  color: #fff;
  text-align: center;
  background: url("../../img/myhc/rdwt/center_bq.png") no-repeat center center;
}
.right-panel > section > row > cell:last-child {
  width: 100px;
}
.right-panel > section > row > cell:last-child span {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-top: 15px;
  border-radius: 6px;
  line-height: 30px;
  text-align: center;
}
.right-panel > section > row > cell:last-child .span-model1 {
  border: solid 2px #27d66b;
  color: #27d66b;
}
.right-panel > section > row > cell:last-child .span-model2 {
  border: solid 2px #ff4000;
  color: #ff4000;
}
.right-panel > section > row > cell:last-child .span-model3 {
  border: solid 2px #21b1f0;
  color: #21b1f0;
}
.right-panel > section > row > cell:last-child i {
  margin-left: 7px;
  font-size: 20px;
  color: #769ece;
  cursor: pointer;
}
.pop-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 8px;
  min-width: 100px;
  min-height: 50px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.26);
  border: solid 1px #e5ebf1;
  border-radius: 4px;
  color: #424e67;
}
.pop-menu > section {
  max-height: 205px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.pop-menu > section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.pop-menu > section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.pop-menu > section::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.pop-menu > section > div {
  cursor: pointer;
}
.pop-menu > section > div:hover {
  color: #3083eb;
}
.pop-menu > section > div .span-selected {
  color: #3083eb;
}
.pop-menu > footer {
  width: 92px;
  height: 20px;
  line-height: 20px;
  margin: auto;
}
.pop-menu > footer > button {
  width: 40px;
  height: 100%;
}
.pop-menu > footer > button:first-child {
  margin-right: 7px;
  background-color: #ffffff;
  border-radius: 2px;
  border: solid 1px #7aaceb;
  color: #7aaceb;
}
.pop-menu > footer > button:nth-child(2) {
  background-color: #5899eb;
  border-radius: 2px;
  color: #fff;
}
.pop-menu::before {
  content: "";
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: -5px;
  transform: rotate(-45deg);
  left: 50%;
  margin-left: -5px;
}
.simple_content > section {
  width: calc(100% - 40px);
  height: calc(100% - 60px);
  margin: 0 auto;
  border-top: 1px solid #4d4d4d;
  overflow-y: auto;
  color: #000;
}
.simple_content > section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.simple_content > section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
.simple_content > section::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}
.simple_content > section > article {
  height: 32px;
  line-height: 32px;
  background-color: #d7e5f5;
  margin-top: 10px;
  padding: 0 8px;
  border-radius: 4px;
}
.simple_content > section > article > div {
  float: left;
  width: 60px;
  height: 100%;
}
.simple_content > section > article > div:first-child {
  width: calc(100% - 60px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.simple_content > section > article > div > img {
  margin-left: 5px;
  cursor: pointer;
}
.simple_content > section > article > div > input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
}
.simple_content > footer {
  width: 145px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto 8px;
}
.simple_content > footer > button {
  width: 60px;
  height: 32px;
}
.simple_content > footer > button:first-child {
  margin-right: 20px;
  background-color: #3b8cc1;
  color: #fff;
  border-radius: 2px;
}
.simple_content > footer > button:last-child {
  background-color: #e6ecf4;
  border-radius: 2px;
  border: solid 1px #4a9dd3;
}
