@font-face {
  font-family: "CenturyGothic";
  src: url("../../fonts/CenturyGothic.TTF");
}

@font-face {
  font-family: "W05";
  src: url("../../fonts/W05.ttf");
}

// 基础颜色
@basic-color: #000;
// header的高度
@header-height: 30px;

// 单行省略
.single-text-ellipse() {
  // 单行省略
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// banner样式
.banner-mixin {
  @banner-height: 31%;
  height: @banner-height;
  width: calc(~"100% - 40px");
  margin-left: 20px;
}

// 边框以及阴影样式
.border-style {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(1, 24, 49, 0.67);
  border-radius: 7px;
}

.clear-div {
  clear: both;
}

.up-panel {
  @input-height: 28px;
  margin: 20px auto;
  width: calc(~"100% - 40px");
  height: 48px;
  background-color: rgba(164, 183, 205, 1);
  border-radius: 2px;
  padding: 10px 20px;
  color: @basic-color;

  button {
    margin: 0;
    padding: 0;
    border: 0; //自定义边框
    outline: none;
  }

  input,
  button,
  select {
    height: @input-height;
    line-height: @input-height;
  }

  input,
  select {
    border: 0;
    vertical-align: top;
    width: 300px;
    margin-left: 20px;
    padding: 0 10px;

    &::-webkit-input-placeholder {
      color: #808080;
    }
  }

  #type {
    width: 100px;
    margin-left: 0;
    border: none;
    outline: none;
  }

  #dept-name {
    width: calc(~"100% - 950px");
  }

  button {
    width: 43px;
    margin-left: 20px;
    background: url(../../img//myhc/rdwt/btn_search.png) no-repeat;
  }

  .setting-btn {
    background: url(../../img/myhc/rdwt/setting.png) no-repeat center center;
  }

  #dept-tree {
    visibility: hidden;
    margin-top: -5px;
    height: 230px;
    overflow: auto;
    position: absolute;
    z-index: 9999;
    left: 164px;
  }
}

.mid-header {
  width: calc(~"100% - 40px");
  margin: 0 auto;
  height: 19%;
  display: flex;
  justify-content: space-between;

  & > div {
    width: calc(~"(100% - 20px) / 3");
    height: 100%;
    color: #fff;
    position: relative;
    cursor: pointer;

    & > i {
      position: absolute;
      top: 7%;
      left: 6.5%;
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      font-family: "W05";
    }

    & > div {
      position: absolute;
      font-size: 20px;
      width: 100%;

      &:nth-child(2) {
        top: 9%;
        left: 16%;

        & > img {
          position: relative;
          bottom: 3px;
        }
      }
      &:nth-child(3) {
        padding: 0 20px;
        top: 50%;
        transform: translateY(-50%);
        .single-text-ellipse();
      }
      &:nth-child(4) {
        font-size: 14px;
        bottom: 10%;
        padding: 0 20px;
      }
    }
  }
}

.mid-body {
  width: calc(~"100% - 40px");
  height: calc(~"40% - 68px");
  margin: 20px auto;
  line-height: 50px;
  .border-style();
  display: grid;
  grid-template-rows: repeat(6, 16.7%);
  align-items: center;
  color: #666;

  & > div {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 200px 200px 100px auto 300px;
    grid-column-gap: 20px;
    cursor: pointer;
    .single-text-ellipse();

    & > div {
      span {
        margin-left: 10px;
        font-size: 16px;
      }
      &:nth-child(1) {
        font-size: 20px;
        font-weight: bold;
      }
    }

    &:nth-child(2n + 1) {
      background-color: rgb(241, 246, 255);
    }
  }
}

.down-panel {
  .banner-mixin();
  margin-top: 20px;
  color: @basic-color;

  & > section {
    width: calc(~"(100% - 48px) / 4");
    height: 100%;
    .border-style();
    float: left;
    margin-left: 16px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    & > header {
      width: calc(~"100% - 40px");
      margin-left: 20px;
      margin-top: 5px;
      height: @header-height;
      line-height: @header-height;
      font-size: 18px;
      text-align: center;
      border-bottom: 2px solid #bcc9d8;
    }

    & > chart {
      display: block;
      height: calc(~"100% - 35px");
    }

    .pop-title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120px;
      height: 70px;
      z-index: 1;
      margin-left: -60px;
      margin-top: -20px;
      cursor: pointer;

      & > div {
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 18px;

        &:first-child {
          color: #1d84c6;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}

.pop-panel {
  position: absolute;
  z-index: 1001;
  background: url("../../img/myhc/rdwt/mybd/bg.png") no-repeat;
  background-size: 100% 100%;
  display: none;
  top: 0;
  left: 0;
}
