.menuDialog {
    width: 100%;
    height: calc(100% - 5px);
}
.menuDialog>div {
    width: calc(100% - 5px);
    height: calc(50% - 8px);
    margin-top: 5px;
    background-color: #0a3361;
    border-radius: 5px;
}
.menuTitle {
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #aacde0;
    font-size: 18px;
}
.menuTitle img {
    margin-left: 10px;
}
.menuTitle span {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
.rcGrid {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: calc(100% - 70px);
    margin-top: 10px;
}
.rcGrid>div {
    width: 100%;
    height: 10%;
    /*cursor: pointer;*/
    text-indent: 10px;
    box-sizing: border-box;
    border-top: 1px solid #1f4470;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.myys {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: calc(100% - 55px);
    margin-top: 10px;
}
.search_bar {
    width: 100%;
    height: 37px;
    line-height: 37px;
    position: relative;
}
#keywords {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 3px;
    border: 1px solid #2752bb;
    background-color: #09417e;
    color: white;
}
.search_bar img {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}
.hot_title {
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.fire {
    float: left;
    color: #be4b6c;
    margin-left: 10px;
    font-weight: bold;
}
.fire img {
    position: relative;
    top: -2px;
}
.fire span {
    margin-left: 6px;
}
.refresh {
    float: right;
    color: #1887cf;
    margin-right: 10px;
    cursor: pointer;
}
.refresh img {
    position: relative;
    top: -1px;
}
.refresh span {
    margin-right: 6px;
}
.hot_list {
    width: 100%;
    height: calc(100% - 82px);
}
.hot_list>div {
    width: calc(100% / 3);
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    text-indent: 5px;
    cursor: pointer;
    color: #c7d2d8;
}
::-webkit-input-placeholder {
    color: #c4cad6;
}