.up-panel {
  margin: 20px auto;
  width: calc(100% - 40px);
  height: 48px;
  background-color: #a4b7cd;
  border-radius: 2px;
  padding: 10px 20px;
  color: #000;
}
.up-panel button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.up-panel input,
.up-panel button {
  height: 28px;
  line-height: 28px;
}
.up-panel input {
  border: 0;
  vertical-align: top;
  width: 410px;
  margin-left: 20px;
  padding: 0 10px;
}
.up-panel input::-webkit-input-placeholder {
  color: #808080;
}
.up-panel #dept-name {
  margin-left: 0;
  width: calc(100% - 939px);
}
.up-panel button {
  width: 43px;
  margin-left: 20px;
  background: url(../../img//myhc/rdwt/btn_search.png) no-repeat;
}
.up-panel #dept-tree {
  visibility: hidden;
  margin-top: -5px;
  height: 230px;
  overflow: auto;
  position: absolute;
  z-index: 9999;
}

.view-body {
  margin: 20px auto;
  width: calc(100% - 40px);
  height: calc(100% - 108px);
}

.border-model {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0px 0px 8px #939cab;
}

.view-col {
  float: left;
  height: 100%;
}

.view-left-col {
  width: calc((100% - 20px) / 4);
}

.view-mid-col {
  margin-left: 10px;
  width: calc((100% - 20px) * 0.55);
}

.view-right-col {
  margin-left: 10px;
  width: calc((100% - 20px) * 0.2);
}

.view-left-col-top {
  width: 100%;
  height: calc((100% - 20px) / 3);
}

.view-left-col-bottom {
  width: 100%;
  height: calc((100% - 20px) * 2 / 3 + 10px);
  margin-top: 10px;
}

.view-mid-col-row {
  width: 100%;
  height: calc((100% - 20px) / 3);
}

.view-right-col-top {
  width: 100%;
  height: calc((100% - 10px) * 4 / 9);
}

.view-right-col-bottom {
  width: 100%;
  height: calc((100% - 10px) * 5 / 9);
  margin-top: 10px;
}

.view-left-col-top > div {
  float: left;
  width: calc((100% - 40px) / 2);
  height: calc((100% - 60px) / 3);
  margin-left: 10px;
  margin-top: 15px;
  background-color: #f7f8fc;
  border-radius: 40px;
  border: 1px solid #dfdfdf;
  color: #000;
}

.view-left-col-bottom-header {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #bcc9d9;
}

.view-left-col-bottom-body {
  width: 95%;
  height: calc(100% - 180px);
  margin: 0 auto;
}

.view-left-col-bottom-body > div {
  width: 95%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  margin: 0 auto;
}

.view-left-col-bottom-body > div > span:first-child {
  float: left;
}

.view-left-col-bottom-body > div > span:nth-child(2) {
  color: #2a9bd5;
  float: right;
  font-size: 18px;
  font-weight: 500;
}

.view-left-col-bottom-footer {
  width: 95%;
  height: 130px;
  border-top: 1px solid #bcc9d9;
  margin: 0 auto;
}

.view-left-col-bottom-footer > img {
  margin: 20px 36%;
}

.view-left-col-bottom-footer input {
  background: url("../../img/zxyp/aj/search_gray.png") no-repeat 4% 50%;
}

.view-left-col-bottom-header > span {
  float: left;
  margin-left: 10px;
  color: #000;
  line-height: 50px;
  font-size: 16px;
}

.view-left-col-bottom-header > select {
  float: right;
  margin-top: 15px;
}

.view-mid-three {
  float: left;
  width: calc((100% - 60px) / 3);
  height: 100%;
  margin: 0 10px;
}

.view-mid-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c4ceda;
  color: #000;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
}

.view-mid-body {
  width: 100%;
  height: calc(100% - 40px);
}

.view-mid-col-row-header {
  width: 95%;
  height: 40px;
  border-bottom: 1px solid #c4ceda;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}

.view-mid-col-row-body {
  width: 95%;
  height: calc(100% - 40px);
  margin: 0 auto;
}

#ajbljtwtfx {
  overflow-y: auto;
}

.view-mid-col-row-header > span {
  color: #000;
}

.view-mid-col-row-header > select {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.view-right-col-top > div {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #c4ceda;
}

.view-right-top-header {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.view-right-bottom-header {
  width: 95%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #000;
  line-height: 40px;
  border-bottom: 1px solid #c4ceda;
  background: url("../../img/zxyp/aj/myb_header.png") no-repeat;
  background-size: 100% 100%;
}

.view-right-bottom-body {
  width: 95%;
  height: calc(100% - 40px);
  margin: 0 auto;
}

.view-right-bottom-body > div {
  width: 100%;
  height: calc((100% - 30px) / 3);
  margin-top: 10px;
  border-bottom: 1px solid #c4ceda;
}

.view-col-header {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.view-col-footer {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.tab-row {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c4ceda;
  line-height: 40px;
  color: #000;
}

.tab-td {
  float: left;
  height: 40px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab-td > img,
.tab-td > span {
  margin-left: 5px;
}

.tab-td-click {
  cursor: pointer;
}

.pop-nav {
  margin-left: 57%;
}

.pop-nav > div {
  background-color: #259be5 !important;
  color: #fff !important;
}

.pop-nav > div.nav-selected {
  background-color: #c8efd4 !important;
  color: #000 !important;
}

.inner-nav {
  margin-left: 37%;
}

.view-mid-nav {
  position: relative;
  width: 150px;
  height: 20px;
  line-height: 20px;
  right: 0;
  top: 5px;
  overflow: hidden;
  border-radius: 3px;
  z-index: 99;
  margin-bottom: 9px;
}

.view-mid-nav > div {
  float: left;
  width: calc(100% / 3);
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: #fcfdff;
  color: #a3a3a3;
  border-right: 1px solid #eff0f2;
}

.nav-selected {
  background-color: #259be5 !important;
  color: #fff !important;
}

#ajdwfb {
  width: 100%;
  height: calc(100% - 30px);
}

.view-right-top-body {
  width: 100%;
  height: calc(100% - 40px);
}

.view-right-top-body > div {
  float: left;
  width: 50%;
  height: 100%;
}

.view-right-top-body > div > div {
  margin-top: 10px;
  font-size: 16px;
  color: #3380ac;
}

.click-div {
  cursor: pointer;
}

.view-right-bottom-row {
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
  margin-left: 5px;
}

.view-right-bottom-row-header {
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
  margin-left: 5px;
}

.view-right-bottom-row-header > img {
  float: right;
}

.view-right-bottom-row > select,
.view-right-bottom-row > img {
  float: left;
}

.view-right-bottom-row > span {
  float: left;
  margin-left: 10px;
  color: #000;
}

.pop-view-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f7f7f;
  opacity: 0.8;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}

.pop-view {
  position: absolute;
  top: 30px;
  left: 17%;
  width: 66%;
  height: 90%;
  background-color: #fff;
  z-index: 1001;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #939cab;
  display: none;
}

.pop-view-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.pop-view-body {
  width: 100%;
  height: calc(100% - 50px);
}

.pop-view-header > span {
  float: left;
  color: #000;
  margin-left: 10px;
  font-size: 16px;
}

.pop-view-header > i {
  float: right;
  color: #000;
  margin-right: 10px;
  margin-top: 10px;
}

.pop-view-body > div {
  width: 95%;
  /*height: calc((100% - 40px) / 3);*/
  margin: 10px auto 0;
}

.pop-view-col {
  float: left;
  height: 100%;
}

.pop-view-col1 {
  width: calc((100% - 10px) * 0.5);
}

.pop-view-col2 {
  width: calc((100% - 10px) * 0.5);
}

.pop-view-col3 {
  width: calc((100% - 10px) / 2);
}

.pop-view-col4 {
  width: 100%;
}

.pop-view-col > div:first-child {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.pop-view-col > div:nth-child(2) {
  width: 100%;
  height: calc(100% - 30px);
}

.pop-view-col > div > span {
  color: #000;
  margin-left: 5px;
}

.pop-view-bottom {
  width: 95% !important;
  height: 30px !important;
  margin: 0 auto;
  line-height: 30px;
  color: #000;
  text-align: center;
}

.pop-view-top {
  width: 100% !important;
  height: calc(100% - 30px) !important;
}

.pop-view-top-header {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.pop-view-top-body {
  width: 100%;
  height: calc(100% - 30px);
}

.pop-view-top > div {
  float: left;
  width: calc(50% - 5px);
  height: 100%;
  color: #000;
}

.pop-view2 {
  width: 48%;
  height: 75%;
  position: absolute;
  z-index: 1003;
  left: 26%;
  top: 15%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #939cab;
  display: none;
}

#pop-ajbljtwtfx {
  overflow-y: auto;
}

#pop-ajwtdwfb {
  width: 100%;
  height: calc(100% - 20px);
}

/*词云*/
div.jqcloud {
  font-family: "微软雅黑", "宋体", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 {
  font-size: 250%;
  color: #7a833c;
}

div.jqcloud span.w9 {
  font-size: 240%;
  color: #53609b;
}

div.jqcloud span.w8 {
  font-size: 230%;
  color: #bc78de;
}

div.jqcloud span.w7 {
  font-size: 220%;
  color: #cf3876;
}

div.jqcloud span.w6 {
  font-size: 210%;
  color: #1d84c6;
}

div.jqcloud span.w5 {
  font-size: 200%;
  color: #7a833c;
}

div.jqcloud span.w4 {
  font-size: 190%;
  color: #1d84c6;
}

div.jqcloud span.w3 {
  font-size: 180%;
  color: #e8a31c;
}

div.jqcloud span.w2 {
  font-size: 170%;
  color: #bc78de;
}

div.jqcloud span.w1 {
  font-size: 160%;
  color: #ed8166;
}

/* colors */

div.jqcloud {
  color: #09f;
}

div.jqcloud a {
  color: inherit;
}

div.jqcloud span {
  cursor: pointer;
}

div.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span {
  padding: 0;
}

#zhpjzs,
#hfywl,
#fsdxl {
  color: #1d84c6;
}

#gfpjs {
  color: #01b261;
}

#bgfpjs,
#wzggds {
  color: #ea4c33;
}

.pop-view2-header {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  font-size: 18px;
  color: #000;
  text-align: center;
}

.pop-view2-body {
  width: 95%;
  height: calc(100% - 50px);
  margin: 0 auto;
  overflow-y: auto;
}

.pop-view2-header > i {
  float: right;
  margin-top: 15px;
}

.pop-view2-body > div {
  width: 100%;
  /*height: calc(50% - 10px);*/
  margin-top: 10px;
}

.pop-view2-up {
  width: 100%;
  /*height: 30px;*/
  line-height: 30px;
  color: #000;
  background-color: #edf1f2;
  font-size: 18px;
  border-radius: 5px;
}

.pop-view2-down {
  width: 100%;
  /*height: calc(100% - 40px);*/
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 5px #ccc inset;
  margin-top: 10px;
  overflow-y: auto;
  color: #000;
  line-height: 30px;
  text-align: justify;
  padding: 10px;
}

.search-input {
  padding-left: 35px;
}

.view-right-bottom-row > img {
  height: 100%;
  display: inline-block;
  width: 82px;
}

.view-right-bottom-row > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: calc(100% - 92px);
  height: 100%;
}