.view-header {
  width: 95%;
  height: 50px;
  margin: 10px auto;
}
.view-body {
  width: 95%;
  height: calc(100% - 80px);
  margin: 10px auto;
}
.view-header-left {
  float: left;
  width: calc(100% - 160px);
  height: 50px;
  background: #adc3db;
}
.view-header-right {
  float: right;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  line-height: 42px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
.view-header-right > span {
  margin-left: 10px;
}
input {
  height: 30px;
  text-indent: 15px;
}
#place {
  width: 50%;
  border-radius: 3px;
  margin: 10px 10px;
  border: 0;
}
#left-tree {
  margin-top: -10px;
  margin-left: 10px;
  height: 230px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  width: 26.75%;
  z-index: 9999;
}
.date-input {
  width: 20%;
  border-radius: 3px;
  margin: 10px 10px;
  border: 0;
}
.search-btn {
  cursor: pointer;
  margin-top: -5px;
}
.view-body > div {
  width: 100%;
  height: calc(100% / 3 - 10px);
  margin-top: 10px;
}
.view-body > div > div {
  float: left;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0px 0px 8px #939cab;
  overflow: hidden;
}
#chart1 > div {
  overflow: auto !important;
}
.left_view {
  width: calc((100% - 20px) * 0.25);
}

.right_view {
  width: calc((100% - 20px) * 0.22);
}

.mid_view {
  width: calc((100% - 20px) * 0.53);
  margin: 0 10px;
}
#video {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: fill;
}
#left_top > div {
  float: left;
  width: 50%;
  height: calc(100% / 3);
}
#left_top > div > div {
  height: 70%;
  width: 90%;
  border: 1px solid #dadfe3;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 7%;
  background-color: #f7f8fc;
}
.val {
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
.txt {
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  color: #646569;
}
.b {
  color: #3788b3 !important;
}
.g {
  color: #4ac396 !important;
}
.r {
  color: #d24e4a !important;
}
.o {
  color: orange !important;
}
.subTitle {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #888f95;
  border-bottom: 2px solid #ced7e0;
  /*font-weight: bold;*/
  color: #000;
  font-size: 16px;
}
.group {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 100%;
}
.content {
  width: 100%;
  height: calc(100% - 42px);
  position: relative;
}
#jcjzsk .content > div,
#xhyj .content > div {
  width: 100%;
  height: calc(100% / 6);
  line-height: 32px;
  color: #75797c;
  box-sizing: border-box;
  border-bottom: 1px solid #ced7e0;
}
.pic,
.name {
  float: left;
  margin-left: 10px;
}
.pic2,
.name2,
.val2 {
  float: right;
  margin-right: 10px;
}
.val2 {
  color: #e45581;
}
.pic2 img {
  width: 16px;
  height: 16px;
}
.subTitle2 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #888f95;
  border-bottom: 2px solid #ced7e0;
  /*font-weight: bold;*/
  color: #000;
  font-size: 16px;
}
.l {
  float: left;
}
.y {
  float: right;
}

.m {
  margin-left: 14px;
}

#dept,
#dept2,
#dept3,
#dept4 {
  width: 80px;
  background-color: #ccd8e6;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 200;
}
#dept2 {
  width: 90px;
}
#dept3,
#dept4 {
  width: 120px;
}
.rank {
  height: 35px;
  line-height: 35px;
}
.rankTitle {
  margin-left: 10px;
  color: #878e94;
  font-size: 16px;
  float: left;
}
.star {
  margin-right: 10px;
  float: right;
}
.rankList {
  width: 100%;
  height: calc(100% - 35px);
}
.rankList > div {
  width: 100%;
  height: 20%;
  line-height: 30px;
}
.rankPic {
  float: left;
  width: 24px;
  height: 24px;
}
.rankPic img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -2px;
}
.rankName {
  float: left;
  margin-left: 10px;
  color: #878e94;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 100px);
}
.rankVal {
  float: right;
  margin-right: 10px;
  color: #ae7aab;
  width: 40px;
}
#tagscloud {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  color: #333;
  text-align: center;
  overflow: hidden;
}
.myd,
.dwqk {
  width: calc(50% - 5px);
  height: 100%;
  float: left;
}
.dwqk {
  margin-left: 10px;
}
#chart0,
#chart1,
#chart2,
#chart3,
#chart4,
#chart5,
#chart6,
#chart11,
#chart22 {
  width: 100%;
  height: 100%;
}

#chart33 {
  width: 100%;
  height: calc(100% - 30px);
  margin-top: 30px;
}

.tab2,
.tab3 {
  position: absolute;
  width: 200px;
  height: 26px;
  line-height: 26px;
  right: 0px;
  top: 7px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 99;
}

.tab4 {
  position: absolute;
  width: 200px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 99;
  right: 0;
  top: -27px;
}

.tab2 > div,
.tab3 > div,
.tab4 > div {
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: #fcfdff;
  color: #a3a3a3;
  border-right: 1px solid #eff0f2;
}
.tab2 .selected,
.tab3 .selected,
.tab4 .selected {
  color: white;
  background-color: #2390d3;
}
.group_child {
  float: left;
  width: calc(100% / 3 - 7px);
  margin-right: 10px;
  height: 100%;
}
.rect {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: calc(50% - 15px);
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #bec7d0;
  border-radius: 5px;
  background-color: #f7f8fc;
}
.rect > div {
  width: 100%;
  height: 50%;
  line-height: 40px;
}
.dort {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #1a86d1;
}
.lab {
  color: #5f646a;
}
.val3 {
  color: #1a86d1;
  float: right;
  margin-right: 5px;
}
.video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 96;
}
#more {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  z-index: 98;
}
#fh {
  cursor: pointer;
  width: 22px;
}
.videoList {
  width: calc(100% - 20px);
  left: 10px;
  height: 100%;
  position: relative;
  z-index: 97;
  display: none;
}
#videoList {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#videoList > div {
  cursor: pointer;
  width: 100%;
  height: calc(100% / 6);
  line-height: 32px;
  color: #75797c;
  box-sizing: border-box;
  border-bottom: 1px solid #ced7e0;
}
#videoList img {
  width: 22px;
  height: 22px;
}
#videoList::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
#videoList::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
#videoList::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.t {
  color: #000;
}
#left_top {
  font-size: 16px;
}
.ryRow {
  cursor: pointer;
}
select {
  color: #89a3c6;
  background-color: white !important;
  border: 1px solid rgb(169, 169, 169) !important;
}
/*词云*/
div.jqcloud {
  font-family: '微软雅黑', '宋体', sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 {
  font-size: 200%;
  color: #7a833c;
}

div.jqcloud span.w9 {
  font-size: 190%;
  color: #53609b;
}

div.jqcloud span.w8 {
  font-size: 180%;
  color: #bc78de;
}

div.jqcloud span.w7 {
  font-size: 170%;
  color: #cf3876;
}

div.jqcloud span.w6 {
  font-size: 160%;
  color: #1d84c6;
}

div.jqcloud span.w5 {
  font-size: 150%;
  color: #7a833c;
}

div.jqcloud span.w4 {
  font-size: 140%;
  color: #1d84c6;
}

div.jqcloud span.w3 {
  font-size: 130%;
  color: #e8a31c;
}

div.jqcloud span.w2 {
  font-size: 120%;
  color: #bc78de;
}

div.jqcloud span.w1 {
  font-size: 110%;
  color: #ed8166;
}

/* colors */

div.jqcloud {
  color: #09f;
}

div.jqcloud a {
  color: inherit;
}

div.jqcloud span {
  cursor: pointer;
}

div.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span {
  padding: 0;
}
#chart_title {
  position: absolute;
  width: 82px;
  text-align: center;
  left: 50%;
  margin-left: -41px;
  top: 50%;
  margin-top: -15px;
  height: auto;
  cursor: pointer;
  z-index: 99;
}

.switch-btn {
  width: 40px;
  height: 34px;
  display: inline-block;
  float: right;
  margin-top: 3px;
  cursor: pointer;
}

.switch-two {
  background: url('../../img/zxyp/jcj/common.png') no-repeat;
  background-size: 100% 100%;
}

.switch-three {
  background: url('../../img/zxyp/jcj/backup.png') no-repeat;
  background-size: 100% 100%;
}

#tag1 > span.span_list,
#tag2 > span.span_list {
  padding: 10px;
}
