.view-header {
  width: 95%;
  height: 50px;
  margin: 10px auto;
}

.view-body {
  width: 95%;
  height: calc(100% - 85px);
  margin: 10px auto;
}

.view-header-left {
  float: left;
  width: calc(100% - 160px);
  height: 50px;
  background: #adc3db;
}

.view-header-right {
  float: right;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  line-height: 42px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.view-header-right > span {
  margin-left: 10px;
}

input {
  height: 30px;
  text-indent: 15px;
}

#place {
  width: 50%;
  border-radius: 3px;
  margin: 10px 10px;
  border: 0;
}

#left-tree {
  margin-top: -10px;
  margin-left: 10px;
  height: 230px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  width: 26.75%;
  z-index: 9999;
}

.date-input {
  width: 20%;
  border-radius: 3px;
  margin: 10px 10px;
  border: 0;
}

.search-btn {
  cursor: pointer;
  margin-top: -5px;
}

.view-body > div {
  float: left;
  height: 100%;
}

.view-body > div > div {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0px 0px 8px #939cab;
  overflow: hidden;
}

.top_view {
  height: calc(100% / 3);
}

.down_view {
  height: calc(100% / 3 * 2 - 10px);
  margin-top: 10px;
}

.mid_view {
  height: calc(100% / 3 - 10px);
  margin-top: 10px;
}

.top_view_2 {
  height: calc(50% - 10px);
  margin-bottom: 10px;
}

.down_view_2 {
  height: 50%;
}

#video {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: fill;
}

#left_top > div {
  float: left;
  width: 50%;
  height: calc(100% / 4);
}

#left_top > div > div {
  height: 70%;
  width: 90%;
  border: 1px solid #dadfe3;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 7%;
  background-color: #f7f8fc;
}

.val {
  font-size: 18px;
}

.val,
.txt {
  text-align: center;
  line-height: 20px;
}

.txt,
.h {
  color: #646569;
}

.b {
  color: #3788b3 !important;
}

.g {
  color: #4ac396 !important;
}

.r {
  color: #d24e4a !important;
}

.p {
  color: #a470b2 !important;
}

.o {
  color: #ed7d33 !important;
}

.subTitle {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #888f95;
  border-bottom: 2px solid #ced7e0;
  /*font-weight: bold;*/
  color: #000;
  font-size: 16px;
}

.subTitle > img {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.group {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 100%;
}

.content {
  width: 100%;
  height: calc(100% - 42px);
  position: relative;
}

#jcjzsk .content > div,
#xhyj .content > div {
  width: 100%;
  height: calc(100% / 6);
  line-height: 32px;
  color: #75797c;
  box-sizing: border-box;
  border-bottom: 1px solid #ced7e0;
}

.pic,
.name {
  float: left;
  margin-left: 10px;
}

.pic2,
.name2,
.val2 {
  float: right;
  margin-right: 10px;
}

.val2 {
  color: #e45581;
}

.pic2 img {
  width: 16px;
  height: 16px;
}

.subTitle2 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #888f95;
  border-bottom: 2px solid #ced7e0;
  /*font-weight: bold;*/
  color: #000;
  font-size: 16px;
}

.l {
  float: left;
}

.y {
  float: right;
}

#dept,
#dept2,
#dept3,
#dept4 {
  width: 80px;
  background-color: #ccd8e6;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 200;
}

#dept2 {
  width: 90px;
}

#dept3,
#dept4 {
  width: 120px;
}

.rank {
  height: 35px;
  line-height: 35px;
}

.rankTitle {
  margin-left: 10px;
  color: #878e94;
  font-size: 16px;
  float: left;
}

.star {
  margin-right: 10px;
  float: right;
}

.rankList {
  width: 100%;
  height: calc(100% - 35px);
}

.rankList > div {
  width: 100%;
  height: 20%;
  line-height: 30px;
}

.rankPic {
  float: left;
  width: 24px;
  height: 24px;
}

.rankPic img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -2px;
}

.rankName {
  float: left;
  margin-left: 10px;
  color: #878e94;
}

.rankVal {
  float: right;
  margin-right: 10px;
  color: #ae7aab;
}

#tagscloud {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  color: #333;
  text-align: center;
  overflow: hidden;
}

.myd,
.dwqk {
  width: calc(50% - 5px);
  height: 100%;
  float: left;
}

.dwqk {
  margin-left: 10px;
}

#chart0,
#chart1,
#chart2,
#chart3,
#chart4,
#chart5,
#chart6 {
  width: 100%;
  height: 100%;
}

.tab2,
.tab3 {
  position: absolute;
  width: 200px;
  height: 26px;
  line-height: 26px;
  right: 0px;
  top: 7px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 99;
}

.tab2 > div,
.tab3 > div {
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: #fcfdff;
  color: #a3a3a3;
  border-right: 1px solid #eff0f2;
}

.tab2 .selected,
.tab3 .selected {
  color: white;
  background-color: #2390d3;
}

.group_child {
  float: left;
  width: calc(100% / 3 - 7px);
  margin-right: 10px;
  height: 100%;
}

.rect {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: calc(50% - 15px);
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #bec7d0;
  border-radius: 5px;
  background-color: #f7f8fc;
}

.rect > div {
  width: 100%;
  height: 50%;
  line-height: 40px;
}

.dort {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #1a86d1;
}

.lab {
  color: #5f646a;
}

.val3 {
  color: #1a86d1;
  float: right;
  margin-right: 5px;
}

/*词云*/
div.jqcloud {
  font-family: '微软雅黑', '宋体', sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 {
  font-size: 250%;
  color: #7a833c;
}

div.jqcloud span.w9 {
  font-size: 240%;
  color: #53609b;
}

div.jqcloud span.w8 {
  font-size: 230%;
  color: #bc78de;
}

div.jqcloud span.w7 {
  font-size: 220%;
  color: #cf3876;
}

div.jqcloud span.w6 {
  font-size: 210%;
  color: #1d84c6;
}

div.jqcloud span.w5 {
  font-size: 200%;
  color: #7a833c;
}

div.jqcloud span.w4 {
  font-size: 190%;
  color: #1d84c6;
}

div.jqcloud span.w3 {
  font-size: 180%;
  color: #e8a31c;
}

div.jqcloud span.w2 {
  font-size: 170%;
  color: #bc78de;
}

div.jqcloud span.w1 {
  font-size: 160%;
  color: #ed8166;
}

/* colors */

div.jqcloud {
  color: #09f;
}

div.jqcloud a {
  color: inherit;
}

div.jqcloud span {
  cursor: pointer;
}

div.jqcloud span:hover {
  color: #1a86d1;
  font-weight: bold;
}

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span {
  padding: 0;
}

#chart6 {
  height: calc(100% - 5px);
}

#chart6 > div {
  width: 100%;
  height: calc(20% - 6px);
  margin-top: 5px;
}

.progressBar {
  background-color: #b8c9d9;
  border-radius: 10px;
  width: 100%;
  height: 14px;
}

.percent {
  height: 100%;
  border-radius: 10px;
}

.color1 {
  background-color: #1e8fdb;
}

.color2 {
  background-color: #399bbe;
}

.color3 {
  background-color: #a770b3;
}

.color4 {
  background-color: #6463af;
}

.color5 {
  background-color: #ed7d31;
}

.newMenu {
  width: 240px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.newMenu > div {
  float: left;
  width: 70px;
  margin-left: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #f9fafc;
  color: #6e6f71;
  height: 24px;
  line-height: 24px;
  margin-top: 8px;
  cursor: pointer;
}

.newMenu .selected {
  background-color: #51a1ea;
  color: white;
}

.rank_list {
  width: 100%;
  height: calc(100% - 40px);
}

.rank_list > div {
  width: 100%;
  height: calc(100% / 9 - 4px);
  margin-bottom: 4px;
}

.list-view {
  background-color: #f7f8fc;
  box-shadow: 0px 0px 3px #939cab;
  cursor: pointer;
}

.rank_list .choose {
  display: block;
}

.ph {
  height: calc(100% / 9 * 3 - 2px) !important;
  display: none;
}

.ph > div {
  width: 100%;
  height: calc(100% / 3);
}

.rankLab {
  float: left;
  color: #6e6f71;
  line-height: 28px;
  margin-left: 10px;
}

.rankLab img {
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.rankImg {
  float: right;
  line-height: 24px;
  margin-right: 10px;
}

.lh {
  line-height: 28px;
}

.mid_title {
  text-align: center;
  color: #1c85c9;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}

.content2 {
  width: 100%;
  height: calc(100% - 23px);
  line-height: 22px;
}

.content2 > div {
  width: 100%;
  height: 25%;
}

.lh2 {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}

.lab2 {
  margin-left: 6px;
}

.val4,
.val5,
.val6,
.val7 {
  float: right;
  margin-right: 10px;
}

.world_cloud {
  width: 100%;
  height: calc(100% - 140px);
}

.myys {
  width: 100%;
  height: 110px;
  border-top: 1px solid #d8e2ec;
  box-sizing: border-box;
}

.search_title {
  text-align: center;
  margin-top: 15px;
}

.search_bar {
  width: 100%;
  height: 37px;
  line-height: 37px;
  margin-top: 15px;
}

.search_bar > div {
  float: left;
}

.text {
  width: calc(100% - 65px);
  height: 100%;
  position: relative;
}

.text img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#keywords {
  width: 100%;
  height: 36px;
  border: 0px;
  text-indent: 36px;
  color: #4c4c4c;
}

.check {
  width: 65px;
  height: 100%;
  color: #b5e9ff;
  background-color: #1887cf;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
  cursor: pointer;
}

.wtTab {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.wtTab img {
  margin-right: 5px;
}

.wtList {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.wtList > div {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  line-height: 30px !important;
  border-bottom: 1px solid #ced7e0;
}

.tt {
  color: #646569;
  margin-left: 10px;
}

.advise {
  color: #378bcb;
  cursor: pointer;
  margin-right: 10px;
}

.img {
  margin-right: 10px;
}

#chart6 {
  overflow: hidden;
}

.wtList::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.wtList::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.wtList::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

#chart6::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

#chart6::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

#chart6::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.t {
  color: #000;
}

#left_top {
  font-size: 16px;
}

select {
  color: #89a3c6;
  background-color: white !important;
  border: 1px solid rgb(169, 169, 169) !important;
}

.world_cloud > div {
  width: 95%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  margin: 0 auto;
}

.world_cloud > div > span:first-child {
  float: left;
}

.world_cloud > div > span:nth-child(2) {
  color: #2a9bd5;
  float: right;
  font-size: 18px;
  font-weight: 500;
}

.view-mid-three {
  float: left;
  width: calc((100% - 60px) / 3);
  height: 100%;
  margin: 0 10px;
}

.view-mid-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c4ceda;
  color: #000;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
}

.view-mid-body {
  width: 100%;
  height: calc(100% - 40px);
}

.view-mid-nav {
  position: relative;
  width: 200px;
  height: 20px;
  line-height: 20px;
  right: -26px;
  top: 5px;
  overflow: hidden;
  border-radius: 3px;
  z-index: 99;
  margin-bottom: 9px;
}

.view-mid-nav > div {
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: #fcfdff;
  color: #a3a3a3;
  border-right: 1px solid #eff0f2;
}

.nav-selected {
  background-color: #259be5 !important;
  color: #fff !important;
}

.num2 {
  width: 48px !important;
}

.zfList,
.tsList {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.zfList > div {
  width: 100%;
  height: calc(100% / 8);
  line-height: 40px;
  color: #494c51;
  box-sizing: border-box;
  border-bottom: 1px solid #c9d5e1;
}

.zfList > div div {
  float: left;
  width: calc(100% / 3 - 16px);
  text-align: center;
}

.tempImg {
  cursor: pointer;
}

.zfList::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.zfList::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.zfList::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

#sqdwfb {
  width: 100%;
  height: calc(100% - 30px);
}

.mid-bottom > div {
  float: left;
  width: calc(50% - 10px);
  height: 100%;
  margin: 0 auto;
}

.mid-row {
  width: 100%;
  height: 30px;
  color: #000;
  border-bottom: 1px solid #bccad7;
}

.mid-row > div {
  float: left;
  height: 100%;
  line-height: 30px;
}

.mid-row > div:first-child {
  width: 50px;
}

.mid-row > div:nth-child(2) {
  width: calc(100% - 150px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mid-row > div:nth-child(3) {
  width: 100px;
  color: #037dca;
  font-size: 16px;
}

.list-row {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #bcc9d9;
  cursor: pointer;
}

.list-row > div {
  width: 100%;
  height: 50%;
  line-height: 35px;
  color: #000;
}

.list-row > div:first-child {
  text-align: center;
  color: #000;
  font-size: 16px;
}

.list-row > div:nth-child(2) > span:first-child {
  float: left;
}

.list-row > div:nth-child(2) > span:nth-child(2) {
  float: right;
}

.strong-blue {
  color: #0084c3;
}

.strong-green {
  color: #00ae8f;
}

.view-mid-header > select {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 200;
}

.tsList::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.tsList::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.tsList::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.view-mid-header > select {
  font-size: 12px;
}

.more-back {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: #007ad2;
}

.mid-container {
  float: left;
  width: calc(100% - 36px);
  height: 100%;
}

.head-icon {
  float: left;
  width: 18px;
  height: 100%;
  color: #0f7cbd;
  font-size: 20px;
}

.head-icon > i {
  position: relative;
  display: block;
  width: 18px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
}

.mid-container > div {
  height: 100%;
}

.mid-container > div > div {
  margin: 5px 0;
  height: calc(100% - 10px);
  float: left;
  color: #4d4d4d;
}

.mid-container > div > div:nth-child(2n + 1) {
  margin-left: 20px;
}

.mid-container > div > div:nth-child(2n) {
  margin-left: 10px;
}

.mid-container > div > div > div {
  width: calc(100% - 10px);
  margin: 0 auto;
  border-bottom: 1px dashed #9b9db4;
}

.col-row1 {
  height: calc(100% - 110px);
  background-size: 100% 100%;
  border-radius: 5px;
  cursor: pointer;
}

.col-row23 {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-row4 {
  height: 60px;
  line-height: 20px;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

#yxal::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

#yxal::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

#yxal::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

#yxal {
  overflow-y: auto;
  overflow-x: hidden;
}

.row2 {
  width: calc(100% - 10px);
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #bec7d6;
}

.row2 > div {
  line-height: 25px;
  height: 25px;
}

.row2 > div:first-child {
  font-size: 14px;
  color: #4d4d4d;
}

.row2 > div:nth-child(2) {
  font-size: 12px;
  text-align: right;
  color: #646569;
}
