<!-- Created by handsome qiu -->
<link rel="stylesheet" href="../../css/znbg/ywfxbg.css">

<section class="left-section">
    <header>
        <input readonly placeholder="南京市公安局" id="deptName">
        <input readonly placeholder="起始时间" id="date1">
        <input placeholder="结束时间" id="date2">
        <input type="hidden" id="deptId">
    </header>
    <section>
        <fieldset>
            <header>
                <img src="../../img/znbg/checkbox.png" class="checkbox-div">
                <label>回访概述</label>
                <img src="../../img/znbg/hfgs_icon.png">
            </header>
            <article class="article-div">
                民意110各业务回访情况分析，包括短信、电话回访分析，群众回复分析，工单分析，回访满意度分析等。
            </article>
            <footer></footer>
        </fieldset>
        <fieldset>
            <header>
                <img src="../../img/znbg/checkbox.png" class="checkbox-div">
                <label>指数分析</label>
                <img src="../../img/znbg/zsfx_icon.png">
            </header>
            <article class="article-div">
                民意110各业务民意指数分析，包括民意指数趋势分析，各分类业务指数分析，及下滑指数预警。
            </article>
            <footer></footer>
        </fieldset>
        <fieldset>
            <header>
                <img src="../../img/znbg/checkbox.png" class="checkbox-div">
                <label>具体问题分析</label>
                <img src="../../img/znbg/jtwt_icon.png">
            </header>
            <article class="article-div">
                民意110各业务具体问题分析，包括各类业务群众诉求集中情况分析，不同业务类别具体问题分析。
            </article>
            <footer></footer>
        </fieldset>
        <fieldset>
            <header>
                <img src="../../img/znbg/checkbox.png" class="checkbox-div">
                <label>群众热词分析</label>
                <img src="../../img/znbg/qzrc_icon.png">
            </header>
            <article class="article-div">
                民意110各业务群众热词分析，包括各类业务群众回复热词分析，词频统计研判分析。
            </article>
            <footer></footer>
        </fieldset>
        <fieldset>
            <header>
                <img src="../../img/znbg/checkbox.png">
                <label>总结分析</label>
                <img src="../../img/znbg/zjfx_icon.png">
            </header>
            <article>
                <textarea placeholder="总结内容输入" class="textarea-div"></textarea>
            </article>
            <footer></footer>
        </fieldset>
        <footer>
            <div>
                <button class="report-generator">报告生成</button>
                <button class="report-preview">页面预览</button>
            </div>
        </footer>
    </section>
</section>

<section class="right-section">
    <header>
        <img src="../../img/znbg/doc.png">
        <span>已生成文档列表</span>
    </header>
    <section>
        <div class="tab-header">
            <div><img src="../../img/znbg/checkbox.png"></div>
            <div>文件名</div>
            <div>生成时间</div>
            <div>操作</div>
        </div>
        <div class="tab-body">
        </div>
    </section>
</section>

<aside class="setting-aside">
    <div>
        <header>
            <span>自定义设置</span>
        </header>
        <section>
            <ul class="setting-ul">
                <li>
                    <span>110接处警</span>
                    <div class="switch-off" type="jcj"></div>
                </li>
                <li>
                    <span>窗口服务</span>
                    <div class="switch-off" type="ck"></div>
                </li>
                <li>
                    <span>案件</span>
                    <div class="switch-off" type="aj"></div>
                </li>
                <li>
                    <span>交通管理</span>
                    <div class="switch-off" type="jtsg"></div>
                </li>
                <li>
                    <span>一率两度</span>
                    <div class="switch-off" type="ylld"></div>
                </li>
                <li>
                    <span>12345热线</span>
                    <div class="switch-off" type="rx"></div>
                </li>
            </ul>
        </section>
        <footer>
            <button class="setting-confirm">确定</button>
            <button class="setting-cancel">取消</button>
        </footer>
    </div>
    <button class="setting-cancel"></button>
</aside>
<button class="setting-btn"></button>
<aside class="pop-mask"></aside>

<aside class="left-tree">
</aside>