<!-- Created by handsome qiu -->
<link rel="stylesheet" href="../../css/znbg/ywfxbg.css" />

<section class="left-section">
  <header>
    <input readonly placeholder="南京市公安局" id="deptName" />
    <input readonly placeholder="起始时间" id="date1" />
    <input placeholder="结束时间" id="date2" />
    <input type="hidden" id="deptId" />
  </header>
  <section>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>回访概述</label>
        <img src="../../img/znbg/hfgs_icon.png" />
      </header>
      <article class="article-div">
        民意110各业务回访情况分析，包括短信、电话回访分析，群众回复分析，工单分析，回访满意度分析等。
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>指数分析</label>
        <img src="../../img/znbg/zsfx_icon.png" />
      </header>
      <article class="article-div">
        民意110各业务民意指数分析，包括民意指数趋势分析，各分类业务指数分析，及下滑指数预警。
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>具体问题分析</label>
        <img src="../../img/znbg/jtwt_icon.png" />
      </header>
      <article class="article-div">
        民意110各业务具体问题分析，包括各类业务群众诉求集中情况分析，不同业务类别具体问题分析。
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>群众热词分析</label>
        <img src="../../img/znbg/qzrc_icon.png" />
      </header>
      <article class="article-div">
        民意110各业务群众热词分析，包括各类业务群众回复热词分析，词频统计研判分析。
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" />
        <label>自定义分析</label>
        <img src="../../img/znbg/zjfx_icon.png" />
      </header>
      <article>
        <textarea placeholder="总结内容输入" class="textarea-div"></textarea>
      </article>
      <footer></footer>
    </fieldset>
    <footer>
      <button class="report-generator">报告生成</button>
    </footer>
  </section>
</section>

<section class="right-section">
  <header>
    <img src="../../img/znbg/doc.png" />
    <span>已生成文档列表</span>
  </header>
  <section>
    <div class="tab-header">
      <div><img src="../../img/znbg/checkbox.png" /></div>
      <div>文件名</div>
      <div>生成时间</div>
      <div>操作</div>
    </div>
    <div class="tab-body"></div>
  </section>
</section>

<aside class="setting-aside">
  <div>
    <header>
      <span>自定义设置</span>
    </header>
    <section>
      <ul class="setting-ul">
        <li>
          <span>110接处警</span>
          <div class="switch-off" type="jcj"></div>
        </li>
        <li>
          <span>窗口服务</span>
          <div class="switch-off" type="ck"></div>
        </li>
        <li>
          <span>案件</span>
          <div class="switch-off" type="aj"></div>
        </li>
        <li>
          <span>交通管理</span>
          <div class="switch-off" type="jtsg"></div>
        </li>
        <li>
          <span>一率两度</span>
          <div class="switch-off" type="ylld"></div>
        </li>
        <li>
          <span>12345热线</span>
          <div class="switch-off" type="rx"></div>
        </li>
      </ul>
    </section>
    <footer>
      <button class="setting-confirm">确定</button>
      <button class="setting-cancel">取消</button>
    </footer>
  </div>
  <button class="setting-cancel"></button>
</aside>
<button class="setting-btn"></button>
<aside class="pop-mask"></aside>

<aside class="left-tree"></aside>

<section id="pop-container1">
  <header>
    <div class="header-val"></div>
    <div>
      <div class="header-val"></div>
      <div class="header-val"></div>
    </div>
    <div>
      <i class="glyphicon glyphicon-remove" style="display: none;"></i>
    </div>
  </header>
  <section>
    <fieldset class="fieldset1">
      <section>
        <header>
          <span>一、回访情况分析</span>
        </header>
        <section>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon1.png) no-repeat;"
            ></div>
            <div>
              <span>发送访评短信</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon2.png) no-repeat;"
            ></div>
            <div>
              <div>
                <span>收到回复短信</span>
                <strong class="value1-1-1"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;满意回复</span>
                <strong class="value1-1-1" style="color: #ffbc01;"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;不满意回复</span>
                <strong class="value1-1-1" style="color: #ffbc01;"></strong>
              </div>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon3.png) no-repeat;"
            ></div>
            <div>
              <span>下发工单</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon4.png) no-repeat;"
            ></div>
            <div>
              <span>110接处警满意度</span>
              <strong class="value1-1-1" style="color: #399554;"></strong>
            </div>
          </div>
        </section>
      </section>
      <section>
        <header>
          <span>二、民意指数分析</span>
        </header>
        <div class="banner">（一）接处警满意度趋势分析</div>
        <div id="chart1-1"></div>
        <footer></footer>
      </section>
    </fieldset>
    <fieldset class="fieldset2">
      <section>
        <div class="banner">（二）接处警分类满意度分析</div>
        <div id="tab1" class="tab-container1"></div>
        <footer class="footer1"></footer>
      </section>
      <section>
        <header>
          <span>三、具体问题分析</span>
        </header>
        <div class="banner">（一）接处警群众诉求分析</div>
        <footer class="footer2"></footer>
        <div id="chart1-2"></div>
      </section>
    </fieldset>
    <fieldset class="fieldset3">
      <section>
        <footer></footer>
        <div id="chart1-3"></div>
      </section>
      <section>
        <div class="banner">
          （二）接处警具体问题单位分布情况
        </div>
        <div id="chart1-4"></div>
      </section>
    </fieldset>
    <fieldset class="fieldset4">
      <section>
        <header>
          <span>四、群众热词分析</span>
        </header>
        <footer></footer>
        <div id="chart1-5" class="jqcloud"></div>
      </section>
      <section>
        <header>
          <span>五、自定义分析</span>
        </header>
        <div class="zjfx-content"></div>
      </section>
    </fieldset>
  </section>
</section>

<section id="pop-container2">
  <header>
    <div class="header-val"></div>
    <div>
      <div class="header-val"></div>
      <div class="header-val"></div>
    </div>
    <div>
      <i class="glyphicon glyphicon-remove" style="display: none;"></i>
    </div>
  </header>
  <section>
    <fieldset class="fieldset1">
      <section>
        <header>
          <span>一、回访情况分析</span>
        </header>
        <section>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon1.png) no-repeat;"
            ></div>
            <div>
              <span>回访短信</span>
              <strong class="value2-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon2.png) no-repeat;"
            ></div>
            <div>
              <div>
                <span>回复短信</span>
                <strong class="value2-1"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;满意回复</span>
                <strong class="value2-1" style="color: #ffbc01;"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;不满意回复</span>
                <strong class="value2-1" style="color: #ffbc01;"></strong>
              </div>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon3.png) no-repeat;"
            ></div>
            <div>
              <span>下发工单</span>
              <strong class="value2-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon4.png) no-repeat;"
            ></div>
            <div>
              <span>窗口服务满意度</span>
              <strong class="value2-1" style="color: #399554;"></strong>
            </div>
          </div>
        </section>
      </section>
      <section>
        <header>
          <span>二、民意指数分析</span>
        </header>
        <div class="banner">（一）窗口服务满意度趋势分析</div>
        <div id="chart2-1"></div>
        <footer></footer>
      </section>
    </fieldset>
    <fieldset class="fieldset2">
      <div class="banner" style="height: 20px;line-height:20px;">
        （二）窗口服务满意度分类分析
      </div>
      <div id="tab2" class="tab-container1"></div>
      <header>
        <span>三、具体问题分析</span>
      </header>
      <div class="banner" style="height: 20px;line-height:20px;">
        （一）窗口服务总体情况分析
      </div>
      <article class="article1"></article>
      <chart id="chart2-2"></chart>
      <article class="article2"></article>
      <chart id="chart2-3"></chart>
    </fieldset>
    <fieldset class="fieldset3">
      <div class="banner" style="height: 30px;line-height: 30px;">
        （二）窗口服务具体问题各单位情况
      </div>
      <chart id="chart2-4"></chart>
      <div class="banner" style="height: 30px;line-height: 30px;">
        <span>（三）窗口服务各分类业务办理情况</span>
        <img src="../../img/znbg/icon0.png" />
      </div>
      <div class="banner2">
        <img src="../../img/znbg/icon1.png" />
        <span>户籍业务</span>
      </div>
      <article class="article"></article>
      <div class="banner2">
        <img src="../../img/znbg/icon2.png" />
        <span>身份证业务</span>
      </div>
      <article class="article"></article>
      <div class="banner2">
        <img src="../../img/znbg/icon3.png" />
        <span>出入境业务</span>
      </div>
      <article class="article"></article>
      <div class="banner2">
        <img src="../../img/znbg/icon3.png" />
        <span>车辆管理业务</span>
      </div>
      <article class="article"></article>
    </fieldset>
    <fieldset class="fieldset4">
      <div class="banner2">
        <img src="../../img/znbg/icon4.png" />
        <span>驾证管理业务</span>
      </div>
      <article class="article"></article>
      <div class="banner2">
        <img src="../../img/znbg/icon4.png" />
        <span>监管业务</span>
      </div>
      <article class="article"></article>
      <header>
        <span>四、群众热词分析</span>
      </header>
      <article class="article1"></article>
      <chart id="chart2-5"></chart>
      <header>
        <span>五、总结分析</span>
      </header>
      <article class="article2"></article>
    </fieldset>
  </section>
</section>

<section id="pop-container3">
  <header>
    <div class="header-val"></div>
    <div>
      <div class="header-val"></div>
      <div class="header-val"></div>
    </div>
    <div>
      <i class="glyphicon glyphicon-remove" style="display: none;"></i>
    </div>
  </header>
  <section>
    <fieldset class="fieldset1">
      <section>
        <header>
          <span>一、回访情况分析</span>
        </header>
        <section>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon6.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>回访案件</span>
              <strong class="value3-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon1.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>发送访评短信</span>
              <strong class="value3-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon2.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <div>
                <span>收到回复短信</span>
                <strong class="value3-1"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;规范评价</span>
                <strong class="value3-1" style="color: #ffbc01;"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;不规范评价</span>
                <strong class="value3-1" style="color: #ffbc01;"></strong>
              </div>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon3.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>下发工单</span>
              <strong class="value3-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon5.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>案件办理评价指数</span>
              <strong class="value3-1" style="color: #399554;"></strong>
            </div>
          </div>
        </section>
      </section>
      <section>
        <header>
          <span>二、民意指数分析</span>
        </header>
        <div class="banner">（一）案件办理评价指数趋势分析</div>
        <div id="chart3-1"></div>
        <footer class="footer1"></footer>
      </section>
    </fieldset>
    <fieldset class="fieldset2">
      <div class="banner">（二）案件办理评价指数分类分析</div>
      <tab id="chart3-2" class="tab-container3"> </tab>
      <footer class="footer1"></footer>
      <header>
        <span>三、具体问题分析</span>
      </header>
      <footer class="footer2"></footer>
    </fieldset>
    <fieldset class="fieldset3">
      <chart id="chart3-3"></chart>
      <article class="article1"></article>
      <chart id="chart3-4"></chart>
      <div class="banner" style="height: 29px;line-height: 29px;">
        （二）伤害类案件办理情况分析
      </div>
      <article class="article2"></article>
      <div class="banner" style="height: 29px;line-height: 29px;">
        （三）侵财类案件办理情况分析
      </div>
      <article class="article3"></article>
    </fieldset>
    <fieldset class="fieldset4">
      <div class="banner" style="height: 30px;line-height: 30px;">
        （四）案件办理具体问题各单位情况
      </div>
      <chart id="chart3-5"></chart>
      <header>
        <span>四、群众热词分析</span>
      </header>
      <article class="article1"></article>
      <chart id="chart3-6"></chart>
      <header>
        <span>五、总结分析</span>
      </header>
      <article class="article2"></article>
    </fieldset>
  </section>
</section>

<section id="pop-container4">
  <header>
    <div class="header-val"></div>
    <div>
      <div class="header-val"></div>
      <div class="header-val"></div>
    </div>
    <div>
      <i class="glyphicon glyphicon-remove" style="display: none;"></i>
    </div>
  </header>
  <section>
    <fieldset class="fieldset1">
      <section>
        <header>
          <span>一、回访情况分析</span>
        </header>
        <section>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon6.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>回访事故</span>
              <strong class="value4-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon1.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>发送访评短信</span>
              <strong class="value4-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon2.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <div>
                <span>收到回复短信</span>
                <strong class="value4-1"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;规范评价</span>
                <strong class="value4-1" style="color: #ffbc01;"></strong>
              </div>
              <div>
                <span>•&nbsp;&nbsp;不规范评价</span>
                <strong class="value4-1" style="color: #ffbc01;"></strong>
              </div>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon3.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>下发工单</span>
              <strong class="value4-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon5.png) no-repeat center center;background-size: 80% 80%;"
            ></div>
            <div>
              <span>事故处理评价指数</span>
              <strong class="value4-1" style="color: #399554;"></strong>
            </div>
          </div>
        </section>
      </section>
      <section>
        <header>
          <span>二、民意指数分析</span>
        </header>
        <div class="banner">（一）交通事故处理评价指数趋势分析</div>
        <div id="chart4-1"></div>
        <footer></footer>
      </section>
    </fieldset>
    <fieldset class="fieldset2">
      <section>
        <div class="banner">（二）交通事故处理评价指数分类分析</div>
        <div id="chart4-2"></div>
        <footer class="footer1"></footer>
      </section>
      <section>
        <header>
          <span>三、具体问题分析</span>
        </header>
        <div class="banner">（一）交通事故处理总体情况分析</div>
        <footer class="footer2"></footer>
        <div id="chart4-3"></div>
      </section>
    </fieldset>
    <fieldset class="fieldset3">
      <section>
        <footer></footer>
        <div id="chart4-4"></div>
      </section>
      <section>
        <div class="banner">
          （二）交通事故处理具体问题各单位情况
        </div>
        <div id="chart4-5"></div>
      </section>
    </fieldset>
    <fieldset class="fieldset4">
      <section>
        <header>
          <span>四、群众热词分析</span>
        </header>
        <footer></footer>
        <div id="chart4-6" class="jqcloud"></div>
      </section>
      <section>
        <header>
          <span>五、自定义分析</span>
        </header>
        <div class="zjfx-content"></div>
      </section>
    </fieldset>
  </section>
</section>

<section id="pop-container6">
  <header>
    <div class="header-val"></div>
    <div>
      <div class="header-val"></div>
      <div class="header-val"></div>
    </div>
    <div>
      <i class="glyphicon glyphicon-remove" style="display: none;"></i>
    </div>
  </header>
  <section>
    <fieldset class="fieldset1">
      <section>
        <header>
          <span>一、回访情况分析</span>
        </header>
        <section>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon7.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>12345热线工单</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon8.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>微信渠道</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon9.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>电话渠道</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon10.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>APP渠道</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon1.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>短信渠道</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon11.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>省级工单</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon12.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>其他渠道</span>
              <strong class="value1-1-1"></strong>
            </div>
          </div>
          <div>
            <div
              style="background: url(../../img/znbg/preview/icon13.png) no-repeat;background-size: 90% 90%;"
            ></div>
            <div>
              <span>综合满意率</span>
              <strong class="value1-1-1" style="color: #278841;"></strong>
            </div>
          </div>
        </section>
      </section>
      <section>
        <header>
          <span>二、民意指数分析</span>
        </header>
        <div class="banner">（一）12345热线综合满意率趋势分析</div>
        <div id="chart6-1"></div>
        <footer></footer>
      </section>
    </fieldset>
    <fieldset class="fieldset2">
      <section>
        <div class="banner">（二）12345热线分类满意率分析</div>
        <div id="tab6" class="tab-container1"></div>
        <footer class="footer1"></footer>
      </section>
      <section>
        <header>
          <span>三、具体问题分析</span>
        </header>
        <div class="banner" style="height: 20px;line-height:20px;">
          （一）12345热线群众诉求分析
        </div>
        <footer class="footer2"></footer>
        <div id="chart6-2"></div>
      </section>
    </fieldset>
    <fieldset class="fieldset3">
      <section>
        <footer></footer>
        <div id="chart6-3"></div>
      </section>
      <section>
        <div class="banner">
          （二）12345热线工单办理具体问题各单位情况
        </div>
        <div id="chart6-4"></div>
      </section>
    </fieldset>
    <fieldset class="fieldset4">
      <section>
        <header>
          <span>四、群众热词分析</span>
        </header>
        <footer></footer>
        <div id="chart6-5" class="jqcloud"></div>
      </section>
      <section>
        <header>
          <span>五、自定义分析</span>
        </header>
        <div class="zjfx-content"></div>
      </section>
    </fieldset>
  </section>
</section>
<div class="hidden-chart"></div>
