<link rel="stylesheet" href="../../css/znbg/zhfxbg.css">

<section class="left-section">
  <header>
    <input readonly placeholder="南京市公安局" id="deptName" />
    <input readonly placeholder="起始时间" id="date1" />
    <input placeholder="结束时间" id="date2" />
    <input type="hidden" id="deptId" />
  </header>
  <section>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>回访概述</label>
        <img src="../../img/znbg/hfgs_icon.png" />
      </header>
      <article class="article-div">
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>指数分析</label>
        <img src="../../img/znbg/zsfx_icon.png" />
      </header>
      <article class="article-div">
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>具体问题分析</label>
        <img src="../../img/znbg/jtwt_icon.png" />
      </header>
      <article class="article-div">
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>群众热词分析</label>
        <img src="../../img/znbg/qzrc_icon.png" />
      </header>
      <article class="article-div">
      </article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" />
        <label>自定义分析</label>
        <img src="../../img/znbg/zjfx_icon.png" />
      </header>
      <article>
        <textarea placeholder="总结内容输入" class="textarea-div"></textarea>
      </article>
      <footer></footer>
    </fieldset>
    <footer>
      <button class="report-generator">报告生成</button>
    </footer>
  </section>
</section>

<section class="right-section">
  <header>
    <img src="../../img/znbg/doc.png" />
    <span>已生成文档列表</span>
  </header>
  <section>
    <div class="tab-header">
      <div><img src="../../img/znbg/checkbox.png" /></div>
      <div>文件名</div>
      <div>生成时间</div>
      <div>操作</div>
    </div>
    <div class="tab-body"></div>
  </section>
</section>

<aside class="pop-mask"></aside>

<aside class="left-tree"></aside>

<div class="hidden-chart"></div>