<link rel="stylesheet" href="../../css/znbg/zhfxbg.css" />

<section class="left-section">
  <header>
    <input class="form-control" readonly placeholder="南京市公安局" id="dept-name" />
    <input class="form-control" readonly placeholder="起始时间" id="date1" />
    <input class="form-control" placeholder="结束时间" id="date2" />
    <input type="hidden" id="dept-id" />
  </header>
  <section>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>一率两度监测回访情况</label>
        <img src="../../img/znbg/hfgs_icon.png" />
      </header>
      <article class="article-div"></article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>110接处警监测数据情况</label>
        <img src="../../img/znbg/zsfx_icon.png" />
      </header>
      <article class="article-div"></article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>窗口服务监测数据情况</label>
        <img src="../../img/znbg/jtwt_icon.png" />
      </header>
      <article class="article-div"></article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>案件及交通事故监测数据情况</label>
        <img src="../../img/znbg/qzrc_icon.png" />
      </header>
      <article class="article-div"></article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" class="checkbox-div" />
        <label>12345热线监测数据情况</label>
        <img src="../../img/znbg/qzrc_icon.png" />
      </header>
      <article class="article-div"></article>
      <footer></footer>
    </fieldset>
    <fieldset>
      <header>
        <img src="../../img/znbg/checkbox.png" />
        <label>自定义总结</label>
        <img src="../../img/znbg/zjfx_icon.png" />
      </header>
      <article>
        <textarea placeholder="总结内容输入" class="textarea-div"></textarea>
      </article>
      <footer></footer>
    </fieldset>
    <footer>
      <button class="report-generator">报告生成</button>
    </footer>
  </section>
</section>

<section class="right-section">
  <header>
    <img src="../../img/znbg/doc.png" />
    <span>已生成文档列表</span>
  </header>
  <section>
    <div class="tab-header">
      <div>文件名</div>
      <div>生成时间</div>
      <div>操作</div>
    </div>
    <div class="tab-body"></div>
  </section>
</section>

<aside class="pop-mask"></aside>

<aside id="left-tree"></aside>

<div class="hidden-chart"></div>

<section id="pop-container">
  <header>
    <div class="header-val"></div>
    <div>
      <div class="header-val"></div>
      <div class="header-val"></div>
    </div>
    <div>
      <i class="glyphicon glyphicon-remove" style="display: none;"></i>
    </div>
  </header>
  <section>
    <fieldset class="fieldset1">
      <header>
        <span>一、民意跟踪监测概况</span>
      </header>
      <section>
        <div>
          <div></div>
          <div>发送访评短信</div>
          <div class="cell-val"></div>
        </div>
        <div>
          <div></div>
          <div>电话回访群众</div>
          <div class="cell-val"></div>
        </div>
        <div>
          <div></div>
          <div>征集不满意事项</div>
          <div class="cell-val"></div>
        </div>
        <div>
          <div></div>
          <div>整改率</div>
          <div class="cell-val" style="color:#399554;"></div>
        </div>
      </section>
      <header style="width: 210px;">
        <span>二、“一率两度”监测回访</span>
      </header>
      <article>
        2018上半年，警务效能监察支队共组织拨打200个有效回访电话，对xx分局xx个所队调查情况如下：
      </article>
      <div class="banner">（一）交通事故处理评价指数趋势分析</div>
      <chart id="chart1"></chart>
    </fieldset>
    <fieldset class="fieldset2">
      <div class="banner">（二）公安队伍满意度各单位情况</div>
      <chart id="chart2"></chart>
      <div class="banner">（三）社区民警熟悉率各单位情况</div>
      <chart id="chart3"></chart>
      <header>
        <span>三、110接处警监测回访</span>
      </header>
      <article></article>
    </fieldset>
    <fieldset class="fieldset3">
      <tab id="tab1"></tab>
      <header>
        <span>四、窗口服务监测回访</span>
      </header>
      <article></article>
      <tab id="tab2"></tab>
      <header style="width: 240px;">
        <span>五、案件及交通事故监测回访</span>
      </header>
      <article></article>
      <div class="banner">
        （一）在案件办理方面
      </div>
      <chart id="chart4"></chart>
    </fieldset>
    <fieldset class="fieldset4">
      <article></article>
      <div class="banner">
        （二）在交通事故处理方面
      </div>
      <chart id="chart5"></chart>
      <article></article>
      <header>
        <span>六、12345监测数据情况</span>
      </header>
      <article></article>
      <chart id="chart6"></chart>
      <header>
        <span>七、自定义分析</span>
      </header>
      <article></article>
    </fieldset>
  </section>
</section>
