<div class="bmList">
    <div>
        <div class="bmTitle">
            <div class="bt" id="bmTitle1"></div>

            <div class="bmInfo">
                <span>本期满意度:</span><span id="myd11"></span>

                <span>同比</span><span id="tb11"></span><img id="tb1Img" src="" />

                <span>环比</span><span id="hb11"></span><img id="hb1Img" src="" />
            </div>
        </div>

        <div class="chartPannel2">
            <div style="width: calc(50% - 2px);">
                <div class="chartTitle"></div>

                <div class="year_month">
                    <div class="yearMomth1" id="half-year">半年</div>

                    <div class="yearMomth1" style="border: 0;" id="one-year">一年</div>
                </div>

                <div id="line11"></div>
            </div>

            <div style="margin-left: 2px;width: 50%;">
                <div class="chartTitle"></div>

                <div class="year_month">
                    <div class="yearMomth2" id="half-year2">半年</div>

                    <div class="yearMomth2" style="border: 0;" id="one-year2">一年</div>
                </div>

                <div id="line22"></div>
            </div>
        </div>
    </div>

    <div style="height: calc(50% - 20px);">
        <div class="chartPannel2" style="height: 100%;width: 100%;">
            <div style="margin-left: 2px;width: 100%;">
                <div class="chartTitle"></div>

                <div class="newTab1">
                    <div class="newtab">分局TOP5</div>

                    <div class="newtab" style="border: 0;">所队TOP10</div>
                </div>

                <div class="newTab2">
                    <!--<div>全局</div>-->

                    <div class="newtab">一单元</div>

                    <div class="newtab">二单元</div>

                    <div class="newtab">三单元</div>

                    <div class="newtab" style="border: 0;">其他</div>
                </div>

                <div id="bar11"></div>
            </div>
        </div>
    </div>
</div>