<div class="bmList">
    <div>
        <div class="bmTitle">
            <div class="bt" id="bmTitle1">窗口服务满意度分析</div>

            <div class="bmInfo">
                <span>本期满意度:</span><span id="myd11"></span>

                <span>同比</span><span id="tb11"></span><img id="tb1Img" src="" />

                <span>环比</span><span id="hb11"></span><img id="hb1Img" src="" />
            </div>
        </div>

        <div class="chartPannel2">
            <div style="width: calc(50% - 2px);">
                <div class="chartTitle">重点类型窗口服务满意度分析</div>

                <div id="bar11"></div>
            </div>

            <div style="margin-left: 2px;width: 50%;">
                <div class="chartTitle">重点类型窗口服务满意度分析</div>

                <div class="year_month" style="right: 220px;top: 50px;">
                    <div class="yearMomth1 selected" id="half-year">半年</div>

                    <div class="yearMomth1" style="border: 0;" id="one-year">一年</div>
                </div>

                <select class="select_pannel3"></select>

                <div id="line22"></div>
            </div>
        </div>
    </div>

    <div style="height: calc(50% - 20px);">
        <div class="chartPannel2" style="height: 100%;width: 100%;">
            <div style="margin-left: 2px;width: 100%;">
                <div class="chartTitle">窗口服务不满意工单情况</div>

                <div id="bar22"></div>
            </div>
        </div>
    </div>
</div>