<link rel="stylesheet" type="text/css" href="../../css/myhc/detail.css">

<div class="window2">
    <div class="window2-header">
        <div class="header-title">业务详情</div>
        <div class="close-btn">x</div>
    </div>
    <div class="window2-body">
        <table class="tab-container">
        </table>
    </div>
</div>

<div class="view">
    <div>
        <div class="back">
            <div id="back">
                <img src="../../img/myhc/back.png"/>

                <span>返回</span>
            </div>
        </div>

        <div class="list">
            <div>
                <div class="title">
                    <div class="logo2">
                        <img src="../../img/myhc/box.png"/> <span>人员基本信息</span>
                    </div>

                    <div class="splitLine"></div>
                </div>

                <div class="userInfo">
                    <div class="img">
                        <img id="img" src="../../img/myhc/head.png"/>
                    </div>

                    <div class="info">
                        <div>
                            <div class="one">
                                <span class="line"></span>

                                <span>姓名：</span>

                                <span id="name"></span>
                            </div>

                            <div class="one">
                                <span class="line"></span>

                                <span>性别：</span>

                                <span id="sex"></span>
                            </div>

                            <div class="one">
                                <span class="line"></span>

                                <span>出生年月：</span>

                                <span id="birth"></span>
                            </div>
                        </div>

                        <div>
                            <div class="one">
                                <span class="line"></span>

                                <span>电话：</span>

                                <span id="tel"></span>
                            </div>

                            <div class="two">
                                <span class="line"></span>

                                <span>身份证号：</span>

                                <span id="id">****</span>
                            </div>
                        </div>

                        <div></div>
                    </div>
                </div>

                <div class="title">
                    <div class="logo3">
                        <img src="../../img/myhc/box.png"/> <span>评价概况</span>
                    </div>

                    <div class="splitLine2"></div>
                </div>

                <div class="info2">
                    <div>
                        <div class="three">
                            <span class="line"></span>

                            <span>报警记录：</span>

                            <span id="bjjl"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>接处警满意度：</span>

                            <span id="hfmyd" class="blue"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>窗口服务工单数：</span>

                            <span id="gds2"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>窗口服务满意：</span>

                            <span id="ckfu" class="red"></span>
                        </div>
                    </div>

                    <div>
                        <div class="three">
                            <span class="line"></span>

                            <span>案件信息记录：</span>

                            <span id="ajxx"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>案件信息满意度：</span>

                            <span id="ajxxmyd" class="blue"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>交通事故记录：</span>

                            <span id="jtsg"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>交通事故满意度：</span>

                            <span id="jtsgmyd" class="red"></span>
                        </div>
                    </div>

                    <div>
                        <div class="three">
                            <span class="line"></span>

                            <span>12345工单数：</span>

                            <span id="gds1"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>12345工单满意度：</span>

                            <span id="gds1myd" class="blue"></span>
                        </div>

                        <div class="three">
                            <span class="line"></span>

                            <span>是否参加民意调研：</span>

                            <span id="mydy"></span>
                        </div>
                    </div>
                </div>

                <div class="tab_pannel"></div>

                <div class="grid"></div>
            </div>
        </div>
    </div>
</div>