<link rel="stylesheet" type="text/css" href="../../css/myhc/dwjx.css">

<div class="view">
    <div class="title">请选择分析模式</div>

    <div class="dort"></div>

    <div class="img">
        <div>
            <img style="margin-left: 0px;" id="sqxz" src="../../img/myhc/model_one.png" />

            <img id="ywgk" src="../../img/myhc/model_two.png" />

            <img id="jtwt" src="../../img/myhc/model_three.png" />

            <img id="dwjs" src="../../img/myhc/model_four.png" />

            <div style="margin-left: 0px;" class="img_info">群众诉求流向了哪里</div>

            <div class="img_info">公众视线聚焦在哪里</div>

            <div class="img_info">具体问题出现在哪里</div>

            <div class="img_info">队伍管理的抓手在哪里</div>
        </div>
    </div>
</div>