<div class="bmList">
    <div>
        <div class="bmTitle">
            <div class="bt" id="bmTitle1">110接处警满意度分析</div>

            <div class="bmInfo">
                <span>本期满意度:</span><span id="myd11"></span>

                <span>同比</span><span id="tb11"></span><img id="tb1Img" src="" />

                <span>环比</span><span id="hb11"></span><img id="hb1Img" src="" />
            </div>
        </div>

        <div class="chartPannel2">
            <div style="width: 30%;">
                <div class="chartTitle">110接处警满意度</div>

                <div class="tool_tip2">
                    <div class="b2">
                        <div></div>

                        <div></div>

                        <div></div>
                    </div>

                    <div class="g2">
                        <div></div>
                    </div>

                    <div class="p2">
                        <div></div>
                    </div>
                </div>

                <div id="pie11"></div>
            </div>

            <div style="margin-left: 2px;">
                <div class="chartTitle">110接处警满意度走势</div>

                <div class="year_month">
                    <div class="yearMomth1" class="selected" id="half-year">半年</div>

                    <div class="yearMomth1" style="border: 0;" id="one-year">一年</div>
                </div>

                <div id="line11"></div>
            </div>

            <div style="margin-left: 2px;">
                <div class="chartTitle">110接处警不满意工单情况</div>

                <div id="bar11"></div>
            </div>
        </div>
    </div>

    <div>
        <div class="bmTitle">
            <div class="bt" id="bmTitle2">窗口服务满意度分析</div>

            <div class="bmInfo">
                <span>本期满意度:</span><span id="myd22"></span>

                <span>同比</span><span id="tb22"></span><img id="tb2Img" src="" />

                <span>环比</span><span id="hb22"></span><img id="hb2Img" src="" />
            </div>
        </div>

        <div class="chartPannel2">
            <div style="width: 30%;">
                <div class="chartTitle">重点类型窗口服务满意度</div>

                <div id="pie22"></div>
            </div>

            <div style="margin-left: 2px;">
                <div class="chartTitle">窗口服务满意度走势</div>

                <div class="year_month2">
                    <div class="yearMomth2 selected" id="half-year2">半年</div>

                    <div class="yearMomth2" style="border: 0;" id="one-year2">一年</div>
                </div>

                <select class="select_pannel3"></select>

                <div id="line22"></div>
            </div>

            <div style="margin-left: 2px;">
                <div class="chartTitle">窗口服务不满意工单情况</div>

                <div id="bar22"></div>
            </div>
        </div>
    </div>

    <div>
        <div class="bmTitle">
            <div class="bt" id="bmTitle3">交通事故处理评价指数分析</div>

            <div class="bmInfo">
                <span>本期满意度:</span><span id="myd33"></span>

                <span>同比</span><span id="tb33"></span><img id="tb3Img" src="" />

                <span>环比</span><span id="hb33"></span><img id="hb3Img" src="" />
            </div>
        </div>

        <div class="chartPannel2">
            <div style="width: 30%;">
                <div class="chartTitle">重点类型交通事故处理评价指数</div>

                <div id="pie33">
                    <!--<div id="pie44"></div>

                    <div id="pie55"></div>

                    <div class="info11">
                        <div>简易事故处理评价指数</div>
                        <div><span class="w">同比</span><span id="tb111"></span></div>
                        <div><span class="w">环比</span><span id="hb111"></span></div>
                    </div>

                    <div class="info22">
                        <div>一般事故处理评价指数</div>
                        <div><span class="w">同比</span><span id="tb222"></span></div>
                        <div><span class="w">环比</span><span id="hb222"></span></div>
                    </div>-->
                </div>
            </div>

            <div style="margin-left: 2px;">
                <div class="chartTitle">交通事故处理评价指数走势</div>

                <div class="year_month3">
                    <div class="yearMomth3 selected" id="half-year3">半年</div>

                    <div class="yearMomth3" style="border: 0;" id="one-year3">一年</div>
                </div>

                <select class="select_pannel4"></select>

                <div id="line33"></div>
            </div>

            <div style="margin-left: 2px;">
                <div class="chartTitle">交通事故处理不满意工单情况</div>

                <div id="bar33"></div>
            </div>
        </div>
    </div>
</div>