<link rel="stylesheet" type="text/css" href="../../css/myhc/myjz.css" />
<link rel="stylesheet" type="text/css" href="../../css/myhc/bmList.css" />

<div class="leftPannel">
  <div class="content">
    <div class="search_pannel">
      <select id="mold">
        <option value="1">&nbsp;&nbsp;&nbsp;市局/分局</option>

        <option value="2">&nbsp;&nbsp;&nbsp;部门</option>
      </select>

      <input type="text" id="place" placeholder="市局/分局" readonly />
      <input type="hidden" id="placeCode" />
      <input type="hidden" id="tempID" />
      <input type="hidden" id="tempTYPE" />

      <input
        class="form-control"
        id="date1"
        placeholder="起始时间"
        type="text"
        value=""
        size="16"
        readonly
      />

      <input
        class="form-control"
        id="date2"
        placeholder="结束时间"
        type="text"
        value=""
        size="16"
        readonly
      />

      <img id="check" src="../../img/myhc/check.png" />

      <!--<img class="search" src="../../img/myhc/check.png" />-->
    </div>

    <div id="left-tree"></div>

    <div class="list"></div>

    <div class="list2"></div>

    <div class="window"></div>
  </div>
</div>

<div id="gotoMap"></div>

<div class="rightPannel"></div>
