<link rel="stylesheet" type="text/css" href="../../css/myhc/myys.css">

<div class="view">
    <div>
        <div class="title">
            <img src="../../img/myhc/big_search.png" />
        </div>

        <div class="search_bar">
            <div class="text">
                <img src="../../img/myhc/check.png" />

                <input type="text" id="keywords" placeholder="请输入要搜索内容" />
            </div>

            <div class="check">搜 索</div>
        </div>

        <!--<div class="hotWord" style="margin-top: 10px;">-->
            <!--<div class="lab">热词：</div>-->
        <!--</div>-->

        <div class="hotSearch">
            <div class="hot_title">
                <div class="fire">
                    <img src="../../img/myhc/fire.png" /> <span>热搜</span>
                </div>

                <div class="refresh">
                    <span>换一换</span> <img src="../../img/myhc/refresh.png" />
                </div>
            </div>

            <div class="list"></div>
        </div>
    </div>
</div>