<link rel="stylesheet" type="text/css" href="../../css/myhc/myys.css" />

<div class="view">
  <div>
    <div class="title">
      <img src="../../img/myhc/big_search.png" />
    </div>

    <div class="search_bar">
      <div class="switch-btn">
        <div class="selected">群众档案</div>
        <div>民意诉求</div>
      </div>
      <div class="search-input">
        <section></section>
        <div class="text">
          <img src="../../img/myhc/check.png" />
          <input type="text" id="keywords" placeholder="请输入要搜索内容" />
        </div>
        <div class="check">搜 索</div>
      </div>
    </div>

    <div class="hotSearch">
      <div class="hot_title">
        <div class="fire">
          <img src="../../img/myhc/fire.png" /> <span>热搜</span>
        </div>
      </div>

      <div class="list"></div>
    </div>
  </div>
</div>
