<link rel="stylesheet" type="text/css" href="../../css/myhc/myzd.css" />
<main class="main-container">
  <header>
    <div>
      <div>
        <span>人员总数&nbsp;&nbsp;</span>
        <strong class="strong-left">
          <span class="span-val"></span>
          <span>&nbsp;人</span>
        </strong>
      </div>
    </div>
    <div>民意阵地</div>
    <div>
      <div>意见总量&nbsp;&nbsp;</span>
        <strong class="strong-right">
          <span class="span-val"></span>
          <span>&nbsp;件</span>
        </strong>
      </div>
    </div>
  </header>
  <section>
    <div>
      <div>专家学者</div>
      <div class="zjxz"></div>
    </div>
    <div>
      <div>政协委员</div>
      <div class="zxwy"></div>
    </div>
    <div>
      <div>党代表</div>
      <div class="ddb"></div>
    </div>
    <div>
      <div>作风建设监督员</div>
      <div class="zfjsdy"></div>
    </div>
    <div>
      <div>人大代表</div>
      <div class="rddb"></div>
    </div>
    <div>
      <div>媒体记者</div>
      <div class="mtjz"></div>
    </div>
    <div>
      <div>低保群体</div>
      <div class="dbqt"></div>
    </div>
    <div>
      <div>优质评访对象</div>
      <div class="yzpfdx"></div>
    </div>
    <img src="../../img/myhc/myzd/4.png" />
  </section>
</main>
