<div class="map-container">
    <link rel="stylesheet" type="text/css" href="../../css/myhc/map/leaflet.css">
    <link rel="stylesheet" type="text/css" href="../../css/myhc/map/iclient9-leaflet.css">
    <link rel="stylesheet" href="../../css/myhc/myzs.css">

    <div id="mainMap"></div>

    <div class="left-panel">
        <div class="search-panel">
            <div class="search-up-panel">
                <input class="search-input" placeholder="姓名 电话 标签" type="text">
                <span class="search-btn"></span>
            </div>
            <div class="search-down-panel">
                <input type="text" id="place" placeholder="市局/分局" class="search-input" readonly/>
                <input type="hidden" id="placeCode"/>
                <input type="hidden" id="tempID"/>
                <input type="hidden" id="tempTYPE"/>
                <input id="date1" class="search-input" readonly/>
                <input id="date2" class="search-input" readonly/>
                <div id="left-tree"></div>
            </div>
        </div>
        <div class="toolbar-panel">
            <div class="search-reset"><span>复位</span></div>
            <div class="search-clear"><span>清除</span></div>
            <div>
                <select class="search-gj">
                    <option value="0">工具</option>
                    <option value="1">矩形</option>
                    <option value="2">圆形</option>
                    <option value="3">多边形</option>
                </select>
            </div>
            <div>
                <select class="search-yw">
                    <option value="0">业务</option>
                    <option value="1">接处警</option>
                    <option value="2">案件</option>
                    <option value="3">12345</option>
                    <option value="4">窗口</option>
                </select>
            </div>
        </div>
    </div>
    <div class="data-panel">
        <div class="data-panel-header">
            <img src="../../img/myhc/myzs/cube.png">
            <span>区域群众诉求</span>
            <i class="glyphicon glyphicon-remove"></i>
        </div>
        <div class="data-panel-search">
        </div>
        <div class="data-panel-tab">
        </div>
        <div class="data-panel-page">
            <div class="analysis-btn">热点问题分析</div>
            <div class="nav-container">
            </div>
        </div>
    </div>
    <div class="toolbar-panel2">
        <div>户政服务</div>
        <div>出入境服务</div>
        <div>车驾管服务</div>
        <div>全科窗口</div>
    </div>
    <div class="pop-rdwtfx">
    </div>
    <div class="search-pop-panel">
        <div>
            <span class="keyword-search"></span>
            <strong class="left-mid-amount" style="float:right;margin-right: 60px;"></strong>
        </div>
        <div class="right-panel-up-1-down-body-banner">
            <div>
                <div>12345热线</div>
                <div class="left-mid-amount"></div>
            </div>
            <div>
                <div>接处警</div>
                <div class="left-mid-amount"></div>
            </div>
            <div>
                <div>案件</div>
                <div class="left-mid-amount"></div>
            </div>
        </div>
        <div>
            群众诉求分析
        </div>
        <div class="search-pop-nav">
            <div class="search-nav-selected">一单元</div>
            <div>二单元</div>
            <div>三单元</div>
        </div>
        <div id="search-pop-chart"></div>
    </div>
    <div class="right-panel">
        <div class="right-panel-menu">
            <div class="fold-btn">
                <div class="fold-img"></div>
                <div>
                    民意指数
                </div>
            </div>
            <div class="setting-btn"></div>
        </div>
        <div class="right-panel-panel">
            <div class="right-panel-up">
                <div class="right-panel-up-1">
                    <div class="right-panel-up-1-up">
                        <div>
                            <div class="right-name1">执法公信力指数</div>
                            <div class="right-amount1"></div>
                        </div>
                        <div>
                            <div class="right-name1">社会治安满意度</div>
                            <div class="right-amount1"></div>
                        </div>
                        <div>
                            <div class="right-name1">公安队伍满意度</div>
                            <div class="right-amount1"></div>
                        </div>
                    </div>
                    <div class="right-panel-up-1-down">
                        <div class="right-panel-up-1-down-header">
                            <img src="../../img/myhc/box.png">
                            <span style="margin-left: 10px;">民意诉求分析</span>
                        </div>
                        <div class="right-panel-up-1-down-body">
                            <div>
                                <img src="../../img/myhc/myzs/sq_icon.png" style="margin-top: 1px;margin-left: 10px;">
                                <span style="margin-left: 10px;">群众诉求总量</span>
                                <strong class="right-mid-amount" style="margin-left: 60px;"></strong>
                            </div>
                            <div class="right-panel-up-1-down-body-banner">
                                <div>
                                    <div>12345热线</div>
                                    <div class="right-mid-amount"></div>
                                </div>
                                <div>
                                    <div>接处警</div>
                                    <div class="right-mid-amount"></div>
                                </div>
                                <div>
                                    <div>案件</div>
                                    <div class="right-mid-amount"></div>
                                </div>
                            </div>
                            <div id="right-banner-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="right-panel-up-2">
                    <div>
                        <div class="right-amount2">

                        </div>
                        <div class="right-name2">
                            110接处警满意度
                        </div>
                    </div>
                </div>
                <div class="right-panel-up-3">
                    <div class="right-up-title">
                        窗口服务满意度
                    </div>
                    <div class="right-up-banner">
                        <div class="right-up-banner-left">
                        </div>
                        <div class="right-up-banner-right">
                            <div>
                                <span>同比</span>
                                <div>
                                    <i class="glyphicon"></i>
                                    <strong></strong>
                                </div>
                            </div>
                            <div>
                                <span>环比</span>
                                <div class="banner-color2">
                                    <i class="glyphicon"></i>
                                    <strong></strong>
                                </div>
                            </div>
                            <div>
                                <span>办理量</span>
                                <div class="banner-color3">
                                    <strong class="banner-color3"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-up-body">
                    </div>
                </div>
            </div>
            <div class="right-panel-down">
                <div class="right-panel-header">
                    <img src="../../img/myhc/box.png">
                    <span>民意热点问题</span>
                </div>
                <div class="right-panel-body">
                </div>
            </div>
            <div class="right-panel-ck">
                <header>
                    <header>窗口服务满意度</header>
                    <article>
                        <div class="ck-header-name"></div>
                        <div>
                            <strong class="ck-header-value"></strong>
                            <span>家</span>
                        </div>
                    </article>
                </header>
                <banner class="ck-banner"></banner>
                <section>
                    <header>
                        <img src="../../img/myhc/box.png">
                        <span>民意排行榜</span>
                        <div>
                            <select id="type1">
                            </select>
                            <select id="type2">
                                <option value="0">好评榜</option>
                                <option value="1">曝光台</option>
                            </select>
                        </div>
                    </header>
                    <section style="margin-top: 10px;">
                        <header>
                            <img src="../../img/myhc/myzs/dept.png">
                            <span>单位榜单</span>
                            <select id="type3">
                                <option value="0">满意度</option>
                                <option value="1">业务量</option>
                            </select>
                        </header>
                        <tab class="tab1"></tab>
                    </section>
                    <section>
                        <header>
                            <img src="../../img/myhc/myzs/peo.png">
                            <span>人员榜单</span>
                            <select id="type4">
                                <option value="0">满意度</option>
                                <option value="1">业务量</option>
                            </select>
                        </header>
                        <tab class="tab2"></tab>
                    </section>
                </section>
            </div>
        </div>
    </div>
    <div class="select-tab">
        <div class="sharp-angle"></div>
        <div class="select-option">数据录入</div>
        <div class="select-option">系数配置</div>
        <div class="select-option">展示配置</div>
    </div>
    <div class="pop-mask"></div>
    <div class="pop-panel">
        <div>
            <span>执法公信力指数分析</span>
            <i class="glyphicon glyphicon-remove"></i>
        </div>
        <div>
            <div class="pop-panel-header">
                <img src="../../img/myhc/myzs/class.png">
                <span>指标组成</span>
            </div>
            <div class="pop-panel-body">
                <div style="margin-left: 0;">
                    <div class="body-row body-header">
                        <div class="body-cell cell-title">主体合法性</div>
                        <div class="body-cell  cell-color1"></div>
                    </div>
                    <div class="body-row body-row-body">
                        <div class="body-cell">法治认同</div>
                        <div class="body-cell cell-color"></div>
                    </div>
                    <div class="body-row body-row-body">
                        <div class="body-cell">公开舆论</div>
                        <div class="body-cell cell-color"></div>
                    </div>
                    <div class="body-row body-row-body">
                        <div class="body-cell">申诉通过率</div>
                        <div class="body-cell cell-color"></div>
                    </div>
                </div>
                <div style="display: block;">
                    <div class="body-header">
                        <div class="body-row">
                            <div class="body-cell cell-title">执法有效性</div>
                            <div class="body-cell cell-color2"></div>
                        </div>
                    </div>
                    <div class="body-container">
                        <div class="body-row body-row-body">
                            <div class="body-cell">执法结果</div>
                            <div class="body-cell cell-color"></div>
                        </div>
                        <div class="body-row body-row-body">
                            <div class="body-cell">执法效果</div>
                            <div class="body-cell cell-color"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="body-row body-header">
                        <div class="body-cell cell-title">执法正当性</div>
                        <div class="body-cell cell-color3"></div>
                    </div>
                    <div class="body-row body-row-body">
                        <div class="body-cell">执法监督</div>
                        <div class="body-cell cell-color"></div>
                    </div>
                    <div class="body-row body-row-body">
                        <div class="body-cell">民众感受</div>
                        <div class="body-cell cell-color"></div>
                    </div>
                    <div class="body-row body-row-body">
                        <div class="body-cell">信息公开</div>
                        <div class="body-cell cell-color"></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="chart-body">
                <div class="pop-panel-header">
                    <img src="../../img/myhc/myzs/class.png">
                    <span>执法公信力走势分析</span>
                </div>
                <div class="chart-container" id="pop-chart1">

                </div>
            </div>
            <div class="chart-body">
                <div class="pop-panel-header">
                    <img src="../../img/myhc/myzs/class.png">
                    <span>单位情况</span>
                    <div class="pop-nav">
                        <div class="nav-selected">一单元</div>
                        <div>二单元</div>
                        <div>三单元</div>
                    </div>
                </div>
                <div class="chart-container" id="pop-chart2"></div>
            </div>
        </div>
    </div>
    <div class="pop-panel2">
        <div class="pop-panel2-header">
            社会治安满意度调查情况
            <i class="glyphicon glyphicon-remove"></i>
        </div>
        <div class="pop-panel2-body">
            <div>
                <img class="return-img" src="../../img/myhc/myzs/return-btn.png">
            </div>
            <div id="pop2-chart"></div>
        </div>
    </div>
    <div class="pop-setting1 pop-setting">
        <div class="setting1-header">
            <span>时间：</span>
            <input id="pop-date1" class="pop-date" readonly>
            <div>执法公信力指数数据录入</div>
            <i class="glyphicon glyphicon-remove setting1-back"></i>
        </div>
        <div class="setting1-body">
            <div>
                <div class="tab-cell tab-header">单位</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">公共舆情（正）</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">公共舆情（负）</div>
                <div class="tab-cell tab-header">有责信访</div>
                <div class="tab-cell tab-header">违纪违法</div>
                <div class="tab-cell tab-header">案件审核率</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">案件检查监督</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">行政复议/诉讼</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">警情公示统计</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">案情公示统计</div>
                <div class="tab-cell tab-header">财物公示</div>
                <div class="tab-cell tab-header" style="line-height: 18px;">人员措施公示</div>
                <div class="tab-cell tab-header" style="line-height: 18px;border-right: 1px #D3D5E2 solid;">法律文书公示</div>
            </div>
            <div>
                <div class="tab-cell tab-header">玄武</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">秦淮</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">建邺</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">鼓楼</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">浦口</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">江北</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">栖霞</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">雨花台</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">江宁</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">六合</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">溧水</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div>
                <div class="tab-cell tab-header">高淳</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>
            <div style="border-bottom: 1px #D3D5E2 solid;">
                <div class="tab-cell tab-header">经济技术</div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell"><input type="text"></div>
                <div class="tab-cell" style="border-right: 1px #D3D5E2 solid;"><input type="text"></div>
            </div>

        </div>
        <div class="setting-footer">
            <div>
                <div class="submit-btn1" style="float: left;background-color: #4A9DD3;color: #fff;">提交</div>
                <div style="float: right;" class="setting1-back">返回</div>
            </div>
        </div>
    </div>
    <div class="pop-setting2 pop-setting">
        <div class="setting2-header">
            执法公信力指数系数配置
            <i class="glyphicon glyphicon-remove setting2-back"></i>
        </div>
        <div class="setting2-banner">
            <input id="pop-date2" class="pop-date" style="height: 25px;" readonly>
            <span>系数配置</span>
        </div>
        <div class="setting2-body">
            <div class="left-tab left-tab1">
                <div class="first-col">
                    <div>
                        执法公信力指数
                    </div>
                </div>
                <div class="second-col">
                    <div style="height: calc(100% * 6 / 21);line-height: calc(540px * 6 / 21);">主体合法性</div>
                    <div style="height: calc(100% * 4 / 21);line-height: calc(540px * 4 / 21);">执法有效性</div>
                    <div style="height: calc(100% * 11 / 21);line-height: calc(540px * 11 / 21);border-bottom: 1px solid #D2D4E0">
                        执法正当性
                    </div>
                </div>
                <div class="third-col">
                    <div style="height: calc(100% * 3 / 21);line-height: calc(540px * 3 / 21);">法治认同</div>
                    <div style="height: calc(100% * 1 / 21);line-height: calc(540px * 1 / 21);">公共舆论</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">申诉通过率</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">执法结果</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">执法效果</div>
                    <div style="height: calc(100% * 5 / 21);line-height: calc(540px * 5 / 21);">执法监督</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">民众感受</div>
                    <div style="height: calc(100% * 4 / 21);line-height: calc(540px * 4 / 21);border-bottom: 1px solid #D2D4E0;">
                        信息公开
                    </div>
                </div>
                <div class="forth-col">
                    <div>法治体系、精神的认同</div>
                    <div>法律政策和条文的完备</div>
                    <div>法律执行有效性认同</div>
                    <div>正面/负面</div>
                    <div>窗口服务、警情申诉通过率</div>
                    <div>案件处理、交通事故申诉通过率</div>
                    <div>违法犯罪类警情同比</div>
                    <div>刑事案件破案率同比</div>
                    <div>社会治安满意度</div>
                    <div>公安队伍满意度</div>
                    <div>有责信访案件</div>
                    <div>民警违纪违法</div>
                    <div>案件审核率</div>
                    <div>案件检察监督</div>
                    <div>行政复议和行政诉讼处理</div>
                    <div>110接处警满意度</div>
                    <div>案件办理和事故处理评价</div>
                    <div>警情/案件公示率</div>
                    <div>财物公示率</div>
                    <div>人员措施公示率</div>
                    <div style="border-bottom: 1px solid #D2D4E0;">法律文书公示率</div>
                </div>
            </div>
            <div class="right-tab right-tab1">
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div style="border-bottom: 1px solid #D2D4E0;"><input type="text"></div>
            </div>
        </div>
        <div class="setting-footer">
            <div>
                <div class="submit-btn2" style="float: left;background-color: #4A9DD3;color: #fff;">提交</div>
                <div class="reset-btn2" style="float: left;margin-left: 35px;">重置</div>
                <div style="float: right;" class="setting2-back">返回</div>
            </div>
        </div>
    </div>
    <div class="pop-setting3 pop-setting">
        <div class="setting2-header">
            执法公信力指数展示配置
            <i class="glyphicon glyphicon-remove setting3-back"></i>
        </div>
        <div class="setting3-banner">
            <div>
                <span>单位：</span>
                <input id="pop-dept-name" class="pop-date" style="height: 25px;width: 200px;" readonly>
                <input type="hidden" id="pop-dept-id"/>
            </div>
            <div>
                <span>时间：</span>
                <input id="pop-date3" class="pop-date" style="height: 25px;" readonly>
                <span>至</span>
                <input id="pop-date4" class="pop-date" style="height: 25px;" readonly>
            </div>
        </div>
        <div class="setting2-body">
            <div class="left-tab left-tab2">
                <div class="first-col">
                    <div>
                        执法公信力指数
                    </div>
                    <div class="num-div"></div>
                </div>
                <div class="second-col">
                    <div style="height: calc(100% * 6 / 21);">
                        <div style="margin-top: 59px;">主体合法性</div>
                        <div class="num-div"></div>
                    </div>
                    <div style="height: calc(100% * 4 / 21);">
                        <div style="margin-top: 30px;">执法有效性</div>
                        <div class="num-div"></div>
                    </div>
                    <div style="height: calc(100% * 11 / 21);border-bottom: 1px solid #D2D4E0">
                        <div style="margin-top: 111px;">执法正当性</div>
                        <div class="num-div"></div>
                    </div>
                </div>
                <div class="third-col">
                    <div style="height: calc(100% * 3 / 21);line-height: calc(540px * 3 / 21);">法治认同</div>
                    <div style="height: calc(100% * 1 / 21);line-height: calc(540px * 1 / 21);">公共舆论</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">申诉通过率</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">执法结果</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">执法效果</div>
                    <div style="height: calc(100% * 5 / 21);line-height: calc(540px * 5 / 21);">执法监督</div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);">民众感受</div>
                    <div style="height: calc(100% * 4 / 21);line-height: calc(540px * 4 / 21);border-bottom: 1px solid #D2D4E0;">
                        信息公开
                    </div>
                </div>
                <div class="forth-col1">
                    <div style="height: calc(100% * 3 / 21);line-height: calc(540px * 3 / 21);"></div>
                    <div style="height: calc(100% * 1 / 21);line-height: calc(540px * 1 / 21);"></div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);"></div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);"></div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);"></div>
                    <div style="height: calc(100% * 5 / 21);line-height: calc(540px * 5 / 21);"></div>
                    <div style="height: calc(100% * 2 / 21);line-height: calc(540px * 2 / 21);"></div>
                    <div style="height: calc(100% * 4 / 21);line-height: calc(540px * 4 / 21);border-bottom: 1px solid #D2D4E0;">

                    </div>
                </div>
                <div class="forth-col2">
                    <div>法治体系、精神的认同</div>
                    <div>法律政策和条文的完备</div>
                    <div>法律执行有效性认同</div>
                    <div>正面/负面</div>
                    <div>窗口服务、警情申诉通过率</div>
                    <div>案件处理、交通事故申诉通过率</div>
                    <div>违法犯罪类警情同比</div>
                    <div>刑事案件破案率同比</div>
                    <div>社会治安满意度</div>
                    <div>公安队伍满意度</div>
                    <div>有责信访案件</div>
                    <div>民警违纪违法</div>
                    <div>案件审核率</div>
                    <div>案件检察监督</div>
                    <div>行政复议和行政诉讼处理</div>
                    <div>110接处警满意度</div>
                    <div>案件办理和事故处理评价</div>
                    <div>警情/案件公示率</div>
                    <div>财物公示率</div>
                    <div>人员措施公示率</div>
                    <div style="border-bottom: 1px solid #D2D4E0;">法律文书公示率</div>
                </div>
            </div>
            <div class="right-tab right-tab2">
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>个</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>个</span></div>
                <div><input type="text"><span>个</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>个</span></div>
                <div><input type="text"><span>个</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div><input type="text"><span>%</span></div>
                <div style="border-bottom: 1px solid #D2D4E0;"><input type="text"><span>%</span></div>
            </div>
        </div>
        <div class="setting-footer">
            <div>
                <div class="submit-btn3" style="float: left;background-color: #4A9DD3;color: #fff;">提交</div>
                <div class="reset-btn3" style="float: left;margin-left: 35px;">重置</div>
                <div style="float: right;" class="setting3-back">返回</div>
            </div>
        </div>
    </div>
    <div class="inner-pop-panel">
        <ul>
        </ul>
    </div>
</div>