<link rel="stylesheet" type="text/css" href="../../css/myhc/rdwt.css" />

<header class="up-panel">
  <select id="type">
    <option value="0">全部</option>
    <option value="1">业务</option>
    <option value="2">问题</option>
    <option value="3">队伍</option>
  </select>
  <input class="form-control" id="dept-name" placeholder="市局/分局" readonly />
  <input type="hidden" id="dept-id" disabled />
  <input class="form-control" id="date1" placeholder="时间" readonly />
  <input class="form-control" id="date2" placeholder="时间" readonly />
  <button class="search-btn"></button>
  <button class="setting-btn"></button>
  <div id="dept-tree"></div>
</header>

<section class="mid-header">
  <div>
    <i>1</i>
    <div>
      <span>TOP1</span>
      <span>热度</span>
      <strong></strong>
      <img src="../../img/zxyp/aj/redian.png" />
      <img src="../../img/zxyp/aj/redian.png" />
      <img src="../../img/zxyp/aj/redian.png" />
    </div>
    <div class="content-div">全市户籍办理业务中外地迁入城区业务群众</div>
    <div class="area-div">高发单位：鼓楼分局 建邺分局 江宁分局</div>
  </div>
  <div>
    <i>2</i>
    <div>
      <span>TOP2</span>
      <span>热度</span>
      <strong>2902</strong>
      <img src="../../img/zxyp/aj/redian.png" />
      <img src="../../img/zxyp/aj/redian.png" />
    </div>
    <div class="content-div">全市户籍办理业务中外地迁入城区业务群众</div>
    <div class="area-div">高发单位：鼓楼分局 建邺分局 江宁分局</div>
  </div>
  <div>
    <i>3</i>
    <div>
      <span>TOP3</span>
      <span>热度</span>
      <strong>2902</strong>
      <img src="../../img/zxyp/aj/redian.png" />
    </div>
    <div class="content-div">全市户籍办理业务中外地迁入城区业务群众</div>
    <div class="area-div">高发单位：鼓楼分局 建邺分局 江宁分局</div>
  </div>
</section>
<section class="mid-body">
  <div>
    <div><img src="../../img/myhc/rdwt/star.png" /><span>TOP1</span></div>
    <div><img src="../../img/myhc/rdwt/redian.png" /><span>1756</span></div>
    <div>队伍</div>
    <div>交通警察支队在接处警业务中，只联系不出警问题较为突出。</div>
    <div>鼓楼分局、浦口分局、江宁分局</div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>

<footer class="down-panel">
  <section>
    <header>热点问题走势分析</header>
    <chart id="chart1"></chart>
  </section>
  <section>
    <header>诉求性质分析</header>
    <chart id="chart2"></chart>
  </section>
  <section>
    <header id="chart3-title"></header>
    <div class="pop-title">
      <div></div>
      <div>总量</div>
    </div>
    <chart id="chart3"></chart>
  </section>
  <section>
    <header>诉求单位分析</header>
    <chart id="chart4"></chart>
  </section>
</footer>

<div class="pop-panel"></div>
