<link rel="stylesheet" type="text/css" href="../../css/myhc/rdwt.css" />

<header class="up-panel">
  <input id="dept-name" placeholder="市局/分局" readonly />
  <input type="hidden" id="dept-id" disabled />
  <input id="date1" placeholder="时间" readonly />
  <input id="date2" placeholder="时间" readonly />
  <button class="search-btn"></button>
  <div id="dept-tree"></div>
</header>

<section class="mid-panel">
  <header>
    <div>
      <img src="../../img/myhc/rdwt/hottopics.png" />
      <span>热点问题</span>
    </div>
    <div class="setting-btn">
      <img src="../../img/myhc/rdwt/set.png" />
      <span>设置</span>
    </div>
    <div class="mybd-btn">
      <img src="../../img/myhc/rdwt/paixingbang.png" />
      <span>民意榜单</span>
    </div>  
  </header>
  <section>
    <div></div>
    <div></div>
  </section>
  <section>
    <div></div>
    <div></div>
  </section>
  <section>
    <div></div>
    <div></div>
  </section>
  <div class="clear-div"></div>
  <fieldset></fieldset>
  <fieldset></fieldset>
</section>

<footer class="down-panel">
  <section>
    <header>热点问题走势分析</header>
    <chart id="chart1"></chart>
  </section>
  <section>
    <header>群众反馈诉求性质分析</header>
    <chart id="chart2"></chart>
  </section>
  <section>
    <header id="chart3-title"></header>
    <div class="pop-title">
      <div></div>
      <div>总量</div>
    </div>
    <chart id="chart3"></chart>
  </section>
  <section>
    <header>群众诉求单位分析</header>
    <chart id="chart4"></chart>
  </section>
</footer>

<div class="pop-panel"></div>