<link rel="stylesheet" href="../../css/myhc/rdwt_setting.css" />

<header class="up-panel">
  <input id="dept-name" placeholder="市局/分局" readonly />
  <input type="hidden" id="dept-id" disabled />
  <input id="date1" placeholder="时间" readonly />
  <input id="date2" placeholder="时间" readonly />
  <button class="search-btn"></button>
  <div id="dept-tree"></div>
</header>

<section class="left-panel">
  <header>
    <section class="nav-hover">业务归口模型</section>
    <section>具体问题模型</section>
    <section>队伍管理模型</section>
  </header>
  <tab>
    <div class="row-head">
      <row class="row-header1">
        <cell
          ><span>单位</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell
          ><span>一级标签</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell
          ><span>二级标签</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell
          ><span>三级标签</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell>四级标签</cell>
        <cell
          ><span>绝对量</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
        <cell
          ><span>增量</span
          ><img
            class="head-img2"
            selected="selected"
            src="../../img/myhc/rdwt/sort_desc.png"
        /></cell>
        <cell
          ><span>增幅</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
        <cell
          ><span title="民意110渠道">民意110渠道</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
        <cell
          ><span>12345渠道</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
      </row>
      <row class="row-header2">
        <cell
          ><span>单位</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell
          ><span>一级标签</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell
          ><span>二级标签</span
          ><img class="head-img1" src="../../img/myhc/rdwt/selector.png"
        /></cell>
        <cell><span>三级标签</span></cell>
        <cell
          ><span>绝对量</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
        <cell
          ><span>增量</span
          ><img
            class="head-img2"
            selected="selected"
            src="../../img/myhc/rdwt/sort_desc.png"
        /></cell>
        <cell
          ><span>增幅</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
        <cell
          ><span title="民意110渠道">民意110渠道</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
        <cell
          ><span>12345渠道</span
          ><img class="head-img2" src="../../img/myhc/rdwt/sort_defalut.png"
        /></cell>
      </row>
    </div>
    <div class="row-body"></div>
  </tab>
  <footer>
    <div>
      <button>预览</button>
      <button>返回</button>
    </div>
  </footer>
</section>
<section class="right-panel">
  <header>
    <img src="../../img/myhc/rdwt/hottopics.png" />
    <span>数据选择列表</span>
  </header>
  <section>
    <row>
      <cell>1、养多条犬</cell>
      <cell>南京市公安局</cell>
      <cell>
        <span class="span-model3">业务</span>
        <i class="glyphicon glyphicon-remove"></i>
      </cell>
    </row>
  </section>
</section>
