<link rel="stylesheet" type="text/css" href="../../css/myhc/rightMenu.css">

<div class="menuDialog">
    <div style="height: calc(50% + 70px);">
        <div class="menuTitle">
            <img src="../../img/myhc/box.png" /> <span>民意热点</span>
        </div>

        <div class="rcGrid"></div>
    </div>

    <div style="height: calc(50% - 85px);">
        <div class="menuTitle">
            <img src="../../img/myhc/box.png" /> <span>民意云搜</span>
        </div>

        <div class="myys">
            <div class="search_bar">
                <input id="keywords" type="text" placeholder="请出入搜索内容" />

                <img src="../../img/myhc/checkcheck.png" />
            </div>

            <div class="hot_title">
                <div class="fire">
                    <img src="../../img/myhc/fire.png"> <span>热搜</span>
                </div>

                <div class="refresh">
                    <span>换一换</span> <img src="../../img/myhc/refresh.png">
                </div>
            </div>

            <div class="hot_list"></div>
        </div>
    </div>
</div>

<script src="../../js/myhc/rightMenu.js"></script>