<link rel="stylesheet" href="../../css/myhc/ryqk.css"/>

<div class="pop-container">
    <div class="pop-header">
        <i class="glyphicon glyphicon-remove"></i>
    </div>
    <div class="pop-banner">
        <div class="pop-date-group">
            <input id="pop-date1" class="pop-date" readonly>
            <span>&nbsp;至&nbsp;</span>
            <input id="pop-date2" class="pop-date" readonly>
            <img src="../../img/myhc/rdwt/btn_search.png">
        </div>
        <div class="pop-switch">
            <div class="pop-switch-hover pop-switch-first">曝光台</div>
            <div>好评榜</div>
        </div>
    </div>
    <div class="pop-body">
        <div class="pop-body-col">
            <div class="pop-body-col-header">
                110接处警
            </div>
            <div class="pop-body-col-body">
                <div></div>
            </div>
        </div>
        <div class="pop-body-col">
            <div class="pop-body-col-header">
                <select>
                    <option value="0">窗口服务</option>
                    <option value="3">户政业务</option>
                    <option value="4">出入境业务</option>
                    <option value="2">车管车辆</option>
                    <option value="1">车管驾证</option>
                    <option value="5">监管业务</option>
                </select>
            </div>
            <div class="pop-body-col-body">
            </div>
        </div>
        <div class="pop-body-col">
            <div class="pop-body-col-header">
                案件办理
            </div>
            <div class="pop-body-col-body">
            </div>
        </div>
        <div class="pop-body-col" style="margin-right: 20px">
            <div class="pop-body-col-header">
                社区民警熟悉率
            </div>
            <div class="pop-body-col-body">
            </div>
        </div>
    </div>
</div>
<script src="../../js/myhc/ryqk.js"></script>