<div class="chartPannel">
  <div class="close_close">X</div>

  <div id="chart_title">南京市公安局社会治安满意度分析</div>

  <div class="firstPannel">
    <div class="switch-pannel first-switch">
      <div class="selected" id="half-year">半年</div>
      <div style="border: 0;" id="one-year">一年</div>
    </div>

    <div class="tool_tip1">
      <div class="labelLine1">
        <img id="firstLine" src="../../img/myhc/line1.png" />
      </div>

      <div class="b">
        <div></div>

        <div></div>

        <div></div>
      </div>
    </div>

    <div class="tool_tip4">
      <div class="labelLine2">
        <img id="secondLine" src="../../img/myhc/line2.png" />
      </div>

      <div class="g" style="margin-top: 25%;">
        <div></div>
      </div>
    </div>

    <div class="tool_tip3">
      <div class="labelLine3">
        <img id="thirdLine" src="../../img/myhc/line3.png" />
      </div>

      <div class="p" style="margin-top: 25%;">
        <div></div>
      </div>
    </div>

    <div id="left_chart"></div>

    <div id="right_chart"></div>
  </div>

  <div class="secondPannel">
    <div id="fj_sd" class="switch-pannel second-switch">
      <div class="lkj">分局TOP5</div>

      <div class="lkj" style="border: 0;">所队TOP10</div>
    </div>

    <div class="tab_pannel">
      <!--<div>全局</div>-->

      <div class="lkj">一单元</div>

      <div class="lkj">二单元</div>

      <div class="lkj">三单元</div>

      <div class="lkj" style="border: 0;">其他</div>
    </div>

    <div id="down_chart"></div>
  </div>
</div>

<script src="../../js/myhc/window1.js"></script>
