<link rel="stylesheet" type="text/css" href="../../css/myhc/ysxq.css">

<div class="view">
    <div>
        <div class="back">
            <div id="back">
                <img src="../../img/myhc/back.png" />

                <span>返回</span>
            </div>
        </div>

        <div class="list">
            <div>
                <div class="line"></div>

                <div class="search_bar">
                    <div class="title">
                        <img src="../../img/myhc/cloud_search.png" />
                    </div>

                    <div class="text">
                        <input type="text" id="keywords" placeholder="请输入要搜索内容" />
                    </div>

                    <div class="check">搜 索</div>
                </div>

                <div class="grid"></div>

                <ul id="pageLimit"></ul>
            </div>
        </div>
    </div>
</div>