<link rel="stylesheet" type="text/css" href="../../css/myhc/znfx.css" />

<div class="content">
  <div class="search_pannel">
    <input type="text" id="place" placeholder="市局/分局" readonly />
    <input type="hidden" id="placeCode" />
    <input type="hidden" id="tempID" />

    <input
      class="form-control"
      id="date1"
      placeholder="开始时间"
      type="text"
      value=""
      size="16"
      readonly
    />
    -
    <input
      class="form-control"
      id="date2"
      placeholder="结束时间"
      type="text"
      value=""
      size="16"
      readonly
    />

    <!--<img class="search" src="../../img/myhc/search_blue.png" />-->
  </div>

  <div id="left-tree"></div>

  <div class="list">
    <div class="tab_pannel">
      <div class="left_pannel">
        <div class="top">
          <div class="search_bar">
            <input id="keywords" type="text" />
          </div>

          <div class="check">
            <img src="../../img/myhc/check.png" /> <span>搜索</span>
          </div>
        </div>

        <div class="splitLine2"></div>

        <div class="top">
          <div class="navigor"></div>

          <div class="history">收藏历史</div>
        </div>

        <div class="splitLine2"></div>

        <div class="sqfx">
          <div class="lab" id="sqfx">诉求分析 ></div>

          <div class="tab2">
            <div class="firstTab"></div>

            <div class="firstList">
              <!--<div class="line"></div>-->

              <ul></ul>

              <div class="triangle_left"></div>

              <div class="last"></div>
            </div>
          </div>
        </div>

        <div class="splitLine2" style="margin-top: 25px;"></div>

        <div class="ywgk_jtwt">
          <div class="ywgk">
            <div class="lab" id="ywgk">业务归口 ></div>

            <div class="tab2">
              <div class="secondTab"></div>

              <div class="secondList">
                <!--<div class="line"></div>-->

                <ul></ul>

                <div class="triangle_left"></div>

                <div class="last"></div>
              </div>
            </div>
          </div>

          <div class="jtwt">
            <div class="lab" id="jtwt">具体问题 ></div>

            <div class="tab2">
              <div class="thirdTab"></div>

              <div class="thirdList">
                <!--<div class="line"></div>-->

                <ul></ul>

                <div class="triangle_left"></div>

                <div class="last"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="splitLine2" style="margin-top: 25px;"></div>

        <div class="bt">
          <div id="check">分析</div>

          <div id="reset">重置</div>

          <div id="back">返回</div>
        </div>
      </div>

      <div class="splitLine"></div>
    </div>

    <div class="chartPannel">
      <div class="collect">
        <img src="../../img/myhc/collect.jpg" />
      </div>

      <div>
        <div id="pie"></div>
      </div>

      <div>
        <div class="tab_pannel2" style="display: none;">
          <div>一单元</div>

          <div>二单元</div>

          <div>三单元</div>

          <div style="border: 0;">其他</div>
        </div>

        <div id="line"></div>
      </div>
    </div>
  </div>
</div>
